<li class="course-list-item">
    <div class="pull-left">
        <em class="icon-facetime-video"></em>
    </div>
    <div class="course-list-content">
        <h4><a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix item.video.slug %}" title="{{item.video.description}}">{{item.video.title}}</a> ({{item.video.runtime}}){% if item.video.dl_link %}<a href="{{item.video.dl_link}}" class="btn btn-mini" title="Download"><em class="icon-download-alt"></em></a>{% endif %}</h4>
        {% if item.completed_percent > 90 %}
        <div class="progress progress-success progress-striped">
        {% else %}
        <div class="progress progress-info progress-striped">
        {% endif %}
            <div class="bar" style="width:{{item.completed_percent}}%"></div>
        </div>
    </div>
</li>
