{% extends "base.html" %}

{% block m_column_content %}

<h2>{{course.title}}</h2>

<h3>Recent Announcements</h3>

{% for announcement in announcement_list %}
    
    <h4>{{announcement.title}}</h4>
    <p>{{announcement.description}}</p>
    <palign="right"> {{announcement.time_created}} by {{announcement.owner}}</p>
    <hr>

{% endfor %}
{% endblock m_column_content %}


{%block r_column_content %}
<div class="news_feed">
    <h3>Recent Events</h3>

    {% for event in news_list %}

        <p><b>{{event.event}}</b></br>
            <align="right"><font size=".3">{{event.time_created}}</font></align>
        </p>

    {% endfor %}
    <a href="#">All Events</a>
</div>
{% endblock r_column_content %}
