.course_left_navbar h1 {font-size: 12pt; color: #808080;}
.course_left_navbar h2 {font-size: 12pt; color: #808080; margin-left: 5px;}
.course_left_navbar h3 {font-size: 12pt; color: #808080; margin-left: 10px;}
.course_left_navbar h4 {font-size: 12pt; color: #808080; margin-left: 15px;}
.course_left_navbar div {font-size: 12pt; color: #800000; margin-left: 20px;}