{% extends "course_base.html" %}
{% load url from future %}

{% block course_info_link_class %}{% if page.menu_slug %} active{% endif %}{% endblock course_info_link_class %}
{% block course_materials_link_class %}{% if not page.menu_slug %}class="active"{% endif %}{% endblock course_materials_link_class %}


{% block course_page_title %}{{page.title}} (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>){% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if page.is_synced %}
    <div class="alert alert-success">
        <em class="icon-ok" style="font-size:17px"></em> <strong>Working=Ready</strong> The working and ready versions are the same.
    </div>
    {% else %}
    <div class="alert">
        <em class="icon-random" style="font-size:17px"></em> Working version is different from ready.
    </div>
    {% endif %}
    {% ifnotequal page.slug 'overview' %}
    <form name="delete_page_form" action="{% url 'courses.additional_pages.actions.delete' %}" method="POST">
        <input type="hidden" name="page_id" value="{{page.id}}">
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        {% csrf_token %}
    </form>
    {% endifnotequal %}
    <form name="edit_form" action="{% url 'courses.additional_pages.actions.save' %}" method="POST">
        <fieldset class="well">

        {% ifnotequal page.slug 'overview' %}
        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
                <input name="title" value="{{page.title}}" type="text" />
            </div>
        </div>
        {% else %}
            <input type='hidden' name='title' value='Overview' />
        {% endifnotequal %}
        <p><span style='text-decoration: italic; font-weight: bold;'>Note:</span> To insert hyperlinks, please select the text that will be the link, then click the button that looks like a chain. <span style='text-decoration: italic; font-weight: bold;'>Always use absolute URLs only (http://.....)</span>.</p>
        <div class="control-group">
            <div class="controls">
                <textarea name="description" class="tinymce">
                    {% autoescape off %}{{page.description}}{% endautoescape %}
                </textarea>
            </div>
        </div>
        
        {% ifnotequal page.slug 'overview' %}
        <div class="control-group">
            <label class="control-label">URL identifier</label>
            <div class="controls">
                <input name="slug" id="id_slug" value="{{page.slug}}" type="text" />
            </div>
	    <div id="slug_warning" style="display:none;margin-bottom:9px;color:#A07000">Changing this also changes the ready version's slug, and will break external references if it is live.</div>
        </div>
        {% else %}
            <input type='hidden' name='slug' value='overview' />
        {% endifnotequal %}

        {% ifnotequal page.slug 'overview' %}
        <div class="control-group">
            <label class="control-label">Item Parent</label>
            <div class="controls">
                <select name="parent" id="parent_id">
                    <!-- Filled by prefill_children() -->
                    {% if contentgroup_info %}
                        {% if contentgroup_info.parent_id != page.image.id %}
                            <option value="{{contentgroup_info.parent_type}},{{contentgroup_info.parent_id}}" selected>{{contentgroup_info.parent.title}}</option>
                        {% endif %}
                    {% endif %}
                </select>
            </div>
        </div>
        {% else %}
            <input type='hidden' name='parent' value='overview' />
        {% endifnotequal %}

        {% csrf_token %}
        <input type="hidden" name="page_id" value="{{page.id}}" />
        <input type="hidden" name="commit" id="commit" value="0" />
        <input type="hidden" name="revert" id="revert" value="0" />
        <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}" />
        <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}" />
        </fieldset>
        <div class="form-actions">
            <input type="button" value="Save and Set to Ready" onclick="Save(1,0);" class="btn btn-primary" />
            <input type="button" value="Save as Draft" onclick="Save(0,0);" class="btn" />
            {% if page.image %}
                <input type="button" value="Reset to Ready" onclick="Save(0,1);" class="btn" />
            {% endif %}
            <a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">Cancel</a>
            {% ifnotequal page.slug 'overview' %}
                <input type="button" class="btn" style="margin-left: 40px;" value="Delete page" onclick="if(confirm('Are you sure you want to delete this page?')) {document.forms.delete_page_form.submit()}" />
            {% endifnotequal %}
        </div>
    </form>
    <script type="text/javascript">
        function Save(commit, revert) {
            if (commit) $("#commit").val(1);
            if (revert) $("#revert").val(1);
            
            if (revert) {
                r = confirm("Reverting will cause all changes since the last publish to be lost. Are you sure you want to revert?");
                if (!r) return;
            }
            
            document.forms.edit_form.submit();
        }
    </script>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
{% include "controls/tinymce.html" %}
<script>
$('#id_slug').focus(function() {
    $('#slug_warning').show();
});
</script>
<script type="text/javascript">
    // force our handler to fire when the page first loads, in addition to onChange
    $("#parent_id").ready(
    function prefill_children() {
        var id = {{ page.section_id }}; /* FIXME: using template substitutions in js is evil. better to seed a data structure. */
        var pelement = $("#parent_id");
        pelement.append('<option value="none,none">(this is a top level page)</option>');
        jQuery.getJSON('/content_section/get_children_as_contentgroup_parents/'+id, function(data) {
            for (var i=0; i < data.length; i++) {
                // For the moment we filter out objects of other types, per the spec.
                // In the future this restriction will probably be lifted.
                // See also files/upload.html
                if (data[i][0] == 'additional_page') {
                    {% if contentgroup_info %}
                    if ((data[i][2] != "{{contentgroup_info.parent.title}}") && (data[i][2] != "{{page.title}}")) {
                        pelement.append('<option value="'+data[i][0]+','+data[i][1]+'">'+data[i][2]+'</option>');
                    }
                    {% else %}
                    if (data[i][2] != "{{page.title}}") {
                        pelement.append('<option value="'+data[i][0]+','+data[i][1]+'">'+data[i][2]+'</option>');
                    }
                    {% endif %}
                }
            }
        });
    });
</script>
{% endblock addl_scripts %}
