{% extends "course_base.html" %}
{% load url from future %}

{% block course_info_link_class %}{% if page.menu_slug %} active{% endif %}{% endblock course_info_link_class %}
{% block course_materials_link_class %}{% if not page.menu_slug %}class="active"{% endif %}{% endblock course_materials_link_class %}


{% block course_page_title %}{{page.title}} (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>){% endblock course_page_title %}

{% block addl_head_scripts %}
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #edit-container{
        position:relative;
        height:450px;
    }
    
    textarea.proxy {
        display: none;
    }
    
</style>
{% endblock addl_head_scripts %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if page.is_synced %}
    <div class="alert alert-success">
        <em class="icon-ok" style="font-size:17px"></em> <strong>Working=Ready</strong> The working and ready versions are the same.
    </div>
    {% else %}
    <div class="alert">
        <em class="icon-random" style="font-size:17px"></em> Working version is different from ready.
    </div>
    {% endif %}
    {% ifnotequal page.slug 'overview' %}
    <form name="delete_page_form" action="{% url 'courses.additional_pages.actions.delete' %}" method="POST">
        <input type="hidden" name="page_id" value="{{page.id}}">
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        {% csrf_token %}
    </form>
    {% endifnotequal %}
    <form name="edit_form" action="{% url 'courses.additional_pages.actions.save' %}" method="POST">
        <fieldset class="well">

        {% ifnotequal page.slug 'overview' %}
        <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
                <input name="title" value="{{page.title}}" type="text" />
            </div>
        </div>
        {% else %}
            <input type='hidden' name='title' value='Overview' />
        {% endifnotequal %}
                
        {% ifnotequal page.slug 'overview' %}
        <div class="control-group">
            <label class="control-label">URL identifier</label>
            <div class="controls">
                <input name="slug" id="id_slug" value="{{page.slug}}" type="text" />
            </div>
	    <div id="slug_warning" style="display:none;margin-bottom:9px;color:#A07000">Changing this also changes the ready version's slug, and will break external references if it is live.</div>
        </div>
        {% else %}
            <input type='hidden' name='slug' value='overview' />
        {% endifnotequal %}

        {% ifnotequal page.slug 'overview' %}
        <div class="control-group">
            <label class="control-label">Section</label>
            <div class="controls">
                <select name="section" id="section_id" {% if not page.section_id %}disabled="disabled"{% else %}onChange="prefill_children();"{% endif %}>
                    {% if not page.section_id %}
                        <option value="null" selected>** No content section **</option>
                    {% else %}
                        {% for section in sections %}
                            {% if page.section_id and page.section_id == section.id %}
                                <option value="{{section.id}}" selected>{{section.title}}</option>
                            {% else %}
                                <option value="{{section.id}}">{{section.title}}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        {% endifnotequal %}

        {% ifnotequal page.slug 'overview' %}
        <div class="control-group" id="parent_id_group">
            <label class="control-label">Item Parent</label>
            <div class="controls">
                <select name="parent" id="parent_id">
                    <!-- Filled by prefill_children() -->
                    {% if contentgroup_info %}
                        {% if contentgroup_info.PARENT.id != page.image.id %}
                            <option value="{{contentgroup_info.PARENT_TAG}},{{contentgroup_info.PARENT.id}}" selected>{{contentgroup_info.PARENT.title}}</option>
                        {% endif %}
                    {% endif %}
                </select>
            </div>
        </div>
        {% endifnotequal %}
            
        
        <textarea class="proxy" id="ace_proxy" name="description">{{page.description|safe}}</textarea>
        <label class="control-label">Page HTML</label>
            <div class="control-group">
                <input type="button" id="tinymce-entry-btn" class="btn" value="Open WYSIWYG Editor" title="Click to open WYSIWYG Editor" />
            </div>
        <div id="edit-container">
            <div id="editor"></div>
        </div>

       



        {% csrf_token %}
        <input type="hidden" name="page_id" value="{{page.id}}" />
        <input type="hidden" name="commit" id="commit" value="0" />
        <input type="hidden" name="revert" id="revert" value="0" />
        <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}" />
        <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}" />
        </fieldset>
        <div class="form-actions">
            <input type="button" value="Save and Set to Ready" onclick="Save(1,0);" class="btn btn-primary" />
            <input type="button" value="Save as Draft" onclick="Save(0,0);" class="btn" />
            {% if page.image %}
                <input type="button" value="Reset to Ready" onclick="Save(0,1);" class="btn" />
            {% endif %}
            <a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">Cancel</a>
            {% ifnotequal page.slug 'overview' %}
                <input type="button" class="btn" style="margin-left: 40px;" value="Delete page" onclick="if(confirm('Are you sure you want to delete this page?')) {document.forms.delete_page_form.submit()}" />
            {% endifnotequal %}
        </div>
    </form>
    
    <div id="dialog-form" title="WYSIWYG Editor">
        <label for="name" id="xml-import-label"><p>Use this Editor to Create your HTML.</p><p><span style='text-decoration: italic; font-weight: bold;'>Note:</span> To insert hyperlinks, please select the text that will be the link, then click the button that looks like a chain. <span style='text-decoration: italic; font-weight: bold;'>Always use absolute URLs only (http://.....)</span>.</p></label>
        <textarea class="tinymce" name="tinymce-entry" id="tinymce-entry" class="text ui-widget-content ui-corner-all"></textarea>
    </div>
    
    <script type="text/javascript">
        function Save(commit, revert) {
            $("#ace_proxy").val(editor.getValue());
            if (commit) $("#commit").val(1);
            if (revert) $("#revert").val(1);
            
            if (revert) {
                r = confirm("Reverting will cause all changes since the last publish to be lost. Are you sure you want to revert?");
                if (!r) return;
            }
            
            document.forms.edit_form.submit();
        }
    </script>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
{% include "controls/tinymce.html" %}
<script>
$('#id_slug').focus(function() {
    $('#slug_warning').show();
});
</script>
<script type="text/javascript">
    // force our handler to fire when the page first loads, in addition to onChange
    $("#parent_id").ready(prefill_children());
    function prefill_children() {
        var id = $('#section_id').val(); 
        var pelement = $("#parent_id");
        if (id === "null") {
            $('#parent_id_group').css('display', 'none');
        } else {
            $('#parent_id_group').css('display', 'inline');
            {% if contentgroup_info.PARENT.id != page.image.id %}  /* FIXME: using template substitutions in js is evil. better to seed a data structure. */
                pelement.html('<option value="{{contentgroup_info.PARENT_TAG}},{{contentgroup_info.PARENT.id}}" selected>{{contentgroup_info.PARENT.title}}</option>');
            {% else %}
                pelement.html('');
            {% endif %}
            pelement.append('<option value="none,none">(this is a top level page)</option>');
            jQuery.getJSON('/content_section/get_children_as_contentgroup_parents/'+id, function(data) {
                for (var i=0; i < data.length; i++) {
                    if ((data[i][0] == 'video') || (data[i][0] == 'exam') || (data[i][0] == 'additional_page')) {
                        {% if contentgroup_info %} 
                            if ((data[i][2] != "{{contentgroup_info.PARENT.title}}") && (data[i][2] != "{{page.title}}")) {
                                pelement.append('<option value="'+data[i][0]+','+data[i][1]+'">'+data[i][2]+'</option>');
                            }
                        {% else %}
                            if (data[i][2] != "{{page.title}}") {
                                pelement.append('<option value="'+data[i][0]+','+data[i][1]+'">'+data[i][2]+'</option>');
                            }
                        {% endif %}
                    }
                }
            });
        }
    }
</script>


<script src="{{STATIC_URL}}js/ace-min/ace.js"></script>
<script src="{{STATIC_URL}}js/core/beautify-html.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setValue($('#ace_proxy').val());
    editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/html");
    editor.getSession().setUseWrapMode(true);
    
    $( "#dialog-form" ).dialog({
       autoOpen: false,
       height: 600,
       width: "80%",
       modal: true,
       buttons: [{
                     text:"Write to HTML",
                     id:"import-html-button",
                     click: function() {
                             editor.setValue(style_html($('#tinymce-entry').val(), {'max_char':80}));
                             $(this).dialog("close");
                     }
                 },
                 {
                     text:"Cancel",
                     click: function() {
                             $(this).dialog("close");
                     }
                 }]
    });
    
    $('#tinymce-entry-btn').click(function() {
                              $("#tinymce-entry").val(editor.getValue());
                              $("#dialog-form").dialog( "open" );
                            });

</script>
{% endblock addl_scripts %}
