{% extends "course_base.html" %}
{% load url from future %}
{% block title %}{{ page.title }} | {{ common_page_data.course_title }}{% endblock title %}

{% block course_info_link_class %}{% if page.menu_slug %} active{% endif %}{% endblock course_info_link_class %}
{% block course_materials_link_class %}{% if not page.menu_slug %} active{% endif %}{% endblock course_materials_link_class %}

{% block course_page_title %}{{page.title}} (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course_title}}</a>){% endblock course_page_title %}

{% block addl_head_scripts %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                       tex2jax: {inlineMath: [['$$','$$']],
                       displayMath: [['\\[','\\]']]}
                       });
    </script>
{% if request.is_secure %}
<script type="text/javascript"
    src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{% else %}
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

{% endif %}
{% endblock addl_head_scripts %}

{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
    <!--Skeleton Div to be filled in by leftnav ajax -->
</div>
{% endblock l_column_content %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    {% ifnotequal page.description '' %}
        {% autoescape off %}{{page.description}}{% endautoescape %}
    {% else %}
        <p>No content has been added to this page yet.</p>
    {% endifnotequal %}
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
<script>
    $(document).ready(function(){
                        $("#c2g_layout_l_column").load("{% url 'courses.views.leftnav' common_page_data.course_prefix common_page_data.course_suffix  %}",
                            function() {
                                c2g.installLeftNavChevron();
                                $("#sidebar-nav-heading-{{ ready_section.id }}").removeClass("collapsed").addClass("expanded");
                                $("#sidebar-nav-{{ ready_section.id }}").addClass("in collapse");
                                $("#leftnav-li-page-{{ page.slug}}").addClass("current");
                        });
                      });
</script>
{% endblock %}
