{% extends "course_base.html" %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
  <h3>Upload File</h3>
  <form action="{% url reverseview %}" method="POST" onsubmit="return checkFilename();" enctype="multipart/form-data">
    <fieldset class="well">
      {% for field in form %}
        <div class="fieldWrapper">
          {{ field.errors }}
          {% if field.name == "live_datetime" %}
            <strong>Set Live Date</strong> <input type="checkbox" name="set_live_date" value="1" onchange="showLiveDate(this.checked)"/>
            <div id="live_date" style="display:none">{{ field }}</div>
          {% else %}
            {{ field.label_tag }}
            {{ field }}
          {% endif %}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
          {% endif %}
        </div>
      {% endfor %}
      <div class="fieldWrapper">
        <label for="parent_id">Parent</label>
        <select name="parent" id="parent_id"></select> <!-- filled in by prefill_children() -->
      </div>
    </fieldset>
    <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
    <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
    <input type="hidden" name="file_id" value="{{file.id}}" />
    {% csrf_token %}
    <input type="submit" value="Submit" class="btn"/>
  </form>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
<script type="text/javascript">
$('#id_section').change(function() { prefill_children($('#parent_id')[0]) });
$('#id_section').ready(function() { prefill_children($('#parent_id')[0]) });

function prefill_children(element) {
    var id = $('#id_section')[0].value
    var pelement = $('#parent_id');
    pelement.html('<option value="none,none">(this is a top level page)</option>');
    jQuery.getJSON('/content_section/get_children_as_contentgroup_parents/'+id, function(data) {
        for (var i=0; i < data.length; i++) {
            // For the moment we filter out objects of other types, per the spec.
            // In the future this restriction will probably be lifted.
            // See also add_section_page.html
            if ((data[i][0] === 'video') || (data[i][0] === 'file')) {
                pelement.append('<option value="'+data[i][0]+','+data[i][1]+'">'+data[i][2]+'</option>');
            }
        }
        {% if parent_val %}
        var parent_val = '{{parent_val|escapejs}}';
        $('select#parent_id').val(parent_val);
        {% endif %}
    });
}

function checkFilename() {
    var filename = document.getElementById('id_file').files[0].name;
    var r = true;
    $.ajax({
        type:"POST",
        url: "check_filename/",
        async:false,
        data: {filename:filename, csrfmiddlewaretoken:'{{ csrf_token }}'},
        success: function(data) {
            if (data == "File name already exists!") {
                r=confirm("WARNING: A file with this name already exists. If you proceed with the upload it will be overwritten. Please rename your file if you do not wish to overwrite.");
            }
        }
    });
    return r;
}

function showLiveDate(checked) {
    if (checked) {
        $("#live_date").show('fast');
    }
    else {
        $("#id_live_datetime").val(null);
        $("#live_date").hide('fast');
    }
}
</script>
{% endblock addl_scripts %}
