{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/buttons.css" />
	<!--link rel="stylesheet" href="{{ STATIC_URL }}css/core/layout.css" /-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/topbar.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/loginreg.css" />

	
    <title>{% block title %}Class2Go{% endblock %}</title>
</head>

<body>
    <div id="viewport">
		<div id="c2g_layout_topbar">
			<a href="{% url 'c2g.views.home' %}"><img class="small_logo" src="{{ STATIC_URL }}graphics/core/logo_160_35.png"></a>
			<div class="top-nav">
			{% if request.user.id %}
				<li>
					<form action="{% url 'auth_logout' %}" method="POST">
						<input type="submit" id="login_button" class="btn" value="Logout" />
						{% csrf_token %}
					</form>
				</li>
				<li><span>Welcome <b>{{ user.username }}</b>!</span></li>
			{% else %}
				<li><a id="login_button" class="btn" data-toggle="modal" href="#login-modal">Login</a></li>
				<li><a href="{% url 'registration_register' %}" class="btn">Register</a></li>
			{% endif %}
			</div>
		</div>
		{% block content %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div id="c2g_layout_m_column" class="span12">
					{% block m_column_content %}<span style='color: green;'>Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column</span>{% endblock %}
				</div>
			</div>
		</div>
		{% endblock content %}
    </div>
	
	<div id="loginreg_canvas">
		<div id="loginreg_background" onclick="$('#loginreg_canvas').hide()"></div>
		<div id="loginreg_container">
			<div id="login_container">

				<form action="{% url 'auth_login' %}" method="POST">
					<table style='width: 250px;'><tr>
						<td style='width: 200px;'><h2 style='color:#800000;'>Login</h2></td>
						<td style='text-align: right;width: 50px;'><a href="javascript:$('#loginreg_canvas').hide()" style='float: right;'>Close</a></td>
					</tr></table>
					
					<table>
						<tr>
							<td><label for='login_username'>Username:</label></td>
							<td><input name='username' id='login_username' style='width:180px;'></td>
						</tr>
						<tr>
							<td><label for='login_password'>Password:</label></td>
							<td><input type='password' name='password' id='login_password' style='width:180px;'></td>
						</tr>
					</table>
					<input type='submit' class='cw_button' value='Login' style='margin: 10px; float: right;'/>
					{% csrf_token %}
				</form>
				<br/><br/>
        <label>Do not have a Class2Go account?</label>&nbsp;<a href="{% url 'registration_register' %}">Register</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
	<!--script type='text/javascript' src="{{ STATIC_URL }}js/core/resize.js"></script-->
	<!--script type='text/javascript'>
		resize_page_contents();
	</script-->
</body>
</html>
