{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
	<!--link rel="stylesheet" href="{{ STATIC_URL }}css/core/buttons.css" /-->
	<!--link rel="stylesheet" href="{{ STATIC_URL }}css/core/layout.css" /-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/topbar.css" />
	<!--link rel="stylesheet" href="{{ STATIC_URL }}css/core/loginreg.css" /-->

	
    <title>{% block title %}Class2Go{% endblock %}</title>
</head>

<body>
    <div id="viewport">
		<div id="c2g_layout_topbar">
			<a href="{% url 'c2g.views.home' %}"><img class="small_logo" src="{{ STATIC_URL }}graphics/core/logo_160_35.png"></a>
			<div class="top-nav">
			{% if request.user.id %}
				<li>
					<form action="{% url 'auth_logout' %}" method="POST">
						<input type="submit" id="login_button" class="btn" value="Logout" />
						{% csrf_token %}
					</form>
				</li>
				<li><span>Welcome <b>{{ user.username }}</b>!</span></li>
			{% else %}
				<li><a id="login_button" class="btn" data-toggle="modal" href="#login-modal">Login</a></li>
				<li><a href="{% url 'registration_register' %}" class="btn">Register</a></li>
			{% endif %}
			</div>
		</div>
		{% block content %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div id="c2g_layout_m_column" class="span12">
					{% block m_column_content %}<span style='color: green;'>Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column... Middle_column</span>{% endblock %}
				</div>
			</div>
		</div>
		{% endblock content %}
    </div>
	
	<div id="login-modal" class="modal fade">
	    <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>Login</h3>
	    </div>
	    <form action="{% url 'auth_login' %}" method="POST" class="form-horizontal">
	    <div class="modal-body">
	    	<fieldset>
		    	<div class="control-group">
		    		<label for="login_username" class="control-label">Username:</label>
		    		<div class="controls">
		    			<input type="text" name="username" id="login_username" />
		    		</div>
		    	</div>
		    	<div class="control-group">
		    		<label for="login_password" class="control-label">Password:</label>
		    		<div class="controls">
		    			<input type="password" name="password" id="login_password" />
		    		</div>
		    	</div>
				{% csrf_token %}
			</fieldset>
	    </div>
	    <div class="modal-footer">
		    <a href="{% url 'registration_register' %}" class="btn">Register</a>
		    <input type='submit' class="btn btn-primary" value="Login" />
	    </div>
	    </form>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
	<!--script type='text/javascript' src="{{ STATIC_URL }}js/core/resize.js"></script-->
	<!--script type='text/javascript'>
		resize_page_contents();
	</script-->
</body>
</html>
