Django==1.4.1    # believe 1.4.x should work, haven't tested 1.5
MySQL-python
South
django-storages>=1.1.6
boto>= 2.7.0
gdata==2.0.17
pysqlite
markdown

# RESTful interfaces libraries
djangorestframework
PySimpleSOAP

# celery dependencies
django-celery
django-celery-email
pytz

# dev/testing packages
mock
nose
django_nose
django_coverage
lxml
selenium>=2.30
selenose
