<!DOCTYPE html>
<!-- adapted from exercises/division_3.html -->
<html data-require="math graphie graphie-helpers-arithmetic">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Regexp Template</title>
    <script src="../khan-exercise.js"></script>
</head>
<body>
    <div class="exercise">
        <div class="vars">
            <var id="DIVISOR">randRange( 2, 9 )</var>
            <var id="QUOTIENT">randRange( 10, 99 )</var>
            <var id="REMAINDER">randRange( 1, DIVISOR - 1 )</var>
            <var id="DIVIDEND">DIVISOR * QUOTIENT + REMAINDER</var>
        </div>
        
        <div class="problems">
            <div>
                <p class="extra-info">If the answer is a quotient of 5 and a remainder of 3, it should be typed in the form "5 R 3".</p>
                <div class="question graphie" id="numbers">
                    graph.divider = new Divider( DIVISOR, DIVIDEND );
                    graph.divider.show();
                </div>
                
                <div class="solution" data-type="regex">^<var>QUOTIENT</var>\s*[rR]\s*<var>REMAINDER</var>$</div>
            </div>
        </div>
        
    </div>
</body>
</html>
