        {% csrf_token %}
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <h4>Problem Set Details</h4>
        <fieldset class="well">
            <div class="control-group">
                <label class="control-label">Problem Set Title*</label>
                <div class="controls">
                    {{ form.title.errors }}
                    <span class="help-block">A title that can include spaces that be shown when listing problem sets</span>
	                {{ form.title}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">URL Identifier for Problem Set*</label>
                <div class="controls">
                    {{ form.slug.errors }}
                    <span class="help-block">*A unique ID consisting of numbers and letters with no spaces to be used in the URL</span>
	                {{ form.slug}}
		    <div id="slug_warning" style="display:none;margin-bottom:9px;color:#A07000">Changing this also changes the ready version's slug, and will break external references if it is live.</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Section*</label>
                <div class="controls">
                    {{ form.section.errors }}
	                {{ form.section}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    {{ form.description.errors }}
	                {{ form.description}}
                </div>
            </div>
        </fieldset>
        <h4>Deadlines and Penalties</h4>
        <fieldset class="well">
            <div class="control-group">
                <label class="control-label">Due Date*</label>
                <div class="controls">
                    {{ form.due_date.errors }}
	                {{ form.due_date}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Grace Period End (PST)</label>
                <div class="controls">
                    {{ form.grace_period.errors }}
	                {{ form.grace_period}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Partial Credit Deadline (PST)</label>
                <div class="controls">
                    {{ form.partial_credit_deadline.errors }}
                    {{ form.partial_credit_deadline}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Late Penalty</label>
                <div class="controls">
                    {{ form.late_penalty.errors }}
                    <span class="help-block">% penalty for submitting between the end of grace period and partial credit deadline</span>
	                {{ form.late_penalty}}
                </div>
            </div>
            <div class="control-group assessment-type">
                <label class="control-label">Assessment Type <a href="#" rel="tooltip" title="A student can attempt each problem as many times as they want without penalty in a formative problem set. Summative problem sets penalize students for multiple problem attempts. Surveys are for collecting information and have no correct/incorrect answers."><em class="icon-info-sign"></em></a></label>
                <div class="controls">
                    {{ form.assessment_type.errors }}
                    {{ form.assessment_type }}
                </div>
            </div>
            <div id="div_penalties" style="display:none;">
                <div class="control-group">
                    <label class="control-label">Number of Submissions Permitted</label>
                    <div class="controls">
                        {{ form.submissions_permitted.errors }}
                        {{ form.submissions_permitted }}
                        <span class="help-block">Use 0 for unlimited submissions</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Penalty % per Resubmission</label>
                    <div class="controls">
                        {{ form.resubmission_penalty.errors }}
                        {{ form.resubmission_penalty }}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Live Date</label>
                <div class="controls">
                    {{ form.live_datetime.errors }}
	                {{ form.live_datetime}}
                    <span class="help-block">Leave blank to set live date at a later time</span>
                </div>
            </div>
        </fieldset>


        <script>
            $(document).ready(function () {
                $("#id_assessment_type_0").click(function() {
                    $("#div_penalties").hide();
                });
                $("#id_assessment_type_1").click(function() {
                    $("#div_penalties").show();
                });
                
                if ($("#id_assessment_type_1").attr('checked') == "checked") {
                    $("div_penalties").show();
                }
            });
            
            function setPenalties(default_attempts_permitted, default_attempt_penalty)
            {
                var attempts_permitted = document.getElementById("id_submissions_permitted");
                var attempt_penalty = document.getElementById("id_resubmission_penalty");
                attempts_permitted.value = default_attempts_permitted;
                attempt_penalty.value = default_attempt_penalty;
            }
            var formative = document.getElementById("id_assessment_type_0"); 
            var assessive = document.getElementById("id_assessment_type_1");
            formative.setAttribute("onchange", "setPenalties(0, 0)");
            assessive.setAttribute("onchange", "setPenalties(3, 30)");
            
            
        </script>
