{% extends "course_base.html" %}
{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
  {% if user.is_authenticated %}
    <h3>Edit Problem Set</h3>
    <form action="{% url 'problemsets.views.edit_action' %}" method="POST" class="form-vertical" id="create_edit_form">

        {% include 'problemsets/create_edit_common.html' %}

        <input type="hidden" name="pset_id" value="{{ pset.id }}" />
        <div class="form-actions">
	        <input type="submit" name="action" value="Save and Set as Ready" class="btn btn-primary" />
	        <input type="submit" name="action" value="Save as Draft" class="btn" />
	        <input type="submit" name="action" value="Reset to Ready" class="btn" />
	        <a href="{% url 'problemsets.views.listAll' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">Cancel</a>
	    </div>
    </form>

    {% else %}
    <h4>Please <a data-toggle="modal" href="{% url 'default_login' %}?next={{ request.get_full_path }}">log in</a> to edit a problem set.</h4>
  {% endif %}
</div>

{% endblock m_column_content %}

{% block addl_scripts %}
<script>
$('#id_slug').focus(function() {
    $('#slug_warning').show();
});
</script>
{% endblock addl_scripts %}
