{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12 create-problemset">
    <h3>Create a New Problem Set</h3>

    <form action="{% url 'problemsets.views.model_create_action' %}" method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <h4>Problem Set Details</h4>
        <fieldset class="well">
            <div class="control-group">
                <label class="control-label">Problem Set Title*</label>
                <div class="controls">
                    {{ form.title.errors }}
	                {{ form.title}}
                    <span class="help-block">A title that can include spaces that be shown when listing problem sets</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">URL Identifier for Problem Set*</label>
                <div class="controls">
                    {{ form.slug.errors }}
	                {{ form.slug}}
                    <span class="help-block">*A unique ID consisting of numbers and letters with no spaces to be used in the URL</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Section*</label>
                <div class="controls">
                    {{ form.section.errors }}
	                {{ form.section}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea row="20" cols="40" name="description"> </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">When will this problem set go live?*</label>
                <div class="controls">
                    <input type="datetime" name="live_date" value="" data-datetimepicker>
                </div>
            </div>
        </fieldset>
        <h4>Deadlines and Penalties</h4>
        <fieldset class="well">
            <div class="control-group">
                <label class="control-label">Due Date*</label>
                <div class="controls">
                    <input type="text" name="due_date" value="" data-datetimepicker>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Grace Period End</label>
                <div class="controls">
                    <input type="text" name="grace_period" value="07/29/2012 12:01" data-datetimepicker>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Partial Credit Deadline</label>
                <div class="controls">
                    <input type="text" name="partial_credit_deadline" value="07/29/2012 12:01" data-datetimepicker>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Late Penalty</label>
                <div class="controls">
                    <input type="number" name="late_penalty" value="30"/>% 
                    <span class="help-block">% penalty for submitting between the end of grace period and partial credit deadline</span>
                </div>
            </div>
            <div class="control-group" style="margin-bottom:18px;">
                <label class="control-label">Assessment Type</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="assessment_type" value="formative" id="formative" checked/> Formative <a href="#" rel="tooltip" title="A student can attempt each problem as many times as they want without penalty in a formative problem set"><em class="icon-info-sign"></em></a>
                    </label>
                    <label class="radio">
                        <input type="radio" name="assessment_type" value="summative" id="summative" /> Summative <a href="#" rel="tooltip" title="Summative problem sets penalize students for multiple problem attempts."><em class="icon-info-sign"></em></a>
                    </label>
                    <label class="radio">
                        <input type="radio" name="assessment_type" value="survey" id="survey" /> Survey <a href="#" rel="tooltip" title="Surveys are for gathering information and have no correct/incorrect answers."><em class="icon-info-sign"></em></a>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Number of Submissions Permitted</label>
                <div class="controls">
                    <input type="number" name="submissions_permitted" value="0"/>
                    <span class="help-block">Use 0 for unlimited submissions</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Penalty % per Resubmission</label>
                <div class="controls">
                    <input type="number" name="resubmission_penalty" value="0"/>%
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="submit" value="Save and Add Exercises" class="btn"> or <a href="{% url 'problemsets.views.listAll' course_prefix=course_prefix course_suffix=course_suffix %} " class="btn"> Cancel</a>
        </div>
    </form>
</div>
{% endblock m_column_content %}

