{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}

<script type="text/javascript">
function confirm_change(){
    if ("{{problemset_taken}}" == "False"){
        return true;
    }   
    var r=confirm("WARNING: Students have already begun taking this problem set. Adding exercises can ruin the integrity of the results. Are you sure you wish to make this change?")
    if (r==true){
       return true;
    } else {
        return false;
    }
}
</script>

{% include "problemsets/delete_exercise_form.html" %}

<div id="c2g_layout_m_column" class="span12">
    <h3>Add or Remove Exercises</h3>

    <h4>Upload Exercises to {{pset.title}}</h4>
    <form action= {% url 'problemsets.views.manage_exercises' course_prefix course_suffix pset.slug %} method="POST" class="form-vertical" enctype="multipart/form-data">
        <fieldset class="well">
        {% csrf_token %}
        <input type="hidden" name="pset_id" value={{pset.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div class="fieldWrapper">
            {{ form.file.errors }}
            {{ form.file }} <input type="submit" value="Add Exercise" onclick="return confirm_change()" class="btn">
            {{ form.course }}
            <span class="help-block">{{ field.help_text }}</span>
        </div>
    </form>

    <h4><a data-toggle="collapse" data-target="#choose-existing" class='btn'>Choose From Existing Exercises</a></h4>
    <form action= {% url 'problemsets.views.add_existing_exercises' %} method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="pset_id" value={{pset.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div id="choose-existing" class="collapse">
            <div class="control-group">
                <div class="controls">
                    {% for exercise in exercises %}
                    <input type="checkbox" name=exercise value={{exercise.id}} /> {{exercise.fileName}} <br>
                    {% empty %}
                    There are no existing exercises on record.
                    {% endfor %}
                </div>
            </div>
            <input type="submit" value="Add Exercises" onclick="return confirm_change()" class="btn">
        </div>
    </form>

    <form action= {% url 'problemsets.views.save_exercises' %} method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="pset_id" value={{pset.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <ul data-sortablecontainer class="exercise-list">
            {% for psetToEx in psetToExs %}
                <li id="exercise_{{forloop.counter0}}" class="ui-state-default">
                    {{psetToEx.exercise.fileName}}
                    <input type="hidden" name="exercise_order[{{forloop.counter0}}]" value={{forloop.counter0}}>
                    <a href="#" data-delete-exercise data-exercise='{"id":{{psetToEx.id}},"title":"{{psetToEx.exercise.fileName}}","problemSetTaken":"{{problemset_taken}}"}' style="float: right; font-size: 12pt; font-weight: bold; color: rgb(150,150,150);margin-right: 10px;">X</a>
                    <a class="pull-right" style="float:right;margin-right:10px" href="{% url 'courses.exercises.views.edit' course_prefix course_suffix psetToEx.exercise.fileName %}?return={{request.path}}">Edit HTML file</a>
                </li>
            {% empty%}
                <p style='margin: 20px;'>There are no exercises yet.</p>
            {% endfor %}
        </ul>
        <span class="help-block">After reordering, save before uploading another exercise</span>
    </fieldset>
        <div class="form-actions">
            <input type="submit" name="action" value="Save and Set as Ready" class="btn btn-primary" />
	        <input type="submit" name="action" value="Save as Draft" class="btn" />
	        <input type="submit" name="action" value="Reset to Ready" class="btn" />
	        <a href="{% url 'problemsets.views.listAll' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">Close</a>
        </div>
    </form>
</div>
{% endblock m_column_content %}
