{% load url from future %}

    <div class="button-tray" style="display: block; clear: both; padding-left: 3em;">
    {% if children %}
    <ul class="unstyled">
    {% for child in children %}
        {% cycle 'zebra_light' 'zebra_dark' as stripecolor silent %}
        <li>
        {% if child.type == 'exam' %}
            {% include "exams/ready/exam_list_item.html" with item=child is_child="TRUE" %} 
        {% else %}
            <strong><a href="{{child.url}}">{{child.title}}</a></strong>{% if item.description %}: {% endif %}{{item.description}}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
