{% load url from future %}
{% load i18n %}

{% if children %} {# needed because this template is called directly #}
    {# <div class="button-tray" style="display: block; clear: both"> #}
    <div class="button-tray" style="display: block; clear:both; width:800px;">
    {% if video.dl_link %}
    <div class="cant-watch-video">{% trans 'Problems watching the video?' %} <a href="{{video.dl_link}}" title="{% trans 'Download lecture video as mp4' %}">{% trans 'Download it' %}</a></div>
    {% endif %}
    <h3 style="clear: none;">{% trans 'Additional Content for' %} {{video.title}}</h3>
    <ul class="unstyled course-list">
    {% for child in children %}
        {% with contentgroup=child.self %}
        {% cycle 'zebra_light' 'zebra_dark' as stripecolor silent %}
        <li class="course-list-item {{ stripecolor }}">
        {% if contentgroup.display_style == 'button' %}
        <span style="float: left;"><strong><a href="{{child.url}}">{{child.title}}</a></strong></span>
        <span style="float: right;">
            <a href="{{child.url}}">
                <button class="btn btn-mini" title="{% trans 'Download' %} {{child.type}} {{child.name}}">
                    <em class="icon-download-alt">&nbsp;</em>{{child.ext}}
                </button>
                </a></span>
        {% else %}
            <span style="float: left;"><strong><a href="{{child.url}}">{{child.title}}</a></strong>{% if child.ref.description %}: {{child.ref.description}}{% endif %}</span>
        {% endif %}
        </li>
        {% endwith %}
    {% endfor %}
    </ul>
    </div>
{% endif %}
