{% extends "course_base.html" %}
{% load url from future %}
{% block course_info_link_class %}class="dropdown active"{% endblock course_info_link_class %}

{% block course_page_title %}Rename Section{% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    <form action="{% url 'courses.content_sections.actions.rename' %}" method="POST" class="span8">
        <div class="control-group">
            <label>New title for section "{{section.title}}":</label>
            <div class="controls">
                <input name="title" class="span12" type="text" value="{{section.title}}" />
            </div>
            <label>Sub-title:</label>
            <div class="controls">
                <input name="subtitle" class="span12" type="text" value="{{section.subtitle|default_if_none:''}}" />
            </div>
        </div>
        {% csrf_token %}
        <input type="hidden" name="section_id" value="{{section.id}}" />
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        <div class="form-actions">
            <input type='submit' class='btn btn-primary' value="Save" />
            <a class='btn' href="{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock m_column_content %}