{% extends "base.html" %}
{% load url from future %}
{% block title%} Stanford Online | Help / FAQ{% endblock title %}
{% block navbar %} {% endblock navbar %}



{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>Help / FAQ </h2>
        <p></p>
        <h3>Questions</h3>
        <ol>
            <li> <a href="#chrome">I'm having trouble viewing content on the site!</a></li>
            <li> <a href="#profile">How do you I change my password or other personal info? </a></li>
            <li> <a href="#speed">How do I watch the videos sped up or slowed down?</a></li>
            <li> <a href="#credit">Will I receive Stanford University credit for a Class2Go course?</a></li>
            <li> <a href="#statement">Do I get a statement of accomplishment for completing a course?</a></li>
            <li> <a href="#honor">Is there an Honor Code for Class2Go courses?</a></li>
            <li> <a href="#late">Can I enroll in a class that’s already started?</a></li>
            <li> <a href="#unsubscribe">How do I remove myself from course email lists?</a></li>
            <li> <a href="#drop">Can I drop a class?</a></li>
            <li> <a href="#services">Will online students have access to other Stanford University resources and services?</a></li>
            <li> <a href="#time">Do I have to watch the lectures at a particular time?</a></li>
            <li> <a href="#more">I've got ideas for more items to add to this page!</a></li>
        
        </ol>
        <p></p>
        <h3>Answers</h3>
        <ol>
            <li><a name="chrome"></a><b>I'm having trouble viewing content on the site!</b><p>If you're having any difficulties viewing content on the site, try using Chrome or Firefox as your browser.</p></li>
            
            <li><a name="profile"></a><b>How do you I change my password or other personal info?</b><p>If you want to change your password, or any of your profile information, click on your name in the top navigation bar.</p></li>
            
            <li><a name="speed"></a><b>How do I watch the videos sped up or slowed down?</b><p>If you disable Flash in your browser, you should get the HTML5 YouTube player when you view a video, and if you click on "Settings" (the cog near the bottom right of your video player), you'll find options to change the speed.</p></li>
            
            <li><a name="credit"></a><b>Will I receive Stanford University credit for a Class2Go course?</b><p>No. Class2Go courses do not confer Stanford University credit.</li>
            
            <li><a name="statement"></a><b>Do I get a statement of accomplishment for completing a course?</b><p>Yes. You will receive a statement of accomplishment for successfully completing a course.</p></li>
            
            <li><a name="honor"></a><b>Is there an Honor Code for Class2Go courses?</b><p>Yes.  Here is the <a href="https://class.stanford.edu/terms_of_service#honor">honor code</a></p></li>
            
            <li><a name="late"></a><b>Can I enroll in a class that’s already started?</b><p>Yes. However, some instructors may have set deadlines for assignments that would prevent you from getting credit for past due homework.</p></li>
            
            <li><a name="unsubscribe"></a><b>How do I remove myself from course email lists?</b><p>To stop receiving course-related email: 
                <ul>
                    <li>Click your name in the upper right corner of your browser.</li>
                    <li>Click Change Info in the lower left corner of your browser.</li>
                    <li>Uncheck Receive emails from courses.</li>
                    <li>Click Save Changes.</li>
                </ul>
                </p></li>
            
            <li><a name="drop"></a><b>Can I drop a class?</b><p>Yes. To drop a class:
                <ul>
                    <li>Click your name in the upper right corner of your browser.
                    <li>Click Unenroll as Student next to the course to drop.
                    <li>Click Save Changes.
                </ul>
                <p>
            </li>
            
            <li><a name="services"></a><b>Will online students have access to other Stanford University resources and services?</b><p>No. Online students don't have access to other Stanford University services.</p>
            </li>
            
            <li><a name="time"></a><b>Do I have to watch the lectures at a particular time?</b><p>No, you can watch them at a time that's convenient for you.</p></li>
            
            <li><a name="more"></a>Send suggestions</a> for useful help items to <a href="mailto:c2g-suggestions@class.stanford.edu">c2g-suggestions@class.stanford.edu</li>
            
           
        
        </ol>
    </div>
</div>
{% endblock m_column_content %}
