{% extends "base.html" %}
{% load url from future %}
{% block title %} UWA Class2Go | Terms of Service {% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>Terms of Service for UWA Class2Go</h2>
   
   <br/>    
        
        <br/>       
   <div class="wrap" style="vertical-align: top; margin-top: 0px;">
                    
   
    <p class="TOC_level1">
        <span class="TOC_listnumber">1.</span> Your relationship with UWA</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">1.1.</span> Your use of Class2Go is subject to the terms
        of a legal agreement between you and UWA. This document explains how the agreement
        is made up, and sets out some of the terms of that agreement.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">1.2.</span> Unless otherwise agreed in writing with
        UWA, your agreement with UWA will always include, at a minimum, the terms and conditions
        set out in this document. These are referred to below as the "Universal Terms".</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">1.3.</span> Your agreement with UWA will also include
        the terms of any Legal Notices applicable to the Services, in addition to the Universal
        Terms. All of these are referred to below as the "Additional Terms". Where Additional
        Terms apply to a Service, these will be accessible for you to read either within,
        or through your use of, that Service.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">1.4.</span> The Universal Terms, together with the
        Additional Terms, form a legally binding agreement between you and UWA in relation
        to your use of the Services. It is important that you take the time to read them
        carefully. Collectively, this legal agreement is referred to below as the "Terms".</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">1.5.</span> If there is any contradiction between what
        the Additional Terms say and what the Universal Terms say, then the Additional Terms
        shall take precedence in relation to that Service.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">2.</span> Accepting the Terms</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">2.1.</span> In order to use the Services, you must
        first agree to the Terms. You may not use the Services if you do not accept the
        Terms.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">2.2.</span> You can accept the Terms by:</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">2.2.1.</span> Clicking to accept or agree to the Terms,
        where this option is made available to you by UWA in the user interface for any
        Service; or</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">2.2.2.</span> By actually using the Services. In this
        case, you understand and agree that UWA will treat your use of the Services as acceptance
        of the Terms from that point onwards.</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">2.2.3.</span> You may not use the Services and may
        not accept the Terms if (a) you are not of legal age to form a binding contract
        with UWA, or (b) you are a person barred from receiving the Services under the laws
        of Western Australia</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">3.</span> Provision of the Services by UWA</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">3.1.</span> UWA is constantly innovating in order to
        provide the best possible experience for its users of Class2Go. You acknowledge and
        agree that the form and nature of the Services which UWA provides may change from
        time to time without prior notice to you.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">4.</span> Use of the Services by you</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">4.1.</span> In order to access certain Services, you
        may be required to provide information about yourself (such as identification or
        contact details) as part of the registration process for the Service, or as part
        of your continued use of the Services. You agree that any registration information
        you give to UWA will always be accurate, correct and up to date.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">4.2.</span> You agree to use the Services only for
        purposes that are permitted by (a) the Terms and (b) any applicable law, regulation
        or generally accepted practices or guidelines in the relevant jurisdictions (including
        any laws regarding the export of data or software to and from Australia or other
        relevant countries).</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">4.3.</span> You agree not to access (or attempt to
        access) any of the Services by any means other than through the interface that is
        provided by UWA, unless you have been specifically allowed to do so in a separate
        agreement with UWA. You specifically agree not to access (or attempt to access)
        any of the Services through any automated means (including use of scripts).</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">4.4.</span> You agree that you will not engage in any
        activity that interferes with or disrupts the Services (or the servers and networks
        which are connected to the Services).</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">4.5.</span> Unless you have been specifically permitted
        to do so in a separate agreement with UWA, you agree that you will not reproduce,
        duplicate, copy, sell, trade or resell the Services for any purpose.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">4.6.</span> You agree that you are solely responsible
        for (and that UWA has no responsibility to you or to any third party for) any breach
        of your obligations under the Terms and for the consequences (including any loss
        or damage which UWA may suffer) of any such breach.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">5.</span> Your passwords and account security</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">5.1.</span> You agree and understand that you are responsible
        for maintaining the confidentiality of passwords associated with any account you
        use to access the Services.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">5.2.</span> Accordingly, you agree that you will be
        solely responsible to UWA for all activities that occur under your account.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">5.3.</span> If you become aware of any unauthorized
        use of your password or of your account, you agree to notify UWA immediately at
        <a href="mailto:Class2Go@csp.uwa.edu.au">Class2Go@csp.uwa.edu.au</a></p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">6.</span> Privacy and your personal information</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">6.1.</span> For information about UWA's data protection
        practices, please read UWA's privacy policy at <a href="http://www.Class2Go.net.au/Class2Go-privacy-policy">
            http://www.Class2Go.net.au/Class2Go-privacy-policy</a>. This
        policy explains how UWA treats your personal information, and protects your privacy,
        when you use the Services.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">6.2.</span> You agree to the use of your data in accordance
        with UWA's privacy policies.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">6.3.</span> In addition, the laws of Australia and
        Western Australia provide for adherence to privacy principles and you agree to abide
        by the terms of such laws and principles, as amended by legislation from time to
        time.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">7.</span> Content in the Services</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">7.1.</span> You understand that all information (such
        as data files, written text, computer software, music, audio files or other sounds,
        photographs, videos or other images) which you may have access to as part of, or
        through your use of, the Services are the sole responsibility of the person from
        which such content originated. All such information is referred to below as the
        "Content".</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">7.2.</span> All Content is held in an encrypted form
        and will not be viewed by UWA unless specifically required to by you or operation
        of law.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">7.3.</span> You agree that you are solely responsible
        for (and that UWA has no responsibility to you or to any third party for) any Content
        that you create, transmit or display while using the Services and for the consequences
        of your actions (including any loss or damage which UWA may suffer) by doing so.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">8.</span> Proprietary rights</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">8.1.</span> You acknowledge and agree that UWA (or
        UWA's licensors) own all legal right, title and interest in and to the Services,
        including any intellectual property rights which subsist in the Services (whether
        those rights happen to be registered or not, and wherever in the world those rights
        may exist). You further acknowledge that the Services may contain information which
        is designated confidential by UWA and that you shall not disclose such information
        without UWA's prior written consent.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">8.2.</span> Unless you have agreed otherwise in writing
        with UWA, nothing in the Terms gives you a right to use any of UWA's trade names,
        trade marks, service marks, logos, domain names, and other distinctive brand features.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">8.3.</span> Other than the limited license set forth
        in Section 11, UWA acknowledges and agrees that it obtains no right, title or interest
        from you (or your licensors) under these Terms in or to any Content that you submit,
        post, transmit or display on, or through, the Services, including any intellectual
        property rights which subsist in that Content (whether those rights happen to be
        registered or not, and wherever in the world those rights may exist). Unless you
        have agreed otherwise in writing with UWA, you agree that you are responsible for
        protecting and enforcing those rights and that UWA has no obligation to do so on
        your behalf.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">8.4.</span> You agree that you shall not remove, obscure,
        or alter any proprietary rights notices (including copyright and trade mark notices)
        which may be affixed to or contained within the Services.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">8.5.</span> Unless you have been expressly authorized
        to do so in writing by UWA, you agree that in using the Services, you will not use
        any trade mark, service mark, trade name, logo of any company or organization in
        a way that is likely or intended to cause confusion about the owner or authorized
        user of such marks, names or logos.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">9.</span> License from UWA</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">9.1.</span> UWA gives you a personal, worldwide, royalty-free,
        non-assignable and non-exclusive licence to use the software provided to you by
        UWA as part of the Services as provided to you by UWA (referred to as the "Software"
        below). This licence is for the sole purpose of enabling you to usethe Services
        as provided by UWA, in the manner permitted by the Terms.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">9.2.</span> You may not (and you may not permit anyone
        else to) copy, modify, create a derivative work of, reverse engineer, decompile
        or otherwise attempt to extract the source code of the Software or any part thereof,
        unless this is expressly permitted or required by law, or unless you have been specifically
        told that you may do so by UWA, in writing.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">9.3.</span> Unless UWA has given you specific written
        permission to do so, you may not assign (or grant a sub-licence of) your rights
        to use the Software, grant a security interest in or over your rights to use the
        Software, or otherwise transfer any part of your rights to use the Software.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">10.</span> Content licence from you</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">10.1.</span> You retain copyright and any other rights
        you already hold in Content which you submit through the Services. By submitting
        the content you give UWA permission to pass this content to the stated recipients.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">10.2.</span> You understand that UWA, in performing
        the required technical steps to provide the Services to our users, may (a) transmit
        or distribute your Content over various public networks and in various media; and
        (b) make such changes to your Content as are necessary to conform and adapt that
        Content to the technical requirements of connecting networks, devices, services
        or media. You agree that this licence shall permit UWA to take these actions.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">10.3.</span> You confirm and warrant to UWA that you
        have all the rights, power and authority necessary to grant the above licence.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">11.</span> Ending your relationship with UWA</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">11.1.</span> The Terms will continue to apply until
        terminated by either you or UWA as set out below.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">11.2.</span> If you want to terminate your legal agreement
        with UWA, you may do so by (a) notifying UWA at any time. Your notice should be
        sent, in writing, to UWA's address which is set out at the beginning of these Terms.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">11.3.</span> UWA may at any time, terminate its legal
        agreement with you if:</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">11.3.1.</span> You have breached any provision of the
        Terms (or have acted in manner which clearly shows that you do not intend to, or
        are unable to comply with the provisions of the Terms); or</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">11.3.2.</span> UWA is required to do so by law (for
        example, where the provision of the Services to you is, or becomes, unlawful); or</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">11.3.3.</span> The partner with whom UWA offered the
        Services to you has terminated its relationship with UWA or ceased to offer the
        Services to you; or</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">11.3.4.</span> The provision of the Services to you
        by UWA is, in UWA's opinion, no longer commercially viable.</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">11.3.5.</span> Nothing in this Section shall affect
        UWA's rights regarding provision of Services under Section 4 of the Terms.</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">11.3.6.</span> When these Terms come to an end, all
        of the legal rights, obligations and liabilities that you and UWA have benefited
        from, been subject to (or which have accrued over time whilst the Terms have been
        in force) or which are expressed to continue indefinitely, shall be unaffected by
        this cessation, and the provisions of paragraph 20.7 shall continue to apply to
        such rights, obligations and liabilities indefinitely.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">12.</span> EXCLUSION OF WARRANTIES</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">12.1.</span> NOTHING IN THESE TERMS, INCLUDING SECTIONS
        13 AND 14, SHALL EXCLUDE OR LIMIT UWA'S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY
        NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME JURISDICTIONS DO NOT
        ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION
        OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY NEGLIGENCE, BREACH OF CONTRACT OR BREACH
        OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THE
        LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU AND OUR LIABILITY
        WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">12.2.</span> YOU EXPRESSLY UNDERSTAND AND AGREE THAT
        YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED
        "AS IS" AND "AS AVAILABLE."</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">12.3.</span> IN PARTICULAR, UWA, ITS SUBSIDIARIES AND
        AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT:</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.1.</span> YOUR USE OF THE SERVICES WILL MEET YOUR
        REQUIREMENTS,</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.2.</span> YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED,
        TIMELY, SECURE OR FREE FROM ERROR,</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.3.</span> ANY INFORMATION OBTAINED BY YOU AS A
        RESULT OF YOUR USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE, AND</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.4.</span> THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY
        OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED.</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.5.</span> ANY MATERIAL DOWNLOADED OR OTHERWISE
        OBTAINED THROUGH THE USE OF THE SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK
        AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR
        OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.6.</span> NO ADVICE OR INFORMATION, WHETHER ORAL
        OR WRITTEN, OBTAINED BY YOU FROM UWA OR THROUGH OR FROM THE SERVICES SHALL CREATE
        ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">12.3.7.</span> UWA FURTHER EXPRESSLY DISCLAIMS ALL
        WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT
        NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS
        FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">13.</span> LIMITATION OF LIABILITY</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">13.1.</span> SUBJECT TO OVERALL PROVISION IN PARAGRAPH
        12.1 ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT UWA, ITS SUBSIDIARIES AND AFFILIATES,
        AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR:</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">13.1.1.</span> ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL
        CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED
        AND UNDER ANY THEORY OF LIABILITY.. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY
        LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR
        BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE
        GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS;</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">13.1.2.</span> ANY LOSS OR DAMAGE WHICH MAY BE INCURRED
        BY YOU, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGE AS A RESULT OF:</p>
    <p class="TOC_level4">
        <span class="TOC_listnumber">13.1.2.1.</span> ANY RELIANCE PLACED BY YOU ON THE
        COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, OR AS A RESULT OF ANY RELATIONSHIP
        OR TRANSACTION BETWEEN YOU AND ANY ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS
        ON THE SERVICES;</p>
    <p class="TOC_level4">
        <span class="TOC_listnumber">13.1.2.2.</span> ANY CHANGES WHICH UWA MAY MAKE TO
        THE SERVICES, OR FOR ANY PERMANENT OR TEMPORARY CESSATION IN THE PROVISION OF THE
        SERVICES (OR ANY FEATURES WITHIN THE SERVICES);</p>
    <p class="TOC_level4">
        <span class="TOC_listnumber">13.1.2.3.</span> THE DELETION OF, CORRUPTION OF, OR
        FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED OR TRANSMITTED
        BY OR THROUGH YOUR USE OF THE SERVICES;</p>
    <p class="TOC_level4">
        <span class="TOC_listnumber">13.1.2.4.</span> YOUR FAILURE TO PROVIDE UWA WITH ACCURATE
        ACCOUNT INFORMATION;</p>
    <p class="TOC_level4">
        <span class="TOC_listnumber">13.1.2.5.</span> YOUR FAILURE TO KEEP YOUR PASSWORD
        OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL;</p>
    <p class="TOC_level3">
        <span class="TOC_listnumber">13.1.3.</span> THE LIMITATIONS ON UWA'S LIABILITY TO
        YOU IN PARAGRAPH 15.1 ABOVE SHALL APPLY WHETHER OR NOT UWA HAS BEEN ADVISED OF OR
        SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">14.</span> Copyright and trade mark policies</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">14.1.</span> It is UWA's policy to respond to notices
        of alleged copyright infringement that comply with applicable international intellectual
        property law (including, in the United States of America, the Digital Millennium
        Copyright Act) and to terminating the accounts of repeat infringers. Details of
        UWA's policy can be found at <a href="http://www.uwa.edu.au/Copyright-Guidelines">
            http://www.uwa.edu.au/Copyright-Guidelines</a>.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">15.</span> Changes to the Terms</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">15.1.</span> UWA may make changes to the Universal
        Terms or Additional Terms from time to time. When these changes are made, UWA will
        make a new copy of the Universal Terms available at
         <a href="http://www.www.class2go.uwa.edu.au/terms_of_service">https://www.class2go.uwa.edu.au/terms_of_service</a>
        and any new Additional Terms will be made available to you from within, or through,
        the affected Services.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">15.2.</span> You understand and agree that if you use
        the Services after notice of, and after the date on which the Universal Terms or
        Additional Terms have changed, UWA will treat your use as acceptance of the updated
        Universal Terms or Additional Terms.</p>
    <p class="TOC_level1">
        <span class="TOC_listnumber">16.</span> General legal terms</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">16.1.</span> The Terms constitute the whole legal agreement
        between you and UWA and govern your use of the Services (but excluding any services
        which UWA may provide to you under a separate written agreement), and completely
        replace any prior agreements between you and UWA in relation to the Services.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">16.2.</span> You agree that UWA may provide you with
        notices, including those regarding changes to the Terms, by email, regular mail,
        or postings on the Services.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">16.3.</span> You agree that if UWA does not exercise
        or enforce any legal right or remedy which is contained in the Terms (or which UWA
        has the benefit of under any applicable law), this will not be taken to be a formal
        waiver of UWA's rights and that those rights or remedies will still be available
        to UWA.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">16.4.</span> If any court of law, having the jurisdiction
        to decide on this matter, rules that any provision of these Terms is invalid, then
        that provision will be removed from the Terms without affecting the rest of the
        Terms. The remaining provisions of the Terms will continue to be valid and enforceable.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">16.5.</span> You acknowledge and agree that each member
        of the group of companies of which UWA is the parent shall be third party beneficiaries
        to the Terms and that such other companies shall be entitled to directly enforce,
        and rely upon, any provision of the Terms which confers a benefit on (or rights
        in favour of) them. Other than this, no other person or company shall be third party
        beneficiaries to the Terms.</p>
    <p class="TOC_level2">
        <span class="TOC_listnumber">16.6.</span> The Terms, and your relationship with
        UWA under the Terms, shall be governed by the laws of Western Australia without
        regard to its conflict of laws provisions. Notwithstanding this, you agree that
        UWA shall still be allowed to apply for injunctive remedies (or an equivalent type
        of urgent legal relief) in any jurisdiction.</p>
    
        


    </div>
</div>
{% endblock m_column_content %}
