    <div class="pull-left icon">
        <em class="icon-file"></em>
    </div>
    <div class="course-list-content">
        {% with file=item.file title=item.file.title %}
            <h4 class="pull-left"><a href="{{file.file.url}}">{{title}}</a></h4>
            {% if file.has_storage %}
                <div class="pull-right"><a href="{{file.dl_link}}" class="btn btn-mini" title="{{title}}" style="float:left;">
                    <em class="icon-download-alt"></em>{{file.get_ext}}</a>
                    <div class="progress progress-success progress-striped" style="visibility:hidden; margin-left:3px;"></div>
                </div>
            {% endif %}        
        {% endwith%}
    </div>
