{% extends 'courses/preview.html' %}
{% load i18n %}
{% load url from future %}

{% block course_description %}

<div class = "span7">
    <h3>{% trans 'Course Info' %}</h3>
    {% ifnotequal video None %}
    	<iframe width="355" height="430" src="https://www.youtube.com/embed/{{video.url}}?rel=0" frameborder="0" allowfullscreen></iframe>
		<br/>
	{% endifnotequal %}

	<h3>{% trans 'Course starts' %} {{ course.term }} {{ course.year }}</h3>
	<p>{% autoescape off %}{{course.description}}{% endautoescape %}</p>
	<h3>{% trans 'Biographies' %}</h3>

	{% for instructor in instructors %}
       	<h3>{{ instructor.name }}</h3>
   		<div class="instructor-box">
			<img  src="{{ instructor.photo_dl_link }}" />
			<p>{{instructor.biography}}</p>
		</div>		
	{% endfor %}
	
  

</div>

{% endblock course_description %}
