{% extends 'courses/preview.html' %}
{% load url from future %}

{% block course_description %}

<div class = "span7">
    <h2>Start Date : Sep 24th 2012</h2>
    <p></p>
    <h2>Timings : Monday and Wednesday : 4:15-5:30pm</h2>
    <p></p>
    
    <h3>Class Location: CISX-101 (Paul Allen Building)</h3>
    <p>
    Ever wondered how the different chips inside an iPhone are made? How much they cost? Why
    solar panels doting US-101 look different than ones on the rooftop? Learn about these topics and
    much more in Nanomanufacturing a course being offered by EE department at Stanford. Topics
    include patterning, 3D chips and packaging, display and LED technology etc.
    </p>
    <p>
    Learn about fundamentals of nanomanufacturing technology and applications. Topics include
    recent developments in process technology, lithography and patterning. Technology for FinFET
    transistors, NAND flash and 3D chips. Manufacturing of thin film and crystalline solar cells.
    </p>
    <h3>Logistics</h3>
    <p>
    This course makes a use of an adapted flip-classroom model, whereby approximately half of the
    class time is devoted to lectures which are supplemented by short videos of 10-12 minutes each
    to develop the fundamentals. Remainder of the class time will be devoted to discussing the recent
    trends, success stories and invited talks consisting of speakers from startups, bigger companies
    and venture capital industry actively engaged in the field of nanomanufacturing.
    </p>
</div>

{% endblock course_description %}
