{% extends "course_base.html" %}

{% block m_column_content %}

<h2>List all courses </h2>

<div>

<table border="1"">
<tr>
<th>Institution</th>
<th>Course Code</th>
<th>Course Title</th>
<th>Year</th>
<th>Term</th>
<th>Starts</th>
<th>Ends</th>
</tr>

{% for item in course_list %}
<tr>
<td>{{ item.institution.title}}</td>
<td>{{ item.code}}</td>
<td>{{item.title}}</td>
<td>{{item.year}}</td>
<td>{{item.term}}</td>
<td>{{item.calendar_start}}</td>
<td>{{item.calendar_end}}</td>
</tr>
{% endfor %}
</table>

</div>

{% endblock m_column_content %}