{% extends "base.html" %}
{% load url from future %}

{% block addl_stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/datepicker.css" />
{% endblock addl_stylesheets %}


{% block new_course_link %}class="active"{% endblock new_course_link %}

{% block m_column_content %}

<style>
.header {font-weight: bold; display: block; margin: 0px; margin-top: 20px;}
.explanation {color: #800000; font-size: 9pt; font-style: italic; display: block; margin: 0px; }
</style>

<h2>Create New Course</h2>

<form name="form_new_course" method="POST" action="">

	<label class='header'>Title</label>
	<label class='explanation'>Examples: Introduction to Statistical Signal Processing, CS106: Programming Abstractions (Fall 2012)</label>
	<input type='text' id='id_title' name='title' style='width: 600px;'/>
	
	<label class='header'>Course URL</label>
	<label class='explanation'>Fill in the two fields below using only alphabets, numbers, and/or underscores.</label>
	<label class='explanation'>Examples:&nbsp;&nbsp;http://class2go.stanford.edu/nlp/2012_public&nbsp;&nbsp;,&nbsp;&nbsp;http://class2go.stanford.edu/cs108/winter_2013</label>
	<table>
		<tr>
			<td>http://class2go.stanford.edu/</td>
			<td><input type='text' id='id_prefix' name='prefix' style='width:120px;' /></td>
			<td>/</td>
			<td><input type='text' id='id_suffix' name='suffix' style='width:120px;' /></td>
		</tr>
	</table>
	
	<label class='header'>When does the course go live, and when does it end?</label>
	<table>
		<tr>
			<td style="padding: 10px;">Term</td>
			<td style="padding: 10px;">
				<select name='term'>
					<option value="fall">Fall</option>
					<option value="winter">Winter</option>
					<option value="spring">Spring</option>
					<option value="summer">Summer</option>
				</select>
			</td>
			<td style="padding: 10px;">Year</td>
			<td style="padding: 10px;"><input type='text' name='year' id='id_year'></td>
		</tr>
		<tr>
			<td style="padding: 10px;">Start date</td>
			<td style="padding: 10px;"><input type='text' class='datepicker' name='start_date' id='id_start_date' value="{{date}}" data-date-format="mm-dd-yyyy"></td>
			<td style="padding: 10px;">End date</td>
			<td style="padding: 10px;"><input type='text' class='datepicker' name='end_date' id='id_end_date' value="{{date}}" data-date-format="mm-dd-yyyy"></td>
		</tr>
	</table>
	
	<label class='header'>Institution</label>
	<label class='explanation'>If your desired institution is not listed below, please contact the Class2Go support team to add it.</label>
	<select name='institution'>
		{% for institution in institutions %}
			<option value="{{institution.id}}">{{institution.title}}</option>
		{% endfor %}
	</select>
	
	<br/>
	<input type="submit" value="Save" style='padding: 5px; margin-top: 20px;'/>
	{% csrf_token %}
</form>

{% endblock m_column_content %}

{% block addl_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap-datepicker.js"></script>
<script type="text/javascript">$(".datepicker").datepicker();</script>
{% endblock addl_scripts %}