{% extends "course_base.html" %}
{% load url from future %}
{% block course_info_link_class %}class="dropdown active"{% endblock course_info_link_class %}

{% block course_page_title %}Syllabus (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{ common_page_data.course.title }}</a>){% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    {% if common_page_data.course_mode == 'staging' %}
        {% if common_page_data.production_course.syllabus == common_page_data.staging_course.syllabus %}
            <p style='margin-bottom: 10px;'><span style="color: green;font-weight: bold;">S=P</span> Syllabus same on staging and production.</p>
        {% else %}
            <p style='margin-bottom: 10px;'><span style="color: green;font-weight: bold;">S&#8800;P</span>Syllabus on staging contains changes that have not yet been commited to production.</p>
        {% endif %}
    {% endif %}
    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'staging' and common_page_data.view_mode == 'edit' %}
        <form name="edit_form" action="{% url 'courses.views.syllabus' common_page_data.course_prefix common_page_data.course_suffix %}" method="POST">
            <textarea name="syllabus" class="tinymce" style="width:100%">
                {% autoescape off %}{{common_page_data.course.syllabus}}{% endautoescape %}
            </textarea>
            {% csrf_token %}
            <br/>
            <input type="hidden" name="commit" id="commit" value="0" />
            <input type="hidden" name="revert" id="revert" value="0" />
            <input type="button" value="Save" onclick="Save(0,0);" class="btn" />
            <input type="button" value="Save and Publish" onclick="Save(1,0);" class="btn" />
            <input type="button" value="Revert" onclick="Save(0,1);" class="btn" />
        </form>
        <script type="text/javascript">
            function Save(commit, revert) {
                if (commit) $("#commit").val(1);
                if (revert) $("#revert").val(1);
                
                if (revert) {
                    r = confirm("Reverting will cause all changes since the last publish to be lost. Are you sure you want to revert?");
                    if (!r) return;
                }
                
                document.forms.edit_form.submit();
            }
        </script>
    {% else %}
        {% autoescape off %}{{common_page_data.course.syllabus}}{% endautoescape %}
    {% endif %}
</div>
{% endblock m_column_content %}


{% block addl_scripts %}
{% include "controls/tinymce.html" %}
{% endblock addl_scripts %}
