{% extends "course_base.html" %}
{% load url from future %}
{% block course_info_link_class %}class="dropdown active"{% endblock course_info_link_class %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
  <div id="loadedSyllabus"></div>
    
</div>
{% endblock m_column_content %}


{% block addl_scripts %}
<script>
    $("#loadedSyllabus").load("/static/content/testsyllabus.html", function(text,status) {
                               if(status!="success"){
                                   alert('syllabus loading failed!');
                              }});

    
</script>
{% endblock addl_scripts %}
