{% extends "course_base.html" %}
{% load url from future %}
{% block home_link_class %}class="active"{% endblock home_link_class %}


{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
	<div class="well tight">
		<ul class="nav nav-list">
			<li class="nav-header">Videos</li>
			{% for video in course.video_set.all %}
			  <li><a href="{% url 'courses.videos.views.view' course_prefix course_suffix video.id %}">{{video.title}}</a></li>
			{% endfor %}
			<li class="nav-header">Problem Sets</li>
			{% for pset in course.problemset_set.all %}
			  <li><a href="{% url 'problemsets.views.show' course_prefix course_suffix pset %}">{{pset.title}}</a></li>
			{% endfor %}
			<li class="divider"></li>
			<li><a href="#"><i class="icon-flag"></i>Help</a></li>
			<li><a href="#"><i class="icon-envelope-alt"></i>Contact</a></li>
		</ul>
	</div>
</div>
{% endblock l_column_content %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
	<h3 class="section-title">Recent Announcements</h3>
	{% for announcement in announcement_list %}
    <div class="announcement">
		  <small class="date"> {{announcement.last_updated}} by {{announcement.owner}}</small>
      <h4>{{announcement.title}}</h4>
		  <p>{{announcement.description}}</p>
    </div>
	{% endfor %}
	
  <h3>Course Description</h3>
  <p>{{course.description}}</p>

</div>
{% endblock m_column_content %}

{%block r_column_content %}
<div id="c2g_layout_r_column" class="span3">
    <h3 class="section-title">Recent Events</h3>
    
    {% for event in news_list %}
        <p>
          <small class="date">{{event.time_created}}</small>
          <b>{{event.event}}</b>
        </p>
    {% endfor %}
    
    <a href="#">All Events</a>
</div>
{% endblock r_column_content %}
