{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    <h2>Create a New Problem Set</h2>

    <form action="#" method="POST" class="form-vertical">
        <h3>Problem Set Details</h3>
        <div class="control-group">
            <label class="control-label">Problem Set Title*</label>
            <div class="controls">
                <input type="text" name="title" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Section*</label>
            <div class="controls">
                <select name="section">
                    <option value="section1">Section 1</option>
                    <option value="section2">Section 2</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">When will this problem set go live?*</label>
            <div class="controls">
                <input type="text" name="live_date" value="07/29/2012 12:01 am" data-datetimepicker>
            </div>
        </div>
        <h3>Deadlines and Penalties</h3>
        <div class="control-group">
            <label class="control-label">Due Date*</label>
            <div class="controls">
                <input type="text" name="due_date" value="07/29/2012 12:01 am" data-datetimepicker>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Penalty Preference</label>
            <div class="controls">
                <input type="radio" name="penalty_type" value="assessive" /> Assessive
                <input type="radio" name="penalty_type" value="formative" /> Formative
                <input type="radio" name="penalty type" value="custom" /> Custom
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Grace Period</label>
            <div class="controls">
                <input type="text" name="grace_period" value="07/29/2012 12:01 am" data-datetimepicker>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Partial Credit Deadline</label>
            <div class="controls">
                <input type="text" name="partial_credit_deadline" value="07/29/2012 12:01 am" data-datetimepicker>
            </div>
        </div>
        <h4><a data-toggle="collapse" data-target="#advanced-options">Advanced Options</a></h4>
        <div id="advanced-options" class="collapse in">
            <div class="control-group">
                <label class="control-label">Late Penalty</label>
                <div class="controls">
                    <input type="number" name="late_penalty" />% 
                    <span class="help-block">Penalty for submitting between grace period and partial credit deadline</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Number of Submissions Permitted</label>
                <div class="controls">
                    <input type="number" name="submissions_permitted">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Penalty % per Resubmission</label>
                <div class="controls">
                    <input type="number" name="resubmission_penalty" />%
                </div>
            </div>
        </div>
        
        <h3>Exercises</h3>
        <div class="control-group">
            <label class="control-label">Add Exercises*</label>
            <div class="controls">
                <input type="file" name="exercise">
                <ul data-sortablecontainer class="exercise-list">
                    <li id="exercise_1" class="ui-state-default">
                        EC1.html
                        <input type="hidden" name="exercise_order[1]" value="0">
                    </li>
                    <li id="exercise_2" class="ui-state-default">
                        EC2.html
                        <input type="hidden" name="exercise_order[2]" value="1">
                    </li>
                    <li id="exercise_3" class="ui-state-default">
                        EC3.html
                        <input type="hidden" name="exercise_order[3]" value="2">
                    </li>
                    <li id="exercise_4" class="ui-state-default">
                        EC4.html
                        <input type="hidden" name="exercise_order[4]" value="3">
                    </li>
                    <li id="exercise_5" class="ui-state-default">
                        EC5.html
                        <input type="hidden" name="exercise_order[5]" value="4">
                    </li>
                </ul>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Randomize exercises?</label>
            <div class="controls">
                <input type="checkbox" name="randomize">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Save" class="btn"> or <a href "#"> Cancel</a>
        </div>
    </form>
</div>​
{% endblock m_column_content %}
