<form name="delete_exercise_form" action="{% url 'problemsets.views.delete_exercise' %}" method="POST">
        <input type="hidden" name="exercise_id" id="delete_exercise_id" />
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        {% csrf_token %}
</form>
<script type="text/javascript">
    function DeleteExercise(id, title) {
        var r = true;
        if ("{{problemset_taken}}"=="True")
            r = confirm("WARNING: Students have already begun taking this problem set. Deleting an exercise can ruin the integrity of the results. Are you sure you want to delete "+title+"?")
        else 
            r = confirm("Are you sure you want to delete "+title+"?");
        if(r == true){
            $("#delete_exercise_id").val(id);
            document.forms.delete_exercise_form.submit();
        }
    }
</script>
