#viewport {
	position: relative;
	margin: 0px; padding: 0px;
	overflow: auto;
}

#c2g_layout_l_column {
	position: absolute; top: 60px;
}

#c2g_layout_m_column {
	position: absolute; top: 60px;
}

#c2g_layout_r_column {
	position: absolute; top: 60px;
}