{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}
{% autoescape off %}
{{ exam.html_content }}
{% endautoescape %}
{% endblock m_column_content %}
{% block addl_scripts %}
<script>
    $(document).ready(function () {
                      
                      var allFieldsets = $('fieldset');
                      
                      allFieldsets.each(function() {
                                        if (!$(this).attr('no-shuffle')) {
                                        var tmpChoices = $(this).find('label');
                                        var tmpChoicesCopy = tmpChoices.slice(0); // make copy of jQuery array to manipulate
                                        $(this).empty();
                                        
                                        while (tmpChoicesCopy.length) {
                                        var randIdx = Math.floor(Math.random() * tmpChoicesCopy.length);
                                        var choice = tmpChoicesCopy.splice(randIdx, 1);
                                        $(this).append(choice);
                                        }
                                        }
                                        });
                      
                      $('input[type=submit]').click(function () {
                                                    var userSelections = {};
                                                    $('input').each(function () {
                                                                    if (($(this).attr('type') == 'checkbox' || $(this).attr('type') == 'radio') && $(this).get(0).checked == true) {
                                                                    if (!userSelections[$(this).attr('name')]) {
                                                                    userSelections[$(this).attr('name')] = [];
                                                                    }
                                                                    //console.log(userSelections);
                                                                    var tmpObj = {};
                                                                    tmpObj.value = $(this).attr('value');
                                                                    tmpObj.associatedText = $(this).parent().text();
                                                                    
                                                                    userSelections[$(this).attr('name')].push(tmpObj);
                                                                    } else if (($(this).attr('type') == 'text') && $(this).val() != "") {
                                                                    userSelections[$(this).attr('name')] = $(this).val();
                                                                    }
                                                                    });
                                                    console.log(JSON.stringify(userSelections));
                                                    });
                      
                      });
    </script>
{% endblock addl_scripts %}