{% extends "course_base.html" %}
{% load url from future %}
{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
    <div class="well tight">
        <ul class="nav nav-list">
            <li class="nav-header">Videos</li>
            <li class="active"><a href="#">1.1 Course Intro</a></li>
            <li><a href="#">1.2 History of Field</a></li>
            <li><a href="#">1.3 Big Issues</a></li>
            <li><a href="#">1.4 Another nav item</a></li>
            <li><a href="#">1.5 Another nav item</a></li>
            <li class="divider"></li>
            <li><a href="#"><em class="icon-flag"></em>Help</a></li>
            <li><a href="#"><em class="icon-envelope-alt"></em>Contact</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span9">
  <iframe width="900" height="700" src="{{STATIC_URL}}latestKhan/demo/nlp_with_khan_multi2.html" frameborder="0" scrolling="no" allowfullscreen></iframe>
</div>
{% endblock m_column_content %}
