{% load listtest %}

   <div class="pull-left icon">
        <em class="icon-book"></em>
    </div>
    <div class="course-list-content">
        <h4 class="pull-left">
            <a href="{% url item.exam.show_view common_page_data.course_prefix common_page_data.course_suffix item.exam.slug %}">{{item.exam.title}}</a>
        </h4>
        <span>{{item.exam.description}}</span>
        <div class="pull-right">
            {% include "content_group_buttons.html" %}
        </div>
            <p class="deadlines"><strong>Full Credit Deadline:</strong> {{item.exam.due_date}} PST |
            <strong>Partial Credit Deadline:</strong> {{item.exam.partial_credit_deadline}} PST</p>
            <div>
            <ul>
                {% for record in item.records %}
                    <li>
                        <a href="{% url item.exam.record_view common_page_data.course_prefix common_page_data.course_suffix item.exam.slug record.id %}">
                            Attempt at {{ record.time_created }}
                        </a>
                        :  Score {{record.score}} / {{item.exam.total_score}}
                        {% if record.late or record.attempt_number > 1 and item.exam.resubmission_penalty > 0 %}
                        ( Raw score: {{ record.examrecordscore.raw_score }} with
                            {% if record.late %}
                                {{item.exam.late_penalty}}% late penalty
                                {% if record.attempt_number > 1 and item.exam.resubmission_penalty > 0 %}
                                and
                                {% endif %}
                            {% endif %}
                            {% if record.attempt_number > 1 and item.exam.resubmission_penalty > 0 %}
                              {{item.exam.resubmission_penalty|subOneThenMult:record.attempt_number}}% resubmission penalty
                            {% endif %}
                            )
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            </div>
        
    </div>

