{% load listtest %}

   <div class="pull-left icon">
        <em class="icon-book"></em>
    </div>
    <div class="course-list-content">
        <h4 class="pull-left">
            <a href="{% url item.exam.show_view common_page_data.course_prefix common_page_data.course_suffix item.exam.slug %}">{{item.exam.title}}</a>
        </h4>
        <span>{{item.exam.description}}</span>
        <p class="deadlines" style="margin-bottom:5px"><strong>Full Credit Deadline:</strong> {{item.exam.due_date}} PST
        {% if not item.exam.partial_credit_deadline == item.exam.partial_credit_deadline %}
        | <strong>Late Deadline ({{100|sub:item.exam.late_penalty}}% credit):</strong> {{item.exam.partial_credit_deadline}} PST |
        {% endif %}<br/>
            {% if item.exam.autograde %}

            <div class="accordion" id="attempts_{{item.exam.slug}}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a style="color:black;font-size:12;" class="collapsed" data-toggle="collapse" data-parent="attempts_{{item.exam.slug}}" href="#collapse_{{item.exam.slug}}" onclick="c2g.toggleChevron('chevron_{{item.exam.slug}}')" >
                        <i id="chevron_{{item.exam.slug}}"class="icon-chevron-right"></i>
                        <strong>Attempts:</strong> {{item.records|length}}/{{item.exam.submissions_permitted}}
                    </a>
                </div>
                <div id="collapse_{{item.exam.slug}}" class="accordion-body collapse">
                    <ul>
                        {% for record in item.records %}
                            <li>
                                <a href="{% url item.exam.record_view common_page_data.course_prefix common_page_data.course_suffix item.exam.slug record.id %}">
                                    Attempt at {{ record.time_created }}
                                </a>
                                :  Score {{record.score}} / {{item.exam.total_score}}
                                {% if record.late or record.attempt_number > 1 and item.exam.resubmission_penalty > 0 %}
                                ( Raw score: {{ record.examrecordscore.raw_score }} with
                                    {% if record.late %}
                                        {{item.exam.late_penalty}}% late penalty
                                        {% if record.attempt_number > 1 and item.exam.resubmission_penalty > 0 %}
                                        and
                                        {% endif %}
                                    {% endif %}
                                    {% if record.attempt_number > 1 and item.exam.resubmission_penalty > 0 %}
                                      {{item.exam.resubmission_penalty|subOneThenMult:record.attempt_number}}% re-attempt penalty
                                    {% endif %}
                                    )
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
            {% endif %}
        </p>

    </div>

