<table style="width:100%">
    <tr>
        <td style="width:60%"><h3>{{section_structure.section.title}}</h3></td>
        <td style="width:40%">
            {% ifequal context 'course_materials' %}
                <a style="float: right;margin-right: 20px;" href="javascript:DeleteContentSection('{{section_structure.section.id}}')">Delete Section</a>
                <a style="float: right;margin-right: 20px;" href="{% url 'courses.content_sections.views.rename' common_page_data.course_prefix common_page_data.course_suffix section_structure.section.id %}">Rename Section</a>
                {% if section_structure.items|length > 0 %}<span style="float: right;margin-right: 20px;"><a href="javascript:sectionSelectAll('{{section_structure.section.id}}')">Select all in section</a> / <a href="javascript:sectionUnselectAll('{{section_structure.section.id}}')">Unselect all in section</a>{% endif %}
            {% endifequal %}
        </td>
    </tr>
</table>

<form action="{% url 'courses.content_sections.actions.save_content_order' %}" method="POST">
    <ul {% ifequal context 'course_materials' %}data-sortablecontainer{% endifequal %} style="list-style-type:none;">
        {% for item in section_structure.items %}
            {% ifequal item.type 'additional_page' %}
                <li id="additional_page_{{item.additional_page.id}}" class="ui-state-default" style="padding: 3px;">
                    {% include "additional_pages/staging/additional_page_list_item.html" %}
                    <input type="hidden" name="order_additional_page_{{item.additional_page.id}}" value="{{forloop.counter0}}" />
                </li>
            {% endifequal %}
            {% ifequal item.type 'problem_set' %}
                <li id="problem_set_{{item.problem_set.id}}" class="ui-state-default" style="padding: 3px;">
                    {% include "problemsets/staging/problemset_list_item.html" %}
                    <input type="hidden" name="order_problem_set_{{item.problem_set.id}}" value="{{forloop.counter0}}" />
                </li>
            {% endifequal %}
            {% ifequal item.type 'video' %}
                <li id="video_{{item.video.id}}" class="ui-state-default" style="padding: 3px;">
                    {% include "videos/staging/video_list_item.html" %}
                    <input type="hidden" name="order_video_{{item.video.id}}" value="{{forloop.counter0}}" />
                </li>
            {% endifequal %}
        {% empty %}
            <p style='margin: 20px;'>No items have been added to this section</p>
        {% endfor %}
    </ul>
    {% if context == 'course_materials' and section_structure.items|length > 1 %}
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        <input type="hidden" name="section_id" value="{{ section_structure.section.id }}" />
        <input type="submit" value="Save order" class="btn" />
        {% csrf_token %}
    {% endif %}
</form>