{% extends "base.html" %}
{% load url from future %}
{% block title %}Contact Us | Stanford Online{% endblock title %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <center><h2>How to reach Stanford Online</h2></center>
        <p></p>
        <h3>For most issues, we recommend posting on the discussion forum rather than sending email.  </h3><p></p>
        
        {% if staffmail %}
        <dl>
            <dt>For {{course.title}} course staff email:</dt>
            <dd>
                <strong><a href="mailto:{{staffmail}}">{{staffmail}}</a></strong>
                <p style="font-size: smaller;">Course staff may not be able to respond to all queries individually - please consider posting on the discussion forum.</p>
            </dd>
        </dl>
        {% endif %}
        <dl>
            <dt>For general information email us at:</dt>
            <dd><strong><a href="mailto:c2g-contact@class.stanford.edu">c2g-contact@class.stanford.edu</a></strong></dd>
        </dl>
        <dl>
            <dt>For copyright concerns email us at:</dt>
            <dd><strong><a href="mailto:c2g-copyright@class.stanford.edu">c2g-copyright@class.stanford.edu</a></strong></dd>
        </dl>
        <dl>
            <dt>For bug reports email us at:</dt>
            <dd><strong><a href="mailto:c2g-bugs@class.stanford.edu">c2g-bugs@class.stanford.edu</a></strong>
            <p style="font-size: smaller;">When submitting a bug report, please include the following in the email body:</p>
            <pre>HTTP_USER_AGENT = {{request.META.HTTP_USER_AGENT}}

Previous QUERY_STRING = {{request.META.QUERY_STRING}}</pre></dd>
        </dl>
        <dl>
            <dt>For suggestions email us at:</dt>
            <dd><strong><a href="mailto:c2g-suggestions@class.stanford.edu">c2g-suggestions@class.stanford.edu</a></strong></dd>
        </dl>
        <dl>
            <dt>For technical support email us at:</dt>
            <dd><strong><a href="mailto:c2g-techsupport@class.stanford.edu">c2g-techsupport@class.stanford.edu</a></strong></dd>
        </dl>
        <dl>
            <dt>For disability-related questions email us at:</dt>
            <dd><strong><a href="mailto:c2g-accessibility@class.stanford.edu">c2g-accessibility@class.stanford.edu</a></strong></dd>
        </dl>
        <dl>
            <dt>For questions about privacy-related issues email us at:</dt>
            <dd><strong><a href="mailto:c2g-privacy@class.stanford.edu">c2g-privacy@class.stanford.edu</a></strong></dd>
        </dl>
   </div>
</div>


{% endblock m_column_content %}
