{% extends "base.html" %}
{% block title %}Available Courses | Stanford Online{% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}
{% load url from future %}

{% block bodytag %}
<body class="home">
{% endblock bodytag %}


{% block topcontent %}
<div class="row-fluid hero-header">
    <div class="container">
        <div class="row hero">
            <h1>Class2Go</h1>
            <h2>Take Stanford Online Classes. <strong>Anywhere.</strong></h2>
        </div>
    </div>
</div>
{% endblock topcontent %}

{% block m_column_content %}
<div class="home-unit home-primary" style="background:#fff">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Welcome to Class2Go! We're Stanford Online's internal platform, designed to be an open platform for online learning and research.</h3>
		<p>Coming Winter, 2013, free to the world:
		<ul>
		    <li><a href="{% url 'courses.views.main' 'db' 'Winter2013' %}">Introduction to Databases</a> with Jennifer Widom</li>
		</ul>
		</p>
                <p>Fall 2012, we offered two free courses: 
                <ul>
                    <li><a href="{% url 'courses.views.main' 'networking' 'Fall2012' %}">Computer Networking</a> with Nick McKeown &amp; Philip Levis</li> 
                    <li><a href="{% url 'courses.views.main' 'solar' 'Fall2012' %}">Solar Cells, Fuel Cells, &amp; Batteries</a> with Bruce Clemens</li>
                </ul>
                <h4>Here's what you will like about Class2Go:</h4>
                <p><strong>Videos from Stanford professors</strong> with interactive in-video quizzes give you a chance to learn from Stanford professors and then practice what you've learned.</p>
                <p><strong>Formative and summative exercises</strong> as well as in-video quizzes taking your learning to the next level.</p>
                <p><strong>Frame extracting</strong> allows you to preview and navigate to specific parts of videos. Scroll through extracted frames underneath a video to quickly find what you're looking for.</p>
                <p><strong>Love discussion forums?</strong> We've added Piazza forums to get people talking.</p>
            </div>
            <div class="span5">
                <h3>It's <a href="http://github.com/Stanford-Online/class2go/">open</a>.</h3>
                <p>The platform is open source so that anyone who wants to can collaborate with us. We would love to have others use the platform, or to work together with similar efforts in other places.</p>
                <h3>It's portable.</h3>
                <p>We believe strongly that valuable course content shouldn't be tied to any one platform. Documents are already portable; the videos are outside our system (on YouTube) and the assets themselves can be repurposed as faculty see fit.</p>
                <h3>It's interoperable.</h3>
                <p>We don't want to build or maintain more than we have to. We're standing on the shoulders of developments from Piazza, YouTube, MySQL, Python Django, Amazon AWS, Opscode, Github, and Popcorn.js.</p>
            </div>
        </div>
        {%  if hiring %}
        <div class="row-fluid">
            <div align=center>
                <h3>
                    Did we mention that <strong><a href="hiring">We're Hiring!</a></strong>
                </h3>
            </div>
        </div>
        {%  endif %}
    </div>
</div>
<div>
    <div class="container" style="margin-top:30px;margin-bottom:0;">
        <div style="width:315px;margin:0 auto;">
            <div class="social-btn facebook"><div class="fb-like" data-href="http://class2go.stanford.edu" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div></div>
            <div class="social-btn twitter"><a href="https://twitter.com/StanfordC2G" class="twitter-follow-button" data-show-count="false">Follow @StanfordC2G</a></div>
            <div class="social-btn google"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div>
        </div>
    </div>
</div>
<h3 style="padding-left:50px;">Winter, 2013</h3>
<div class="home-unit">
    <div class="container">
        <div class="row databases">
            <h3><a href="{% url 'courses.views.main' 'db' 'Winter2013' %}">Introduction to Databases</a></h3>
            <p><strong>Class begins January 15, 2013</strong></p>
	    <p>This is an introductory course on databases, primarily focusing on how databases and database systems are used in applications. The course will cover relational databases and SQL as well as cover semi-structured and unstructured data using the XML and JSON models. It will cover different ways of designing databases and include such important topics such as; indexes, views, transactions, authorization, integrity, triggers, and online analytical processing (OLAP). Towards the end of the class, Cloud databases and NoSQL systems will also be covered.</p>
        </div>
    </div>
</div>
<h3 style="padding-left:50px;">Fall, 2012</h3>
<div class="home-unit">
    <div class="container">
        <div class="row computernetworking">
            <h3><a href="{% url 'courses.views.main' 'networking' 'Fall2012' %}">An Introduction to Computer Networking</a></h3>
            <p><strong>Class began October 8, 2012</strong></p>
            <p>This is an introductory course on computer networking, specifically the Internet. It focuses on explaining how the Internet works, ranging from how bits are modulated on wires and in wireless to application-level protocols like BitTorrent and HTTP. It also explains the principles of how to design networks and network protocols. Students gain experience reading and understanding RFCs (Internet protocol specifications) as statements of what a system should do. The course grounds many of the concepts in current practice and recent developments, such as net neutrality and DNS security.</p>
        </div>
    </div>
</div>
<div class="home-unit">
    <div class="container">
        <div class="row solarcells">
            <h3><a href="{% url 'courses.views.main' 'solar' 'Fall2012' %}">Solar Cells, Fuel Cells &amp; Batteries</a></h3>
            <p><strong>Class began October 8, 2012</strong></p>
            <p>This course focuses on the operating principles and applications of emerging technological solutions to the energy demands of the world. We will begin with discussing the scale of global energy usage and requirements for possible solutions. Basic physics and chemistry of solar cells, fuel cells, and batteries will be discussed in quantitative detail. We will explore performance issues, including economics, from the ideal device to the installed system. Finally, we will end with the promise of materials research for providing next generation solutions.</p>
        </div>
    </div>
</div>
<div class="home-unit home-examples">
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="{{ STATIC_URL }}graphics/core/home-why-1.jpg" alt="Course page example">
                <p>Easy access to class videos, announcements, problem sets, and other files</p>
            </div>
            <div class="span4">
                <img src="{{ STATIC_URL }}graphics/core/home-why-2.jpg" alt="Problem set example">
                <p>Check your understanding with problem sets</p>
            </div>
            <div class="span4">
                <img src="{{ STATIC_URL }}graphics/core/home-why-3.jpg" alt="Image index example">
                <p>Browse an image index to find specific topics and quizzes within videos</p>
            </div>
        </div>
    </div>
</div>

{% if hiring %}
<a href="hiring"><img src="{{ STATIC_URL }}graphics/core/hiring_ribbon.gif" border="0" width="150" height="150" style="position:absolute; right:0px; top:0px; margin:0px; padding:0px"></a>
{% endif %}

<!--facebook-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=195512500520406";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--twitter-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<!--google plus-->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

{% endblock m_column_content %}
