{% load i18n %}
<table style="width:100%">
    <tr id="additional_page_{{item.additional_page.id}}">
        <td width="20" align="middle"><input type="checkbox" name="additionalpage_{{item.additional_page.id}}" id="additionalpage_{{item.additional_page.id}}" class="item_selector section_{{item.additional_page.section.id}}_item_selector" /></td>
        <td><em class="icon-book" style="font-size:16px;opacity:.3;"></em> <h4 style="margin-top:10px;display:inline;"><a id="additionalpage_{{item.additional_page.id}}_title" href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix item.additional_page.slug %}">{{item.additional_page.title}}</a></h4></td>
        <td width="240">
            {% if item.additional_page.is_synced %}
            <div style="color: #00A000; padding: 0px;">
                <em class="icon-ok" style="font-size:17px"></em> {% trans 'Draft=Ready' %}
            </div>
            {% else %}
            <div style="color: #A07000; padding: 0px;">
                <em class="icon-random" style="font-size:17px"></em> {% trans 'Draft Different From Ready' %}
            </div>
            {% endif %}
        </td>
        <td width="70">
            {% autoescape off %}{{ item.visible_status }}{% endautoescape %}
        </td>
        <td width="60"><a id="additionalpage_{{item.additional_page.id}}_title" href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix item.additional_page.slug %}">{% trans 'Edit' %}</a></td>
        <td width="140"></td>
        <td width="20">
            <a href="javascript:DeleteAdditionalPage('{{item.additional_page.id}}')" style="float: right; font-size: 12pt; font-weight: bold; color: rgb(150,150,150);margin-right: 10px;">x</a>
        </td>
    </tr>
</table>
