#top-header, #footer {display:none;}
#outer-wrapper, #page-container {background:#fff;}
#questions-to-do {display: none; font-size: 150%; top: 30px; left: -60px; z-index:5}
#questions-to-do ol li { background-color: #fff; border: 2px solid #ccc; border-radius: 3px; color: #999; cursor: pointer; margin-top: -.5em; padding: 0 .5em; -webkit-transform:rotate(-17deg); -ms-transform:rotate(-17deg); -moz-transform:rotate(-17deg); -o-transform:rotate(-17deg) }
#questions-to-do ol li:last-child{ border: 2px solid #c00 }
#questions-to-do ol li:hover{border-color: #000; color:#000;}
        
#questions-done {display: none; font-size: 150%; top: 30px; right: -60px; z-index:5}
#questions-done ol li { background-color: #fff; border: 2px solid #ccc; border-radius: 3px; color: #999; cursor: pointer; margin-top: -.5em; padding: 0 .5em; -webkit-transform:rotate(17deg); -ms-transform:rotate(17deg); -moz-transform:rotate(17deg); -o-transform:rotate(17deg) }
#questions-done ol li:hover{border-color: #000; color:#000;}
