{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}New Course | {{ SITE_TITLE }}{% endblock %}

{% block addl_stylesheets %}
{% endblock addl_stylesheets %}


{% block new_course_link %}class="active"{% endblock new_course_link %}

{% block m_column_content %}

<h2>{% trans 'Create New Course' %}</h2>
<p>Creates a new course in the {{ SITE_TITLE }} system.</p>

<form name="form_new_course" method="POST" action="{% url 'courses.admin_views.new' %}">

    <div class="row">

        <div class="large-7 columns">

            <div class="row">

                <div class="large-9 columns large-offset-3">

                    <label class='header'>{% trans 'Course Information' %}</label>

                </div>

            </div>

            <div class="row">

                <div class="large-3 columns">
                    <label class="right inline">Title:</label>
                </div>

                <div class="large-9 columns">

                    <input type='text' id='id_title' name='title' class="onload-focus" placeholder="e.g. Introduction to Basket Weaving, COMM 1510 (Fall 2013)">
                </div>

            </div>

            <div class="row">

                <div class="large-3 columns">
                    <label class="right inline">Contact Email:</label>
                </div>
 
                <div class="large-9 columns">
                    <input type='text' id='id_contact' name='contact' placeholder="myemail@school.edu"/>
                </div>

            </div>

            <div class="row">

                <div class="large-3 columns">
                    <label class="right inline">Twitter Tag (optional):</label>
                </div>

                <div class="large-1 columns">
                    <span class="prefix">@</span>
                </div>

                <div class="large-8 columns">
                    <input type='text' id='id_twitter_tag' name='twitter_tag' placeholder="funprof1337"/>
                </div>

            </div>

            <div class="row">

                <div class="large-3 large-offset-3 columns">
                    <input type='checkbox' id='id_institution_only' name='institution_only' class="inline"/>
                    <label class="inline">Institution Only</label>
                </div>

                <div class="large-3 columns">
                    <input type='checkbox' id='id_pre_enroll_only' name='pre_enroll_only' />
                    <label class="inline">Pre-Enroll Only</label>
                </div>

                <div class="large-3 columns">
                    <input type='checkbox' id='id_preview_only' name='preview_only' />
                    <label class="inline">Preview Only</label>
                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="large-7 columns">

            <div class="row">

                <div class="large-9 columns large-offset-3">

                    <label class='header'>{% trans 'When does the course go live, and when does it end?' %}</label>

                </div>

            </div>

            <div class="row">

                <div class="large-3 columns">
                    <label class="right inline">Term:</label>
                </div>

                <div class="large-3 columns">
                    <select name='term' class="inline">
                        <option value="fall">{% trans 'Fall' %}</option>
                        <option value="winter">{% trans 'Winter' %}</option>
                        <option value="spring">{% trans 'Spring' %}</option>
                        <option value="summer">{% trans 'Summer' %}</option>
                    </select>
                </div>

                <div class="large-2 columns">
                    <label class="right inline">Year:</label>
                </div>

                <div class="large-4 columns">
                    <input type='text' name='year' id='id_year' value='{{ current_year }}' style="width:60px"/>
                </div>

            </div>

            <div class="row">

                <div class="large-3 columns">
                    <label class="right inline">Start Date:</label>
                </div>

                <div class="large-2 columns">
                    <label></label>
                    <input type='text' class="datepicker inline" name='start_date' id='id_start_date'  value='{{ date }}' 
                    data-date-format="mm-dd-yyyy" />
                </div>

               <div class="large-3 columns">
                    <label class="right inline">End Date:</label>
                </div>

                <div class="large-2 columns"> 
                    <label></label> 
                    <input type='text' class='datepicker inline' name='end_date' id='id_end_date' value="{{date}}" 
                    data-date-format="mm-dd-yyyy">
                </div>

                <div class="large-2 columns">
                    <!-- This div intentionally left blank -->
                </div>

            </div>

        </div>

    </div>

<!--

            <table>
                <tr>
                    <td style="padding: 10px;">{% trans 'Term' %}</td>
                    <td style="padding: 10px;">
                        <select name='term'>
                            <option value="fall">{% trans 'Fall' %}</option>
                            <option value="winter">{% trans 'Winter' %}</option>
                            <option value="spring">{% trans 'Spring' %}</option>
                            <option value="summer">{% trans 'Summer' %}</option>
                        </select>
                    </td>
                    <td style="padding: 10px;">{% trans 'Year' %}</td>
                    <td style="padding: 10px;"><input type='text' name='year' id='id_year' value='{{ current_year }}'></td>
                </tr>
                <tr>
                    <td style="padding: 10px;">{% trans 'Start date' %}</td>
                    <td style="padding: 10px;"></td>
                    <td style="padding: 10px;">{% trans 'End date' %}</td>
                    <td style="padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="padding: 10px;">{% trans 'Twitter tag' %}</td>
                    <td style="padding: 10px;"><input type='text' id='id_twitter_tag' name='twitter_tag' /></td>
                </tr>
                <tr>
                    <td style="padding: 10px;">{% trans 'Logo filename' %}</td>
                    <td style="padding: 10px;"><input type='text' id='id_logo_filename', name='logo_filename' /></td>
                <tr>
                    <td style="padding: 10px;">{% trans 'Institution only' %}</td>
                    <td style="padding: 10px;"><input type='checkbox' id='id_institution_only' name='institution_only' /></td>
                    <td style="padding: 10px;">{% trans 'Pre-enroll only' %}</td>
                    <td style="padding: 10px;"><input type='checkbox' id='id_pre_enroll_only' name='pre_enroll_only' /></td>
                    <td style="padding: 10px;">{% trans 'Preview only' %}</td>
                    <td style="padding: 10px;"><input type='checkbox' id='id_preview_only' name='preview_only' /></td>
                </tr>
            </table>-->

        <div class="row">

            <div class="large-7 columns">

                <div class="row">

                    <div class="large-9 columns large-offset-3">

                         <label class='header'>{% trans 'Course Data' %}</label>

                    </div>

                </div>

                <div class="row">

                    <div class="large-3 columns">

                            <label class="right inline">URL:</label>

                    </div>

                    <div class="large-9 columns">
               
                        <label class='explanation'>{% trans 'Fill in the two fields below using only alphabets, numbers, and/or underscores.' %}</label>
                        <label class='explanation'>e.g. {{ SITE_URL }}/ict/Fall2013</label><br/>

                        <strong>{{ SITE_URL }}/</strong>
                        <input type='text' id='id_prefix' name='prefix' class="inline" style='width:100px;' />
                        / <input type='text' id='id_suffix' name='suffix' class="inline" style='width:100px;' />

                    </div>

                </div>

                <div class="row">

                    <div class="large-3 columns">

                            <label class="right inline">Logo Filename:</label>

                    </div>

                    <div class="large-9 columns">

                        <input type='text' id='id_logo_filename', name='logo_filename' 
                        placeholder="e.g. cool_logo_123.png"/>

                    </div>

                </div>

                <div class="row">

                    <div class="large-9 large-offset-3">

                        <!-- TODO: wtf is this? thanks, stanford -->
                        <input type="hidden" name="institution" value="2" />
                        
                        <input type="button" class="button large" onclick="ValidateAndSubmit()" value="{% trans 'Create Course' %}"/>

                    </div>

                </div>


            </div>

        </div>

    </div>

    {% csrf_token %}

</form>
<script type="text/javascript">
function ValidateAndSubmit() {
    title= $("#id_title").val();
    if (title.length == 0 || title.length > 100) {
        alert("{% trans 'Error: Title must not be empty and must be at most 100 characters long.' %}");
        return;
    }
    
    contact= $("#id_contact").val();
    if (contact.length == 0) {
        alert("{% trans 'Error: Please specify course contact email.' %}");
        return;
    }
    
    prefix = $("#id_prefix").val(); suffix = $("#id_suffix").val();
    if (!prefix.match(/^[a-zA-Z0-9_-]+$/) || !suffix.match(/^[a-zA-Z0-9_-]+$/)) {
        alert("{% trans 'Error: Both URL slugs must be non-empty and can contain only lower case alphabets, numbers, or underscores.' %}");
        return;
    }
    
    year = $("#id_year").val();
    if (!year.match(/^[0-9]{4}$/)) {
        alert("{% trans 'Error: Year must be a 4-digit number.' %}");
        return;
    }
    
    start_date = $("#id_start_date").val(); end_date = $("#id_end_date").val();
    if (!start_date.match(/^[0-9]{2}-[0-9]{2}-[0-9]{4}$/) || !end_date.match(/^[0-9]{2}-[0-9]{2}-[0-9]{4}$/)) {
        alert("{% trans 'Error: Start and end dates must be on the form MM-DD-YYYY.' %}");
        return;
    }
    
    twitter_tag = $("id_twitter_tag").val();
    logo_filename = $("id_logo_filename").val();
    institution_only = $("id_institution_only").val();
    pre_enroll_only = $("id_pre_enroll_only").val();
    preview_only = $("id_preview_only").val();
    
    document.forms.form_new_course.submit();
}
</script>

{% endblock m_column_content %}
