{% extends "course_base.html" %}
{% load url from future %}

{% block title %}{{ SITE_TITLE }} | {{ common_page_data.course.title }} | Preview {% if display_login %}(Login){% endif %} {% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}

{% block top_scripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/responsive.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/divs.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/core/{{ SITE_NAME_SHORT }}-styles.css" />

<!--[if IE 7]>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css">
 <![endif]-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<style>
.alert-error{
  margin-bottom: 60px;
}
</style>
{% endblock top_scripts %}


{% block bottom_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/core/app.js"></script>
{% endblock bottom_scripts %}

{% block topbar %}<div id="c2g_layout_topbar" class="preview-page">{% endblock topbar %}

{% block r_column_content %}
    

<div class="course-description">
{% block course_description %}

{% endblock course_description %}
</div>

{% block signup_form %}
    
{% if user.is_authenticated %}
  {% if common_page_data.is_course_member %}
  <div class="span5">
    <div class="alert alert-success">
        <em class="icon-heart"></em>
        You have signed up for {{common_page_data.course.title}}!
        <form style="display:inline" method="POST" action="{% url 'courses.views.unenroll' common_page_data.course_prefix common_page_data.course_suffix %}">
            {% csrf_token %}
            <input class="btn-mini" type="Submit"  value="Unenroll" onclick="return confirm('Do you really want to unenroll?')" />
        </form>
    </div>
    <p>The course starts on {{common_page_data.course.calendar_start}}. The course staff will contact you with an email introduction when the date approaches.
      Hope to see you online this term!</p>
    <p><a href="{% url 'auth_logout' %}?next={% url 'courses.preview.views.preview' common_page_data.course_prefix common_page_data.course_suffix%}">
        Register or log-in as someone else</a>
    </p>
  </div>
  {% else %}
    <div class="span5">
    <div class="alert alert-info"><em class="icon-info-sign"></em>Hi {{user.first_name}} {{user.last_name}}.  It looks we already have record of you at {{SITE_TITLE}}.  Would you like to register for {{common_page_data.course.title}}?
    <form style="display:inline" action="{% url 'courses.actions.signup_with_course' common_page_data.course_prefix common_page_data.course_suffix %}?redirect_to={{request.path}}" method="POST">
    <input type="submit" id="login_button" class="btn" value="Enroll" />
    {% csrf_token %}
    </form>
    </div>
    <a href="{% url 'auth_logout' %}?next={% url 'courses.preview.views.preview' common_page_data.course_prefix common_page_data.course_suffix%}">Register or log-in as someone else</a>
    </div>
  {% endif %}

    
{% else %}
{% if display_login %}
   <div class="span5">
       {% if login_form.errors %}
       <div class="alert alert-error">
         <button class="close" data-dismiss="alert">×</button>
         Uh-oh.  We couldn't find username and password you entered.  Try again?
       </div>
       {% endif %}
       <div class="well preview-registration">
       <h3>Confirm your login name</h3>
       <form method="post" action="{% url 'accounts.views.default_preview_login' common_page_data.course_prefix common_page_data.course_suffix %}" class="form-vertical">  
           {% csrf_token %}
           <table>
               <tr>
                   <td>{{ login_form.username.label_tag }}</td>
                   <td>{{ login_form.username }}</td>
               </tr>
               <tr>
                   <td>{{ login_form.password.label_tag }}</td>
                   <td>{{ login_form.password }}</td>
               </tr>
           </table>
           <input type="submit" value="Login" class="btn" />
           <input type="hidden" name="next" value="{{ next }}" />
       </form>
           <a href="{% url 'courses.preview.views.preview' common_page_data.course_prefix common_page_data.course_suffix%}">Registration</a>
           <br>
           <a href="{% url 'auth_password_reset' %}">Forgot My Password or Username</a> 
       </div>
   </div>

{% else %}
    <div class="span5">
      {% for error in form.email.errors %}
          {% if "in use" in error %}
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            Someone with the email address you entered already has an account.  Perhaps you'd like to <a class="btn" href="{% url 'courses.preview.views.preview' common_page_data.course_prefix common_page_data.course_suffix %}?login">Login</a> instead?
          </div>
          {% endif %}
      {% endfor %}
      <div class="registration preview-registration">
          <div class="well">
            <h2>{{ SITE_TITLE }} Signup</h2>
            <form action="{% url 'courses.preview.views.preview_reg' common_page_data.course_prefix common_page_data.course_suffix %}" method="post" class="form-horizontal">
              <fieldset>
              {% include "registration/regforminputs.html" %} 
              </fieldset>
              <div class="form-actions">
                  <p>
                  {{form.tos}} I agree to {{ SITE_TITLE }}'s <a href="{% url 'c2g.views.tos' %}" target="_blank">Terms of Service</a>, 
                  <a href="{% url 'c2g.views.tos' %}#honor" target="_blank" >Honor Code</a>, and <a href="{% url 'c2g.views.tos' %}#privacy" target="_blank">Privacy Policy</a>
                  </p>
                  <input type="submit" value="Register" class="btn btn-primary btn-large" /> &nbsp; Already have an account?  <a href="{% url 'courses.preview.views.preview' common_page_data.course_prefix common_page_data.course_suffix %}?login"> Login instead</a>
              </div>
            </form>
          </div>
       </div>
    </div>
    {% endif %}
{% endif %}
    
{% endblock signup_form %}

{% endblock r_column_content %}
