{% extends "course_base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{{ SITE_TITLE }} | {{ common_page_data.course.title }}{% endblock title %}
{% block home_link_class %}class="active"{% endblock home_link_class %}

{% block course_notification %}
{% if user.is_authenticated and not common_page_data.is_course_member %}
<div class="alert alert-info inline">
    <em class="icon-info-sign"></em>{% trans 'You are not yet a member in this course.' %} <form style="display:inline" action="{% url 'courses.actions.signup_with_course' common_page_data.course_prefix common_page_data.course_suffix %}{% if request.GET.join_next %}?redirect_to={{ request.GET.join_next }}{% endif %}" method="POST">
        <input type="submit" id="login_button" class="btn" value="Join" />
        {% csrf_token %}
    </form>
</div>
{% endif %}
{% endblock %}

{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
    <!--Skeleton Div to be filled in by leftnav ajax -->
</div>
{% endblock l_column_content %}



{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    <h3 class="section-title pull-left">{% trans 'Recent Announcements' %}</h3>
    <div class="pull-right">
	<!--
	{% if many_announcements %}
            <a class="btn" href="{% url 'courses.announcements.views.list' common_page_data.course_prefix common_page_data.course_suffix %}">{% trans 'View all announcements' %}</a>
        {% endif %}
	-->
        
        {% if common_page_data.is_course_admin and common_page_data.course_mode == 'draft' %}
            <button class="btn" onclick="document.getElementById('new_announcement_div').style.display='block';">{% trans 'New announcement' %}</button>
            <!--a class="btn" href="{% url 'courses.announcements.views.admin' common_page_data.course_prefix common_page_data.course_suffix %}">Manage Announcements</a-->
            {% include "announcements/delete_announcement_form.html" %}
	{% else %}
	    <a class="btn" id="showHideAll">Show All</a>
        {% endif %}
    </div>
    {% if common_page_data.is_course_admin %}
        {% include "announcements/new_announcement.html" %}
    {% endif %}
    
    {% for announcement in announcement_list %}
        {% include "announcements/announcement.html" %}
    {% empty %}
        <p style="margin:20px;">{% trans 'No announcements to display.' %}</p>
	{% endfor %}
    <a class="btn pull-right" href="{% url 'courses.announcements.views.list' common_page_data.course_prefix common_page_data.course_suffix %}">{% trans 'View all announcements' %}</a>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}

{% block r_column_content %}
<div id="c2g_layout_r_column" class="span3">
    <!--Skeleton Div to be filled in by rightnav ajax -->
</div>
{% endblock r_column_content %}

{% if common_page_data.is_course_admin %}
    {% include "controls/tinymce.html" %}
{% endif %}

<script>
$(document).ready(function(){
    $("#c2g_layout_r_column").load("{% url 'courses.views.rightnav' common_page_data.course_prefix common_page_data.course_suffix  %}");
    $("#c2g_layout_l_column").load("{% url 'courses.views.leftnav' common_page_data.course_prefix common_page_data.course_suffix  %}", function(){
                                                 c2g.installLeftNavChevron();
                                                 });
    var numVisibleAnnouncements = 2;
    $('#showHideAll').show();
    $('.announcement-content').each(function(){
	if (numVisibleAnnouncements <= 0) {
	    $(this).closest('.announcement').find('.announcement-actions .announcement-collapse').show();
	    $(this).hide();
	} else {
	    $(this).removeClass('announcement-content');
	}
	numVisibleAnnouncements--;
    });
    
    $('.announcement .announcement-actions .announcement-collapse').click(function(){
	if ($(this).text() == 'Show') {
	    $(this).text('Hide').closest('.announcement').find('.announcement-content').slideDown(250);
	} else {
	    $(this).text('Show').closest('.announcement').find('.announcement-content').slideUp(250);
	}
    });
    
    $('#showHideAll').toggle(function(){
	$(this).text('Hide All').parent().siblings('.announcement').each(function(){
	    $(this).find('.announcement-content').slideDown(250);
	    $(this).find('.announcement-actions .announcement-collapse').text('Hide');
	});
    }, function() {
	$(this).text('Show All').parent().siblings('.announcement').each(function(){
	    $(this).find('.announcement-content').slideUp(250);
	    $(this).find('.announcement-actions .announcement-collapse').text('Show');
	});
    });
});
</script>
{% endblock addl_scripts %}

