{% extends "course_base.html" %}
{% load url from future %}
{% load i18n %}
{% load template_utils %}
{% block title %}{{ SITE_TITLE }} | {{ common_page_data.course.title }}{% endblock title %}

{% block home_link_class %}class="active"{% endblock home_link_class %}

{% block course_notification %}
{% if user.is_authenticated and not common_page_data.is_course_member and not common_page_data.ready_course.preenroll_only %}
<div class="alert-area">
	<div class="alert-box status">

	    {% trans "You're not enrolled in this course." %}

	    <form style="display:inline" action="{% url 'courses.actions.signup_with_course' common_page_data.course_prefix common_page_data.course_suffix %}{% if request.GET.join_next %}?redirect_to={{ request.GET.join_next }}{% endif %}" method="POST">
	        <input type="submit" id="login_button" class="button" value="Enroll today" />
	        {% csrf_token %}
	    </form>
	</div>
	
</div>
{% endif %}
{% if user.is_authenticated and not common_page_data.is_course_member and common_page_data.ready_course.preenroll_only %}
<div class="alert alert-error inline">
    <em class="icon-info-sign"></em>{% trans 'Your account is not on the access list of this restricted course.  Please contact the course staff if you believe this to be in error.' %}
</div>
{% endif %}

{% endblock %}


{% block m_column_content %}
<div class="course-homepage">
	<div class="page-info">
		<div class="title">
		    <h1>
		    	{{ course.title }}
		    </h1>                
		</div>
		<div class="description">
		    <p>
		    	{{ course.description }}
		    </p>
		    
		</div>
	</div>


	

</div>
{% endblock %}

{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
    <!--Skeleton Div to be filled in by leftnav ajax -->
</div>
{% endblock l_column_content %}

{% block r_column_content %}
    
{% endblock r_column_content %}

{% block addl_scripts %}

{% if common_page_data.is_course_admin %}
    {% include "controls/tinymce.html" %}
{% endif %}

<script>
$(document).ready(function(){

    //Sidebar content loading
    $("#c2g_layout_r_column .right_nav_wrapper").load("{% url 'courses.views.rightnav' common_page_data.course_prefix common_page_data.course_suffix  %}");
    $("#c2g_layout_l_column").load("{% url 'courses.views.leftnav' common_page_data.course_prefix common_page_data.course_suffix  %}", function(){
        c2g.installLeftNavChevron();
    });
    
    //Announcement collapsing code
    var numVisibleAnnouncements = 2;
    if ($('.announcement-content').length > numVisibleAnnouncements) {
	$('#showHideAll').show();
	$('.announcement-content').each(function(){
	    if (numVisibleAnnouncements <= 0) {
		$(this).closest('.announcement').find('.announcement-actions .announcement-collapse').show();
		$(this).hide();
	    } else {
		$(this).removeClass('announcement-content');
	    }
	    numVisibleAnnouncements--;
	});
	
	$('.announcement .announcement-actions .announcement-collapse').click(function(){
	    if ($(this).text() == 'Expand') {
		$(this).text('Collapse').closest('.announcement').find('.announcement-content').slideDown(250);
	    } else {
		$(this).text('Expand').closest('.announcement').find('.announcement-content').slideUp(250);
	    }
	});
	
	$('#showHideAll').toggle(function(){
	    $(this).text('Collapse All').siblings('.announcement').each(function(){
		$(this).find('.announcement-content').slideDown(250);
		$(this).find('.announcement-actions .announcement-collapse').text('Collapse');
	    });
	}, function() {
	    $(this).text('Expand All').siblings('.announcement').each(function(){
		$(this).find('.announcement-content').slideUp(250);
		$(this).find('.announcement-actions .announcement-collapse').text('Expand');
	    });
	});
    }

    //Show/Hide share block
    $('#share_wrapper .show_hide_share').click(function() {
	if ($(this).hasClass('share_hidden')) {
	    $(this).text('Hide').toggleClass('btn').toggleClass('share_hidden').toggleClass('share_visible').siblings('#share-result').slideDown('slow');
	} else {
	    $(this).siblings('#share-result').slideUp('slow', function() {
		$(this).siblings('.show_hide_share').text('Share Something!').toggleClass('btn').toggleClass('share_visible').toggleClass('share_hidden');
	    });
	}
    });
    
    //Show/Hide chat block
    $('#chat_wrapper .chat_toggle').click(function() {
	$('#chat_block').show();
	if ($(this).hasClass('closed')) {
	    $('#chat_block').show();
	    $(this).toggleClass('closed').siblings().animate({height: '400px'}, 'slow', function() {
		$(this).siblings().find('span.openChat').hide();
		$(this).siblings().find('span.closeChat').show();
		$('#chatPopout').show();
	    });
	} else {
	    $(this).toggleClass('closed').siblings().animate({height: '0px'}, 'slow', function() {
		$(this).siblings().find('span.openChat').show();
		$(this).siblings().find('span.closeChat').hide();
	    });
	    $('#chatPopout').hide();
	}
    });
    
    var chatWindow, chatFrameRef, newChatFrame;
    $('#chatPopout').click(function() {
	$('#chat_wrapper, #chatPopin').toggle();
	
	chatFrameRef = $('#chat_block').attr('src');
	newChatFrame = '<iframe id="chat_block" src="' + chatFrameRef + '"></iframe>';
	$('#chat_block').remove();
        chatWindow = window.open(chatFrameRef, "{{ course.title }}", "width=800, height=600");
	
	$('#chatPopin').click(function() {
	    chatWindow.close();
	});
	
	$(chatWindow).unload(function() {
	    if (this.document.location.href.indexOf(chatFrameRef) >= 0) {
		$('#chat_frame_wrapper').html(newChatFrame);
		$('#chat_block').show();
		$('#chat_wrapper, #chatPopin').toggle();
	    }
	});
    });
});
</script>
{% endblock addl_scripts %}

{% block jabber_block %}
	{# Jabber chat plugin block #}
    {% if jabber_configured and is_logged_in %}
        <div id="chat_wrapper">
        <div class="chat_toggle closed">
            <span class="openChat">Open Chat <em class="icon-chevron-up"></em></span>
            <span class="closeChat">Close Chat <em class="icon-chevron-down"></em></span>
        </div>
        <div id="chat_frame_wrapper">
            <iframe id="chat_block" src="/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/chat"></iframe>
        </div>
        <a href="#" onclick="event.preventDefault();" title="Pop-Out Chat Window" class="icon-signout" id="chatPopout"></a>
        </div>
        <a href="#" onclick="event.preventDefault();" title="Pop-In Chat Window" class="icon-signin" id="chatPopin"></a>
    {% endif %} {# jabber_configured and is_logged_in #}
	{# end Jabber chat plugin block #}
{% endblock jabber_block %}
