{% extends "course_base.html" %}
{% load url from future %}
{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
	<div class="well tight">
		<ul class="nav nav-list">
			<li class="nav-header">Videos</li>
			<li class="active"><a href="#">1.1 Course Intro</a></li>
			<li><a href="#">1.2 History of Field</a></li>
			<li><a href="#">1.3 Big Issues</a></li>
			<li><a href="#">1.4 Another nav item</a></li>
			<li><a href="#">1.5 Another nav item</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="icon-flag"></i>Help</a></li>
			<li><a href="#"><i class="icon-envelope-alt"></i>Contact</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span9">
    {% if video.title == 'Defining Minimum Edit Distance' %}
        <iframe width="900" height="700" src="{{STATIC_URL}}latestKhan/demo/nlp_with_khan_multi2.html" frameborder="0" scrolling="no" allowfullscreen></iframe>
    {% else %}
        <h2>{{video.title}}</h2>
        <!-- iframe width="710" height="430" src="https://www.youtube.com/embed/{{video.url}}?rel=0" frameborder="0" allowfullscreen></iframe -->
	<div id="player"></div>
    {% endif %}
</div>

<script type="text/javascript">
  // This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "//www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // This function creates a YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '430',
      width: '710',
      videoId: '{{video.url}}',
      playerVars: { 'rel': 0, 'start': {{video.start_seconds}} },
    });
  }

  window.onbeforeunload = function() {
    vidTime = Math.floor(player.getCurrentTime());
    $.ajax({type:"POST", url: "/videos/save/", async:false, data: {video_id: {{video.id}}, playTime: vidTime, csrfmiddlewaretoken: '{{ csrf_token }}'}});
  }
</script>

{% endblock m_column_content %}
