{% extends "base.html" %}
{% load url from future %}
{% block title %}Stanford Online | Change Password{% endblock title %}

{% block content %}

{% if form.errors %}
<div class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    Your username or password didn't match a credential in our system. Please try again. <span class="alert-special-note"><strong>Remember:</strong> Your username might not be your email address.</span>
</div>
{% endif %}

<form method="post" action="{% url 'accounts.views.register' %}">  
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Register" class="btn" />
</form>

{% endblock %}
