{% extends "base.html" %}
{% load url from future %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
<div class="row-fluid page-header">
    <div class="span12">
        <h2>Edit Profile</h2>
    </div>
</div>
    {% if user.is_authenticated %}
        <p>Please fill out the information completely.</p>
        <form name="edit profile form-vertical" action="{% url 'accounts.views.save_edits' %}" method="POST">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label">First Name</label>
                <div class="controls">
                    <input type="text" name="first_name" maxlength="30" value={{user.first_name}}>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Last Name</label>
                <div class="controls">
                    <input type="text" name="last_name" maxlength="30" value={{user.last_name}}>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Email Address</label>
                <div class="controls">
                    <input type="text" name="email" maxlength="30" value={{user.email}}>
                </div>
            </div>
             
            <input type="submit" value="Save Changes" class="btn" />
        </form>
    {% else %}
        <h4> Please <a data-toggle="modal" href="#login-modal">log in</a> to see profile information </h4>
    {% endif %}
</div>
{% endblock m_column_content %}
