{% extends "base.html" %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
<div class="row-fluid page-header">
    <div class="span12">
        <h2>Edit Profile</h2>
    </div>
</div>
    {% if user.is_authenticated %}
        <p>Need help? Contact <a href="mailto:class2go-techsupport@cs.stanford.edu">class2go-techsupport@cs.stanford.edu</a></p>
        <form name="edit profile form-vertical" action="{% url 'accounts.views.save_edits' %}" method="POST">
            {% csrf_token %}
            {{uform.as_p}}
	    {{pform.as_p}}
            <input type="submit" value="Save Changes" class="btn" />
        </form>
    {% else %}
        <h4> Please <a data-toggle="modal" href="#login-modal">log in</a> to see profile information </h4>
    {% endif %}
</div>
{% endblock m_column_content %}
