{% extends "base.html" %}
{% load url from future %}
{% block title %} {{ SITE_TITLE }} | User Profile{% endblock title %} 
{% load template_utils %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if user.is_authenticated %}
        <div class="row-fluid page-header">
            <div class="span6 pull-left">
                <h2>Profile Information</h2>
            </div>
            <div class="span6 pull-right">
              <a href="{% url 'accounts.views.edit' %}" class="btn">Change Info</a>
              {% if not has_webauth %}
              <a href="{% url 'auth_password_change' %}" class="btn">Change Class2Go Password</a>
              {% endif %}
            </div>
        </div>

        <ul style="overflow:hidden" class="unstyled profile-info">
            <li><strong>Username:</strong> {{ user.username }}</li>
            <li><strong>First Name:</strong> {{ user.first_name }}</li>
            <li><strong>Last Name:</strong> {{ user.last_name }}</li>
            <li><strong>E-mail:</strong> {{ user.email }}</li>
            <li><strong>Year of Birth:</strong> {{ user_profile.birth_year }}</li>
            <li><strong>Gender:</strong> {{user_profile.gender }}</li>
            <li><strong>Education:</strong> {{user_profile.education }}</li>
            <li><strong>Work:</strong> {{user_profile.work }}</li>
            <hr />
            <li><strong>Piazza handle:</strong> {{user_profile.piazza_name }}</li>
            <li><strong>Piazza email:</strong> {{user_profile.piazza_email }}</li>
            <li><strong>Receive course emails:</strong> {% if user_profile.email_me %} Yes {% else %} No {% endif %} </li>
            <hr />
            <li class="pull-left"><strong>Courses:</strong></li>

            {% if courses %}
                <table id="courses_table">
                    <tr><th style="padding-right: 15px;">Title</th><th style="padding-right: 15px;">Enrollment</th>
                        {% if longest_certs %}
                            <th style="padding-right: 15px;">Statements of Accomplishment</th>
                        {% endif %}
                    {% for course in courses %}
                        <tr>
                            <td style="padding-right: 15px;"><a style="display:inline" href="{% url 'courses.views.main' course.prefix course.suffix %}">{{course.title}}</a></td>
                            <td style="padding-right: 15px;">{% if course in is_student_list %}
                                   <form style="display:inline" method="POST" action="{% url 'courses.views.unenroll' course.prefix course.suffix %}">
                                       {% csrf_token %}
                                       <input class="btn-mini" type="Submit"  value="Unenroll as Student" onclick="return confirm('Do you really want to unenroll?')" />
                                   </form>
                                {% else %}
                                    Staff Member
                                {% endif %}
                            </td>
                            {% for certinfo in certifications|byKey:course.id %}
                                <td style="padding-right: 15px;">
                                    <a href="{{certinfo.1}}">{{certinfo.0|uscore2space|title}} Accomplished</a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

             {% endif %}
        </ul>
        
    {% else %}
        <h3> Please login to see profile information: </h3>
        <p>
            <a class="btn" href="{% url 'shib_login' %}?next={{ request.get_full_path }}">Stanford WebAuth</a>
            <a class="btn" href="{% url 'auth_login' %}?next={{ request.get_full_path }}">Class2Go Login (Public course students)</a>
        </p>
    {% endif %}

</div>
{% endblock m_column_content %}
