{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %} {{ SITE_TITLE }} | User Profile{% endblock title %}
{% block body_class %} profile_page {% endblock body_class %}
{% load template_utils %}

{% block m_column_content %}
    <div id="c2g_layout_m_column" class="span12">
        {% if user.is_authenticated %}
            <div class="row-fluid page-header">
                <div class="pull-left">
                    <h2>{% trans 'My Profile' %}</h2>
                </div>
                <div class="pull-right">
                    <a href="{% url 'accounts.views.edit' %}" class="btn">{% trans 'Edit Info' %}</a>
                  {% if not has_webauth %}
                    <a href="{% url 'auth_password_change' %}" class="btn">{% trans 'Change Password' %}</a>
                  {% endif %}
                </div>
            </div>
            
            <hr />
            <ul style="overflow:hidden" class="unstyled profile-info">
                <div class="span5">
                    <li><strong>{% trans 'Username' %}:</strong> {{ user.username }}</li>
                    <li><strong>{% trans 'First Name' %}:</strong> {{ user.first_name }}</li>
                    <li><strong>{% trans 'Last Name' %}:</strong> {{ user.last_name }}</li>
                    <li><strong>{% trans 'E-mail' %}:</strong> {{ user.email }}</li>
                    <li><strong>{% trans 'Year of Birth' %}:</strong> {{ user_profile.birth_year }}</li>
                    <li><strong>{% trans 'Gender' %}:</strong> {{user_profile.gender }}</li>
                </div>
                <div class="span5">
                    <li><strong>{% trans 'Education' %}:</strong> {{user_profile.education }}</li>
                    <li><strong>{% trans 'Work' %}:</strong> {{user_profile.work }}</li>
                    <li><strong>{% trans 'Piazza handle' %}:</strong> {{user_profile.piazza_name }}</li>
                    <li><strong>{% trans 'Piazza email' %}:</strong> {{user_profile.piazza_email }}</li>
                    <li><strong>{% trans 'Receive emails' %}:</strong> {% if user_profile.email_me %} {% trans 'Yes' %} {% else %} {% trans 'No' %} {% endif %} </li>
                </div>
            </ul>
            {% if courses %}
                <hr />
                <span><strong>{% trans 'Courses' %}:</strong></span>
                <div class="profile-courses">
                    {% for course in courses %}
                        <div class="course">
                            <div class="image"><img alt="Course Image" height="200" width="200" src="{{course.logo_dl_link}}" /></div>
                            <h3><a href="{% url 'courses.views.main' course.prefix course.suffix %}">{{course.title}}</a></h3>
                            <p><strong>{{course.calendar_start}} - {{course.calendar_end}}</strong></p>
                            {% if certifications|byKey:course.id %}
                                {% for certinfo in certifications|byKey:course.id %}
                            <a class="btn" href="{{certinfo.1}}">{{certinfo.0|uscore2space|title}} {% trans 'Accomplished' %}</a>
                                {% endfor %}
                            {% else %}
                                {% if course in is_student_list %}
                                    <form style="display:inline" method="POST" action="{% url 'courses.views.unenroll' course.prefix course.suffix %}">
                                        {% csrf_token %}
                                        <input class="btn" type="Submit"  value="{% trans 'Unenroll as Student' %}" onclick="return confirm('{% trans 'Do you really want to unenroll?' %}')" />
                                    </form>
                                {% else %}
                                <a class="btn disabled">{% trans 'Staff Member' %}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
        {% else %}
        <h3> {% trans 'Please login to see profile information' %}': </h3>
            <p>
                <a class="btn" href="{% url 'shib_login' %}?next={{ request.get_full_path }}">{% trans 'Stanford WebAuth' %}</a>
                <a class="btn" href="{% url 'auth_login' %}?next={{ request.get_full_path }}">{% trans 'Class2Go Login (Public course students)' %}</a>
            </p>
        {% endif %}
    
    </div>
{% endblock m_column_content %}
