{% extends "base.html" %}
{% load url from future %}
{% block title %} User Profile | Stanford Online {% endblock title %} 
 
{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if user.is_authenticated %}
    <div class="row-fluid page-header">
        <div class="span12">
            <h2>Profile Information</h2>
        </div>
    </div>
        <ul style="overflow:hidden" class="unstyled profile-info">
            <li><strong>Username:</strong> {{ user.username }}</li>
            <li><strong>First Name:</strong> {{ user.first_name }}</li>
            <li><strong>Last Name:</strong> {{ user.last_name }}</li>
            <li><strong>E-mail:</strong> {{ user.email }}</li>
            <li><strong>Year of Birth:</strong> {{ user.get_profile.birth_year }}</li>
            <li><strong>Gender:</strong> {{user.get_profile.gender }}</li>
            <li><strong>Education:</strong> {{user.get_profile.education }}</li>
            <li><strong>Work:</strong> {{user.get_profile.work }}</li>
            <hr />
            <li><strong>Piazza handle:</strong> {{user.get_profile.piazza_name }}</li>
            <li><strong>Piazza email:</strong> {{user.get_profile.piazza_email }}</li>
            <li><strong>Receive course emails:</strong> {% if user.get_profile.email_me %} Yes {% else %} No {% endif %} </li>
            
            <hr />
            <li class="pull-left"><strong>Courses:</strong></li>
            {% if courses %}
            <ul class="unstyled pull-left">
	            {% for course in courses %}
	                <li>
                    <a style="display:inline" href="{% url 'courses.views.main' course.prefix course.suffix %}">{{course.title}}</a>&nbsp;
                    {% if course in is_student_list %}
                       <form style="display:inline" method="POST" action="{% url 'courses.views.unenroll' course.prefix course.suffix %}">
                           {% csrf_token %}
                           <input class="btn-mini" type="Submit"  value="Unenroll as Student" onclick="return confirm('Do you really want to unenroll?')" />
                       </form>
                    {% else %}
                        Staff Member
                    {% endif %}
                    </li>
	            {% endfor %}
	         </ul>
	         {% endif %}
        </ul>
        
        <p style="text-wrap:none;">
              <a href="{% url 'accounts.views.edit' %}" class="btn">Change Info</a>
              {% if not has_webauth %}
              <a href="{% url 'auth_password_change' %}" class="btn">Change Class2Go Password</a>
              {% endif %}
        </p>
    {% else %}
    <h3> Please login to see profile information: </h3>
    <p>
    <a class="btn" href="{% url 'shib_login' %}?next={{ request.get_full_path }}">Stanford WebAuth</a>
    <a class="btn" href="{% url 'auth_login' %}?next={{ request.get_full_path }}">Class2Go Login (Public course students)</a>
    </p>
    {% endif %}

</div>
{% endblock m_column_content %}
