/* Bootstrap overrides
-------------------------------------------------- */

a {color:#820000;}
a:hover {color:#820000;}
.modal form {margin-bottom:0;}
.well {padding:8px;}
.btn {font-weight:bold;}

.btn-primary {
  background-color: #8f2618;
  *background-color: #8f2618;
  background-image: -ms-linear-gradient(top, #8f2618, #66190f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f2618), to(#66190f));
  background-image: -webkit-linear-gradient(top, #8f2618, #66190f);
  background-image: -o-linear-gradient(top, #8f2618, #66190f);
  background-image: -moz-linear-gradient(top, #8f2618, #66190f);
  background-image: linear-gradient(top, #8f2618, #66190f);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8f2618', endColorstr='#66190f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #66190f;
  *background-color: #66190f;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #66190f \9;
}

.modal {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-o-border-radius: 10px;
	
	background: #f4f4e0;
	background: -moz-linear-gradient(top, #f4f4e0, #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4e0), to(#ffffff));
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	background-color:#820000;
}
.nav > li > a:hover {
	background-color:white;
	color:#333;
	cursor: pointer;
}

a.thumbnail:hover {
	border-color:#8F2718;
}


/* Header
-------------------------------------------------- */
#c2g_layout_topbar {
	padding:0px; 
	height: 80px;
	margin-bottom:20px;
	background:#8f2718;
	border-bottom:1px solid #54170e;
}
.small_logo {position: absolute; top: 25px; left: 4px; border: 0px;}

.top-nav {
	position:absolute;
	top:25px;
	right:20px;
}
.top-nav li {
	float:right;
	list-style-type:none;
	margin-left:10px;
}
.top-nav li .btn {
	padding-left:25px;
	padding-right:25px;
	background: rgb(100,0,0);
	color:white;
	border:0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-o-border-radius: 10px;
}
.top-nav li .btn:hover {
	background: rgb(120,0,0);
}
.top-nav li span {
	color:white;
	padding:4px 5px;
	display:block;
}

/* Thumbnails
-------------------------------------------------- */
.thumbnails .selected .thumbnail:hover {
	border-color:#ddd;
}

/* Registration
-------------------------------------------------- */
.registration .well {
	margin:0 auto;
	width:400px;
	padding:20px;
	background:white;
}
.registration .well form,.registration .well .form-actions {
	margin-bottom:0;
}
.registration .well label {
	text-align:left;
	width:150px;
}
.registration h1 {
	margin-bottom:1em;
	text-align:center;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}
