{% extends "course_base.html" %}
{% block title %}Quizzes | {{common_page_data.course.title}}{% endblock %}
{% load url from future %}
{% block problemsets_link_class %}class="active"{% endblock problemsets_link_class %}

{% block course_page_title %}Quizzes(<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>){% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if user.is_authenticated %}
        {% for section_structure in section_structures %}
            {% include "content_sections/ready/section.html" %}
        {% empty %}
            <p style='margin: 20px;'>No content to display.</p>
        {% endfor %}
    {% else %}
        <h4>Please <a data-toggle="modal" href="#login-modal">log in</a> to see course materials.</h4>
    {% endif %}
</div>
{% endblock m_column_content %}
