<li class="course-list-item">
    <div class="pull-left">
        <em class="icon-pencil"></em>
    </div>
    <div class="course-list-content">
        <h4><a href="{% url 'problemsets.views.show' common_page_data.course_prefix common_page_data.course_suffix item.problem_set.slug %}">{{item.problem_set.title}}</a></h4>
        <p>{{item.problem_set.description}}</p>
        <p><strong>Full Credit Deadline:</strong> {{item.problem_set.due_date}} PST<br>
        <strong>Partial Credit Deadline:</strong> {{item.problem_set.partial_credit_deadline}} PST</p>
        <h4>Progress</h4>
        <div class="progress {% if item.numCompleted == item.numQuestions %}progress-success{% else %}progress-warning{% endif %} progress-striped">
            <div class="bar" style="width:{{item.progress}}%"></div>
        </div>
        {% if item.numCompleted == item.numQuestions %}
           {% if not item.problem_set.assessment_type == "survey" %}
            <span class="label">Complete with Score: {{item.score}} of {{item.numQuestions}}</span>
           {% else %}
            <span class="label">Complete</span>
           {% endif %}
        {% else %}
            <span class="label">In Progress: {{item.numCompleted}} of {{item.numQuestions}}</span>
        {% endif %}
    </div>
</li>
