{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    <h3>Add or Remove Exercises</h3>

    <h4>Upload Exercises to {{video.title}}</h4>
    <form action= {% url 'courses.videos.views.add_exercise' %} method="POST" class="form-vertical" enctype="multipart/form-data">
        <fieldset class="well">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div class="control-group">
            <label class="control-label">Add Exercises* (Choose a file and then click Add Exercise)</label>
            <div class="controls">
                <input type="file" name="exercise">
                <input type="submit" value="Add Exercise" class="btn">
            </div>
            <div>
                Video Time <input type="text" name="videotime" >
            </div>
        </div>
    </form>
    
    <h4><a data-toggle="collapse" data-target="#choose-existing">Choose From Existing Exercises</a></h4>
    <form action= {% url 'courses.videos.views.add_existing_exercises' %} method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div id="choose-existing" class="collapse">
            <div class="control-group">
                <div class="controls">
                    {% for exercise in exercises %}
                    <input type="checkbox" name=exercise value={{exercise.id}} /> {{exercise.fileName}} 
                    Video Time <input type="text" name="videotime_{{exercise.id}}" >
                    <br>
                    {% empty %}
                    There are no existing exercises
                    {% endfor %}
                </div>
            </div>
            <input type="submit" value="Add Exercises" class="btn">
        </div>
    </form>
    

    <form action= {% url 'courses.videos.views.save_exercises' %} method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <ul data-sortablecontainer class="exercise-list">
            {% for videoToEx in videoToExs %}
                <li id="exercise_{{forloop.counter0}}" class="ui-state-default">
                {{videoToEx.exercise.fileName}} - {{videoToEx.video_time}}s
                    <input type="hidden" name="exercise_order[{{forloop.counter0}}]" value={{forloop.counter0}}>
                </li>
            {% empty%}
                <p style='margin: 20px;'>There are no exercises yet.</p>
            {% endfor %}
        </ul>
        <span class="help-block">After reordering, save before uploading another exercise</span>
    </fieldset>
        <div class="form-actions">
            <input type="submit" value="Save" class="btn"> or <a href="{% url 'courses.videos.views.list' course_prefix=course_prefix course_suffix=course_suffix %}" class='btn'>Return to List</a>
        </div>
    </form>
</div>
{% endblock m_column_content %}
