{% extends "course_base.html" %}
{% load url from future %}
{% block l_column_content %}
<div id="c2g_layout_l_column" class="span3">
    <div class="well tight" role="navigation">
        <h3 id="sidebar-nav-heading" class="nav-header">Videos</h3>
        <ul class="nav nav-list">
            <li class="active"><a href="#">1.1 Course Intro</a></li>
            <li><a href="#">1.2 History of Field</a></li>
            <li><a href="#">1.3 Big Issues</a></li>
            <li><a href="#">1.4 Another nav item</a></li>
            <li><a href="#">1.5 Another nav item</a></li>
            <li class="divider"></li>
            <li><a href="#"><em class="icon-flag"></em>Help</a></li>
            <li><a href="#"><em class="icon-envelope-alt"></em>Contact</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
  {% if user.is_authenticated %}
    <h3>List videos for course {{course_prefix}} {{course_suffix}}</h3>
    {% for topic in topics %}
    <h4>{{topic.title}}</h4>
      <ul>
        {% for videoRec in videoRecs %}
            {% if videoRec.video.topic_id == topic.id %}
            <li>
            <a href="videos/{{videoRec.video.id}}">{{videoRec.video.title}}</a>
            <div class="progress progress-danger progress-striped">
                <div class="bar" style="width:{{videoRec.percent_done}}%"></div>
            </div>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <h4>Please <a data-toggle="modal" href="{% url 'default_login' %}?next={{ request.get_full_path }}">log in</a> to see video list.</h4>
  {% endif %}
</div>
{% endblock m_column_content %}
