{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}

<script type="text/javascript">
function confirm_change(){
    if ("{{exercise_attempted}}" == "False"){
        return true;
    }   
    var r=confirm("WARNING: Students have already begun taking this problem set. Adding exercises can ruin the integrity of the results. Are you sure you wish to make this change?")
    return r;
}
</script>

{% include "videos/delete_exercise_form.html" %}

<div id="c2g_layout_m_column" class="span12">
    <h3>Add or Remove Exercises</h3>

    <h4>Upload Exercises to {{video.title}}</h4>
    <form action= {% url 'courses.videos.views.manage_exercises' course_prefix course_suffix video.slug %} method="POST" onsubmit="return validate();" class="form-vertical" enctype="multipart/form-data">
        <fieldset class="well">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div class="fieldWrapper">
            {{ manage_form.file.errors }}
            {{ manage_form.file }}
            {{ manage_form.course }}
        </div>
        <div class="fieldWrapper">
            {{ manage_form.video_time.errors }}
            Video Time (in seconds - whole numbers only):{{ manage_form.video_time }} <input type="submit" value="Add Exercise" class="btn">
            <span class="help-block">{{ field.help_text }}</span>
        </div>
    </form>

    <h4><a data-toggle="collapse" data-target="#choose-existing" class='btn'>Choose From Existing Exercises</a></h4>
    <form action= {% url 'courses.videos.views.add_existing_exercises' %} method="POST" onsubmit="return confirm_change();" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div id="choose-existing" class="collapse">
            <div class="control-group">
                <div class="controls">
                    {% for exercise in exercises %}
                    <input type="checkbox" name=exercise value={{exercise.id}} /> {{exercise.fileName}} <br>
                    {% empty %}
                    There are no existing exercises on record.
                    {% endfor %}
                </div>
            </div>
            <input type="submit" value="Add Exercises" class="btn">
        </div>
    </form>

    <h4>Set Exercise Times (in seconds)</h4>
    <form action='{% url 'courses.videos.views.save_exercises' %}' method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>

    <table style="width:50%">
    {% for field in reorder_form %}
    <tr id="video_{{item.video.id}}">
        <td><p style="margin-top:10px;display:inline;">{{field.label}}</p></td>
        <td style="width:50px">
            {{field.errors}} {{field}}
        </td>
        <td style="width:200px">
            <a href="javascript:DeleteExercise('{{field.name}}')" style="float: right; font-size: 12pt; font-weight: bold; color: rgb(150,150,150);margin-right: 10px;">X</a>
            <a class="pull-right" style="float:right;margin-right:10px" href="{% url 'courses.exercises.views.edit' course_prefix course_suffix field.name %}?return={{request.path}}">Edit HTML file</a>
        </td>
    </tr>
    {% endfor %}
    </table>

        <span class="help-block">After changing times, save before adding another exercise.</span>
        <span class="help-block">Only one exercise is permitted per timestamp.</span>
    </fieldset>
        <div class="form-actions">
            <input type="submit" name="action" value="Save and Set as Ready" class="btn btn-primary" />
	        <input type="submit" name="action" value="Save as Draft" class="btn" />
	        <input type="submit" name="action" value="Reset to Ready" class="btn" />
	        <a href="{% url 'courses.videos.views.list' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">Close</a>
        </div>
    </form>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
<script>
function validate() {
    var filename = document.getElementById('id_file').files[0].name;
    var r = true;
    $.ajax({
        type:"POST",
        url: "{% url 'courses.actions.check_filename' course_prefix course_suffix 'videos' %}",
        async:false,
        data: {filename:filename, csrfmiddlewaretoken:'{{ csrf_token }}'},
        success: function(data) {
            if (data == "File name already exists!") {
                r=confirm("WARNING!\n\nYou are uploading an exercise file with a name that has already been uploaded for this course, that may be used in a problem set or video. Nobody has taken this exercise yet though. If you intend to upload a new copy of this file to overwrite the existing one, go ahead.");
            }
            else if (data == "File name already exists! Exercise taken") {
                r=confirm("Important warning - think carefully before choosing!\n\nYou are uploading an exercise file with a name that has already been uploaded for this course.\n\nStudents have already completed this exercise in a problem set or video! If you are changing the exercise in any non-trivial way (eg number of questions, answers to questions) then you may be losing data. Be careful!");
            }
            else {
                //File name is available, check confirm_change
                r=confirm_change();
            }
        }
    });
    return r;
}
</script>
{% endblock addl_scripts %}
