{% extends "course_base.html" %}
{% load url from future %}
{% block m_column_content %}

<script type="text/javascript">
function confirm_change(){
    if ("{{exercise_attempted}}" == "False"){
        return true;
    }   
    var r=confirm("WARNING: Students have already begun taking this problem set. Adding exercises can ruin the integrity of the results. Are you sure you wish to make this change?")
    if (r==true){
       return true;
    } else {
        return false;
    }
}
</script>

{% include "videos/delete_exercise_form.html" %}

<div id="c2g_layout_m_column" class="span12">
    <h3>Add or Remove Exercises</h3>

    <h4>Upload Exercises to {{video.title}}</h4>
    <form action= {% url 'courses.videos.views.manage_exercises' course_prefix course_suffix video.slug %} method="POST" class="form-vertical" enctype="multipart/form-data">
        <fieldset class="well">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div class="fieldWrapper">
            {{ manage_form.file.errors }}
            {{ manage_form.file }}
            {{ manage_form.course }}
        </div>
        <div class="fieldWrapper">
            {{ manage_form.video_time.errors }}
            Video Time (in seconds):{{ manage_form.video_time }} <input type="submit" value="Add Exercise" onclick="return confirm_change()" class="btn">
            <span class="help-block">{{ field.help_text }}</span>
        </div>
    </form>

    <h4><a data-toggle="collapse" data-target="#choose-existing" class='btn'>Choose From Existing Exercises</a></h4>
    <form action= {% url 'courses.videos.views.add_existing_exercises' %} method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>
        <div id="choose-existing" class="collapse">
            <div class="control-group">
                <div class="controls">
                    {% for exercise in exercises %}
                    <input type="checkbox" name=exercise value={{exercise.id}} /> {{exercise.fileName}} <br>
                    {% empty %}
                    There are no existing exercises on record.
                    {% endfor %}
                </div>
            </div>
            <input type="submit" value="Add Exercises" onclick="return confirm_change()" class="btn">
        </div>
    </form>

    <h4>Set Exercise Times (in seconds)</h4>
    <form action='{% url 'courses.videos.views.save_exercises' %}' method="POST" class="form-vertical">
        {% csrf_token %}
        <input type="hidden" name="video_id" value={{video.id}}>
        <input type="hidden" name="course_prefix" value={{course_prefix}}>
        <input type="hidden" name="course_suffix" value={{course_suffix}}>

    <table style="width:35%">
    {% for field in reorder_form %}
    <tr id="video_{{item.video.id}}">
        <td><p style="margin-top:10px;display:inline;">{{field.label}}</p></td>
        <td width="120">
            {{field.errors}} {{field}}
        </td>
        <td width="20">
            <a href="javascript:DeleteExercise('{{field.name}}')" style="float: right; font-size: 12pt; font-weight: bold; color: rgb(150,150,150);margin-right: 10px;">x</a>
        </td>
    </tr>
    {% endfor %}
    </table>

        <span class="help-block">After changing times, save before adding another exercise</span>
    </fieldset>
        <div class="form-actions">
            <input type="submit" name="action" value="Save and Set as Ready" class="btn btn-primary" />
	        <input type="submit" name="action" value="Save as Draft" class="btn" />
	        <input type="submit" name="action" value="Reset to Ready" class="btn" />
	        <a href="{% url 'courses.videos.views.list' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock m_column_content %}
