{% extends "course_base.html" %}
{% load url from future %}
{% block title %}{{ video.title }} | {{ common_page_data.course.title }}{% endblock title %}
{% block mode_switcher %}
    {% if not common_page_data.is_course_admin and not common_page_data.can_switch_mode %}
        <div class="hidden-phone" style="position:absolute;top:0;right:0;">
	  <form style="width:auto" class="toggle-views" name="video_quiz_mode_switch_form" action="{%url 'courses.videos.actions.switch_quiz_mode' %}" method="POST">
            <p>View with quizzes included</p>
	    <input type="checkbox" name="to_mode" value="quizzes included" onchange="this.form.submit();"{% ifequal request.session.video_quiz_mode 'quizzes included' %}checked{% endifequal %} />
            <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}"/>
            <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}"/>
            {% csrf_token %}
          </form>
        </div>
    {% else %}
	<div class="hidden-phone" style="position:absolute;top:0;right:0;">
          <form data-c2g-tooltip class="toggle-views pull-right" name="course_mode_switch_form" action="{%url 'courses.actions.switch_mode' %}" method="POST" data-placement="left" title="Choosing EDIT mode lets you edit the course site. Choosing LIVE mode lets you view the site as students will.">
            <p>You are currently viewing:</p>
            <div class="btn-group btn-views-toggle">
              <button type="submit" name="to_mode" value="draft" class="btn btn-mini{% ifequal common_page_data.course_mode 'draft' %} active{% endifequal %}">Edit</button>
              <button type="submit" name="to_mode" value="ready" class="btn btn-mini{% ifequal common_page_data.course_mode 'ready' %} active{% endifequal %}">Live</button>
            </div>
            <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}"/>
            <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}"/>
            {% csrf_token %}
          </form>
	  <form style="width:auto" class="toggle-views pull-right" name="video_quiz_mode_switch_form" action="{%url 'courses.videos.actions.switch_quiz_mode' %}" method="POST">
            <p>View with quizzes included</p>
	    <input type="checkbox" name="to_mode" value="quizzes included" onchange="this.form.submit();"{% ifequal request.session.video_quiz_mode 'quizzes included' %}checked{% endifequal %} />	    
            <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}"/>
            <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}"/>
            {% csrf_token %}
          </form>
	</div>
    {% endif %}
{% endblock mode_switcher %}

{% block l_column_content %}
    {% include "left_nav.html" %}
{% endblock l_column_content %}

{% block m_column_content %}
<link rel="stylesheet" href="{{STATIC_URL}}latestKhan/demo/css/quiz_iframe.css" />
<div id="c2g_layout_m_column" class="khan-template" style="margin-left: 25%">
  {% if user.is_authenticated %}

    {% if video.title %} 
	<div id="vid-nav-controls">
	{% if prev_slug %}
	  <a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix prev_slug %}" class="btn">« Previous video</a>
	{% else %}
	  <button type="button" class="btn" disabled>« Previous video</button>
	{% endif %}
	{% if next_slug %}
	  <a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix next_slug %}" class="btn pull-right">Next video »</a>
	{% else %}
	  <button type="button" class="btn pull-right" disabled>Next video »</button>
	{% endif %}
	</div>
        <h3 class="section-headline">{{video.title}}</h3>
        {% if common_page_data.course_mode == 'draft' and common_page_data.is_course_admin %}
          <a href="{% url 'courses.videos.views.edit' common_page_data.course_prefix common_page_data.course_suffix video.slug %}" class="btn edit-video">Edit Video</a>
        {% endif %}
            <!-- Hardcoding select content of khan-site.html -->
            <div id="page-container  max-width: 1100px">
                <div id="page-container-inner">
                    <div id="fb-root"></div>
                    <header></header>
                    <div id="container" class="single-exercise visited-no-recolor" style="overflow: hidden;">
                        <article class="exercises-content clearfix formative">
                            <div class="exercises-header"><h2 class="section-headline">
                                <div class="topic-exercise-badge">&nbsp;</div>
                                <span class="practice-exercise-topic-context"></span>
                            </h2></div>
                            <div class="exercises-body">
                                <div class="exercises-stack">&nbsp;</div>
                                <div class="exercises-card current-card">
                                    <div class="current-card-container card-type-problem">
                                        <div class="current-card-container-inner vertical-shadow">
                                            <div class="current-card-contents">
                                            </div>
                                        </div>
                                        <div id="extras" class="single-exercise">
                                            <ul>
                                                <li> <a id="scratchpad-show" href style="display: none;">Show scratchpad</a>
                                                    <span id="scratchpad-not-available" style="display: none;">Scratchpad not available</span>
                                                </li>
                                            </ul>
                                        </div>
<!-- CAREFUL IF YOU'RE EDITING KHAN STUFF -->
{% include "content_groups/downloadable_style.html" %} {# intentionally breaking tag layout so khan changes get noticed #}
<!-- CAREFUL IF YOU'RE EDITING KHAN STUFF -->
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div id="end-of-page-spacer" style="height: 38px;">&nbsp;</div>
                    <div id="badge-notification-container" class="badge-award-container" style="display:none;"></div>
                </div>
            </div>
        </div>
        <!-- End Hardcoding select content of khan-site.html -->
        <div class="content">
          <div class="quizModule">
            <div id="qInst"></div>
            <div id="playerdiv">
              <div id="player"></div>
              <div id="slideIndex"></div>
            </div>
          </div>
        </div>
        <div id="loadedExercises"></div>
        <input type="hidden" name="exercise_type" value="video" id="exercise_type" />
        <input type="hidden" name="video_id" value="{{ video.id }}" id="video_id" />
    {% else %}
        <h2>{{video.title}}</h2>
        <!-- iframe width="710" height="430" src="https://www.youtube.com/embed/{{video.url}}?rel=0" frameborder="0" allowfullscreen></iframe -->
        <div id="player"></div>
    {% endif %}
  {% else %}
    <h4>Please log in to see videos.</h4>
  {% endif %}
</div>


{% endblock m_column_content %}

{% block addl_scripts %}
{% comment %}
Sequence of events (no timeouts)
0. Load thumbnail manifest and PS manifest, triggers
1. Load YouTube Player API, triggers
2. Load Problem Set definition, triggers
3. Load Khan Exercises Framework, triggers
4. Load YouTube Player and Sets up thumbnails,
{% endcomment %}

{% if video.title %} 
<script>
var c2gConfig = {
    user: {{user.id}},
    problemType: 'formative',
    progressUrl: '/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/videos',
    is_video: true,
};
</script>
<!-- <script src="{{ STATIC_URL }}latestKhan/khan-exercise-c2g.js" /></script> -->
<script src="{{ STATIC_URL }}js/thumbnails-10-12-12.js" /></script>
<script>
    // [@wescott] Want to get valid thumbnails for other videos, since they might not have been
    // Kelvinated
    var path = "http://{{common_page_data.aws_storage_bucket_name}}.s3-website-us-west-2.amazonaws.com/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/videos/{% if video.mode == 'draft' %}{{video.id}}{% else %}{{video.image.id}}{% endif %}/jpegs/";
    var thumbManifest = {};
    var psManifest = {};
    var thumbsChecked = false; //We'll use these fetched variables to gate the loading of the YouTube API.
    var psChecked = false;     //to eliminate race conditions.
    var loadThumbManifest = function (data, textStatus, jqXHR) {
        $.each(data, function (key, val) {
               $.each(val, function (k, v) {
                      if (k == "imgsrc") {
                      val[k] = path + v;
                      }
                      })
               thumbManifest[parseInt(key)] = val;
               });
    };
    var loadPSManifest = function (data, textStatus, jqXHR) {
        $.each(data, function (key, val) {
               $.each(val, function (k, v) {
                      if (k == "imgsrc") {
                      val[k] = path + v;
                      }
                      })
               psManifest[parseInt(key)] = val;
               });
    };
    $.getJSON(path + "manifest.txt", "", loadThumbManifest)
    .always(function(){thumbsChecked=true;});  //The request may fail if there are no thumbs, but we know we tried.
    {% ifequal request.session.video_quiz_mode 'quizzes included' %}
    $.getJSON("/get_video_exercises?video_id={{video.id}}", "", loadPSManifest)
    .always(function(){psChecked=true;});  //The request may fail if there are no exercises, but we know we tried.
    {% else %}
    psChecked = true;
    {% endifequal %}    
    
    // Fetch YouTube Player API as script node
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    
    function gatedYouTubeAPILoad() {
        if (thumbsChecked && psChecked) {
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        } else {
            setTimeout(gatedYouTubeAPILoad, 200);
        }
    }
    
    gatedYouTubeAPILoad() // #1 loads YouTube API
    
    //Global settings for video player height and width
    var vidPlayerHeight = 430;
    var videoHeight = vidPlayerHeight - 30;
    var vidPlayerWidth = 710;
    var videoWidth = vidPlayerWidth;
    var hRatio=1; //ratios for the screen size on which the overlay was made to that on which it will be displayed
    var wRatio=1; //defaults to 1, calculated when the questions json object is loaded

    var vidPSUrl = '{{video.id}}/load_video_problem_set';
    var playerVars = { 'rel': 0, 'fs':{{ no_ex }}, 'start': {% if video_rec %}{{video_rec.start_seconds}}{% else %}0{% endif %} };
    var thumbSet;

    {% ifequal request.session.video_quiz_mode 'quizzes included' %}
    function onYouTubePlayerAPIReady() {
        //#2 loads pset definition
        $("#loadedExercises").load(vidPSUrl, function(text,status) {
                                   if(status=="success"){
                                       var kScript = document.createElement('script');
                                       kScript.src="{{ STATIC_URL }}latestKhan/khan-exercise-c2g-10-12-12.js";
                                       //#3 loads Khan Exercises Framework
                                       $(kScript).load(function() {
                                            //Setup the video display
                                            KhanC2G.initVideoExercises();
                                            thumbSet = initThumbnails('{{ video.url }}', thumbManifest, psManifest, playerVars);
                                            thumbSet.getVidID();
                                            //#4. Load Video Player and Displays Thumbnails
                                            thumbSet.runQuiz();
                                            $('#playerdiv').hide(); /* for Firefox */
                                            $('#playerdiv').show();
                                       });
                                       document.getElementsByTagName("head")[0].appendChild(kScript);
                                   }
                                });
    };
    {% else %}
    function onYouTubePlayerAPIReady() {
        var kScript = document.createElement('script');
        kScript.src="{{ STATIC_URL }}latestKhan/khan-exercise-c2g-10-12-12.js";
        //#3 loads Khan Exercises Framework
        $(kScript).load(function() {
            //Setup the video display
            KhanC2G.initVideoExercises();
            thumbSet = initThumbnails('{{ video.url }}', thumbManifest, psManifest, playerVars);
            thumbSet.getVidID();
            //#4. Load Video Player and Displays Thumbnails
            thumbSet.runQuiz();
            $('#playerdiv').hide(); /* for Firefox */
            $('#playerdiv').show();
        });
        document.getElementsByTagName("head")[0].appendChild(kScript);
    };
    {% endifequal %}


    {% if video_rec %}
    window.onbeforeunload = function() {
        vidTime = Math.floor(player.getCurrentTime());
        duration = player.getDuration();
        $.ajax({type:"POST", url: "/videos/save/", async:false, data: {videoRec: {{video_rec.id}}, playTime: vidTime, duration: duration, csrfmiddlewaretoken: '{{ csrf_token }}'}});
    }
    {% endif %}
</script>

{% else %}

<script type="text/javascript">
    // This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // This function creates a YouTube player after the API code downloads.
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
        height: '430',
        width: '710',
        videoId: '{{video.url}}',
        playerVars: { 'rel': 0, 'fs':1 , 'start': {% if video_rec %}{{video_rec.start_seconds}}{% else %}0{% endif %}},
        });
        $('#playerdiv').show();
    }

    {% if video_rec %}
    window.onbeforeunload = function() {
        vidTime = Math.floor(player.getCurrentTime());
        duration = player.getDuration();
        $.ajax({type:"POST", url: "/videos/save/", async:false, data: {videoRec: {{video_rec.id}}, playTime: vidTime, duration: duration, csrfmiddlewaretoken: '{{ csrf_token }}'}});
    }
    {% endif %}
</script>
{% endif %}

{% endblock addl_scripts %}
