{% extends "course_base.html" %}
{% load url from future %}
{% block l_column_content %}
<!-- <div id="c2g_layout_l_column" class="span3">
    <div class="well tight">
        <ul class="nav nav-list">
            <li class="nav-header">Videos</li>
            <li class="active"><a href="#">1.1 Course Intro</a></li>
            <li><a href="#">1.2 History of Field</a></li>
            <li><a href="#">1.3 Big Issues</a></li>
            <li><a href="#">1.4 Another nav item</a></li>
            <li><a href="#">1.5 Another nav item</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-flag"></i>Help</a></li>
            <li><a href="#"><i class="icon-envelope-alt"></i>Contact</a></li>
        </ul>
    </div>
</div> -->
{% endblock %}

{% block m_column_content %}
<link rel="stylesheet" href="{{STATIC_URL}}latestKhan/demo/css/quiz_iframe.css" />
<div id="c2g_layout_m_column" class="khan-template">
  {% if user.is_authenticated %}

    {% if video.title %} 
        <h3 class="section-headline">{{video.title}}</h3>
        {% if common_page_data.course_mode == 'draft' and common_page_data.is_course_admin %}
          <a href="{% url 'courses.videos.views.edit' common_page_data.course_prefix common_page_data.course_suffix video.slug %}" class="btn edit-video">Edit Video</a>
        {% endif %}
            <!-- Hardcoding select content of khan-site.html -->
            <div id="page-container">
                <div id="page-container-inner">
                    <div id="fb-root"></div>
                    <header></header>
                    <div id="container" class="single-exercise visited-no-recolor" style="overflow: hidden;">
                        <article class="exercises-content clearfix formative">
                            <div class="exercises-header"><h2 class="section-headline">
                                <div class="topic-exercise-badge">&nbsp;</div>
                                <span class="practice-exercise-topic-context"></span>
                            </h2></div>
                            <div class="exercises-body">
                                <div class="exercises-stack">&nbsp;</div>
                                <div class="exercises-card current-card">
                                    <div class="current-card-container card-type-problem">
                                        <div class="current-card-container-inner vertical-shadow">
                                            <div class="current-card-contents">
                                            </div>
                                        </div>
                                        <div id="extras" class="single-exercise">
                                            <ul>
                                                <li> <a id="scratchpad-show" href style>Show scratchpad</a>
                                                    <span id="scratchpad-not-available" style="display: none;">Scratchpad not available</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div id="end-of-page-spacer" style="height: 38px;">&nbsp;</div>
                    <div id="badge-notification-container" class="badge-award-container" style="display:none;"></div>
                </div>
            </div>
        </div>
        <!-- End Hardcoding select content of khan-site.html -->
        <div class="content">
          <div class="quizModule">
            <div id="qInst"></div>
            <div id="playerdiv">
              <div id="player"></div>
              <div id="slideIndex"></div>
            </div>
          </div>
        </div>
        <div id="loadedExercises"></div>
        <input type="hidden" name="exercise_type" value="video" id="exercise_type" />
        <input type="hidden" name="video_id" value="{{ video.id }}" id="video_id" /> 
    {% else %}
        <h2>{{video.title}}</h2>
        <!-- iframe width="710" height="430" src="https://www.youtube.com/embed/{{video.url}}?rel=0" frameborder="0" allowfullscreen></iframe -->
        <div id="player"></div>
    {% endif %}
  {% else %}
    <h4>Please log in to see videos.</h4>
  {% endif %}
</div>


{% endblock m_column_content %}

{% block addl_scripts %}


{% if video.title %} 
<script>
var c2gConfig = {
    user: {{user.id}},
    problemType: 'formative',
    progressUrl: '/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/videos'
};
</script>
<script src="{{ STATIC_URL }}latestKhan/khan-exercise-c2g.js" /></script>
<script src="{{ STATIC_URL }}js/thumbnails.js" /></script>
<script>
    var vidPSUrl = '{{video.id}}/load_video_problem_set';
    $("#loadedExercises").load(vidPSUrl, function(text,status) {
        if(status=="success"){
            var kScript = document.createElement('script');
            kScript.src="{{ STATIC_URL }}latestKhan/khan-exercise-c2g.js";
            document.head.appendChild(kScript);
        }
    });

    // [@wescott] Want to get valid thumbnails for other videos, since they might not have been
    // Kelvinated
    var path='http://{{common_page_data.aws_storage_bucket_name}}.s3-website-us-west-2.amazonaws.com/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/videos/{{video.id}}/jpegs/';
    var thumbManifest = {};
    var psManifest = {};
    var loadThumbManifest = function (data, textStatus, jqXHR) { 
        $.each(data, function (key, val) {
            $.each(val, function (k, v) {
                if (k == "imgsrc") {
                    val[k] = path + v;
                }
            })
            thumbManifest[parseInt(key)] = val; 
        });
    };
    var loadPSManifest = function (data, textStatus, jqXHR) { 
        $.each(data, function (key, val) {
            $.each(val, function (k, v) {
                if (k == "imgsrc") {
                    val[k] = path + v;
                }
            })
            psManifest[parseInt(key)] = val; 
        });
    };
    $.getJSON(path + "manifest.txt", "", loadThumbManifest);
    $.getJSON("/get_video_exercises?video_id={{video.id}}", "", loadPSManifest);

    var playerVars = { 'rel': 0, 'start': {% if video_rec %}{{video_rec.start_seconds}}{% else %}0{% endif %} };
    var thumbSet = initThumbnails('{{ video.url }}', thumbManifest, psManifest, playerVars);

    var initStacks = function () {
        /*
        console.log("initStacks being run now");
        if (typeof KhanC2G != "undefined" && $.isArray(KhanC2G.remoteExercises)) {
            for (var i = 0; i < KhanC2G.remoteExercises.length; i += 1) {
                KhanC2G.makeProblem(i); 
                console.log("Made problem " + i);
            }
        }
        */
        $('.current-card-contents').append($('div.content'));
        $('.current-card-contents').css('min-height', '600px');
        $('div.content').css('position', 'absolute').css('top', '10px').css('left','10px');

        $('#container').css('padding-top',0);
        $('#examples-show').hide();

        var skipBtn = document.createElement('input');
        $(skipBtn).attr('id', 'skip-button');
        $(skipBtn).attr('type', 'button');
        $(skipBtn).attr('value', 'Skip Question');
        $(skipBtn).attr('title', 'Skip this question and return to the video');
        $(skipBtn).addClass('simple-button').addClass('green').addClass('full-width');
        $('#check-answer-button').after($(skipBtn));
        $(skipBtn).click(function () { $('#next-question-button').trigger('click'); })
        $('#next-question-button').val("Correct! Resume Video");

        $('#next-question-button').unbind('click');
        $('#next-question-button').click(function () {

            $('#questionBG').remove();
            $('#questionPane').remove();
            $('#problemarea').css('z-index', 0);

            $('#playerdiv').fadeTo('slow', 1.0);
            $('.video-overlay-question').hide();
            $('.video-overlay-hint').hide();
            $('#answer_area').fadeOut('slow');
            $("#slideIndex").show();

            player.playVideo();
        });

    };
    $(document).ready(function () {
        window.setTimeout(KhanC2G.initVideoExercises, 2000);
    });
    {% if video_rec %}
    window.onbeforeunload = function() {
        vidTime = Math.floor(player.getCurrentTime());
        duration = player.getDuration();
        $.ajax({type:"POST", url: "/videos/save/", async:false, data: {videoRec: {{video_rec.id}}, playTime: vidTime, duration: duration, csrfmiddlewaretoken: '{{ csrf_token }}'}});
    }
    {% endif %}
</script>

{% else %}

<script type="text/javascript">
    // This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // This function creates a YouTube player after the API code downloads.
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
        height: '430',
        width: '710',
        videoId: '{{video.url}}',
        playerVars: { 'rel': 0, 'start': {% if video_rec %}{{video_rec.start_seconds}}{% else %}0{% endif %} },
        });
    }

    {% if video_rec %}
    window.onbeforeunload = function() {
        vidTime = Math.floor(player.getCurrentTime());
        duration = player.getDuration();
        $.ajax({type:"POST", url: "/videos/save/", async:false, data: {videoRec: {{video_rec.id}}, playTime: vidTime, duration: duration, csrfmiddlewaretoken: '{{ csrf_token }}'}});
    }
    {% endif %}
</script>
{% endif %}

{% endblock addl_scripts %}
