{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{{ SITE_TITLE }} | Register{% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}
{% block m_column_content %}




{% if user.is_authenticated %}

    <p>{% trans 'Welcome' %}, {{ user.username }}. {% trans 'Thanks for logging in.' %}</p>

{% else %}

<div class="modal-form">
    <div class="form-info">
        <h2>{% trans 'Sign in to ' %} {{ SITE_TITLE }}</h2>            
        <h6>Welcome back! Enter your username and password to get started.</h6>
        {% if form.errors %}
            <div class="alert-box secondary">
                {% trans "Uh-oh.  We couldn't find username and password you entered." %}
            </div>
        {% endif %}
    </div>
    <div class="form-body">
        <form action="{% url 'default_login' %}?next={{ next }}" method="post" class="custom form_login">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                  <label for="id_username" class="control-label onload-focus">{{ form.username.label_tag }}</label>
                    <div class="controls">
                    {{ form.username }}
                  </div>
                </div>
                <div class="control-group">
                  <label for="id_username" class="control-label">{{ form.password.label_tag }}</label>
                    <div class="controls">
                    {{ form.password }}
                  </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <input type="submit" value="{% trans 'Sign In' %}" id="submit"/>
                <a id="alternative" href="{% url 'registration_register' %}?next=/{{request.GET.pre}}/{{request.GET.post}}">
                    {% trans 'Need to register for an account?' %}
                </a>
                <a id="alternative" href="{% url 'auth_password_reset' %}">
                    {% trans 'Forgot your username or password?' %}
                </a>
            </div>
        </form>        
    </div>
</div>
{% endif %}

{% endblock %}
 
