{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ SITE_TITLE }} | Register{% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}
{% block m_column_content %}

{% if form.errors %}
<div class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    Your username and password didn't match a credential in our system. Please try again.
</div>
{% endif %}


{% if user.is_authenticated %}

<p>Welcome, {{ user.username }}. Thanks for logging in.</p>

{% else %}
    {% if SITE_NAME_SHORT = 'Stanford' %}{% endif %}
<div class="row-fluid"><div class="span3"></div><h3 style="margin-left:330px;" >Stanford students, please log in <a data-toggle="modal" href="{% url 'shib_login' %}?next=/">here</a></h3></div>
 <div class="row-fluid">
 <div class="span3"> </div>
       {% if login_form.errors %}
       <div class="alert alert-error">
         <button class="close" data-dismiss="alert">×</button>
         Uh-oh.  We couldn't find username and password you entered.  Try again?
       </div>
       {% endif %}
       <div class="well preview-registration span5" style="margin-top:50px;">
       <h3>Confirm your login name</h3>
<form method="post" action="{% url 'default_login' %}?next={{ next }}" class="form-vertical">  
{% csrf_token %}

<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" class="btn" />
&nbsp; <a href="{% url 'auth_password_reset' %}">Forgot my username or password</a>
{% if next|stringformat:"s" == '/accounts/password/reset/complete/'  %}
<input type="hidden" name="next" value='/' />
{% else %}
<input type="hidden" name="next" value="{{ next }}" />
{% endif %}
</form>
</div></div>
{% endif %}
{% endblock %}
 
