{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ SITE_TITLE }} | Password Change {% endblock %}

{% block m_column_content %}
<div class="modal-form">
  <div class="form-info">
    <h2>{% trans 'Change your password' %}</h2>
  </div>
  <div class="form-body">
    <form action="" method="post" class="form-vertical">{% csrf_token %}
      <fieldset>
        <div class="control-group">
            <label for="id_old_password" class="control-label required">{% trans 'Old password' %}:</label>
            <div class="controls">
              {{ form.old_password }}
              {{ form.old_password.errors }}
            </div>
        </div>
        <hr>
        <div class="control-group">
            <label for="id_new_password1" class="control-label required">{% trans 'New password' %}:</label>
            <div class="controls">
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
            </div>
        </div>
        <div class="control-group">
            <label for="id_new_password2" class="control-label required">{% trans 'Password (again)' %}:</label>
            <div class="controls">
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
            </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" id="submit" value="{% trans 'Change my password' %}"/>
      </div>
    </form>
  </div>
</div>
{% endblock m_column_content %}
