{% extends "base.html" %}
{% load url from future %}

{% block m_column_content %}
{% if form.errors %}
    <div class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    Please correct the errors below.
    </div>
{% endif %}

<div class="registration">
	<h1>Register for Sophi</h1>
	<div class="well">
		<form action="{% url 'registration_register' %}" method="post">
		    {% csrf_token %}
		    <table>
                <tr>
                    <th><label for="id_username">{{form.username.label}}:</label></th>
                    <td>{{form.username.errors}}{{ form.username }}</td>
                </tr>
                <tr>
                    <th><label for="id_email">{{form.email.label}}:</label></th>
                    <td>{{form.email.errors}}{{ form.email }}</td>
                </tr>
                <tr>
                    <th><label for="id_first_name">{{form.first_name.label}}:</label></th>
                    <td>{{form.first_name.errors}}{{ form.first_name }}</td>
                </tr>
                <tr>
                    <th><label for="id_last_name">{{form.last_name.label}}:</label></th>
                    <td>{{form.last_name.errors}}{{ form.last_name }}</td>
                </tr>
                <tr>
                    <th><label for="id_password1">{{form.password1.label}}:</label></th>
                    <td>{{form.password1.errors}}{{ form.password1 }}</td>
                </tr>
                <tr>
                    <th><label for="id_password2">{{form.password2.label}}:</label></th>
                    <td>{{form.password2.errors}}{{ form.password2 }}</td>
                </tr>
                
            </table>
            
		    <div class="form-actions">
                <p>
                {{form.tos.errors}} {{form.tos}} I agree to Stanford Online's 
                <a href="{% url 'c2g.views.hc' %}" target="_blank" >Honor Code</a> and <a href="{% url 'c2g.views.tos' %}" target="_blank">Terms of Service</a>
                </p>
		    	<input type="submit" value="Register" class="btn btn-primary btn-large" />
			</div>
		</form>
	</div>
</div>

{% endblock m_column_content %}