{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{{ SITE_TITLE }} | Register{% endblock title %}
{% block topnav %} {% endblock topnav %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}
{% if user.is_authenticated %}

<p>{% trans 'Welcome' %}, {{ user.username }}. {% blocktrans %}You are already logged in and therefore you already have an account.  Please {% endblocktrans %}<a href="{% url 'auth_logout' %}?next={% url 'registration_register' %}">{% blocktrans %}log out</a> to register for a new account. {% endblocktrans %}</p>

{% else %}
{% if form.errors %}
    <div class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    {% trans 'Please correct the errors below.' %}
    </div>
{% endif %}

<div class="row-fluid">
<div class="span3">
</div>
<div class="registration span5">
	<div class="well">
        <h2>{% trans 'Register for' %} {{ SITE_TITLE }}</h2>

		<form action="{% url 'registration_register' %}" method="post" class="form-horizontal">
            <fieldset>
		    {% include 'registration/regforminputs.html' %}
            </fieldset>
		    <div class="form-actions">
                <p>
                 {% url 'c2g.views.tos' as tos_url %}
                 {{form.tos}} {% blocktrans %}I agree to {{ SITE_TITLE }}'s <a href="{{tos_url}}" target="_blank">Terms of Service</a>, <a href="{{tos_url}}#honor" target="_blank" >Honor Code</a>, and <a href="{{tos_url}}#privacy" target="_blank">Privacy Policy</a>{% endblocktrans %}
                </p>
		    	<input type="submit" value="{% trans 'Register' %}" class="btn btn-primary btn-large" /> &nbsp; {% trans 'Already have an account?' %}  <a href="{% url 'auth_login' %}?next=/{{request.GET.pre}}/{{request.GET.post}}"> {% trans 'Login instead' %}</a>
			</div>
		</form>        
	</div>
</div>
</div>

{% endif %}
{% endblock m_column_content %}
