#loginreg_canvas {
    position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;
    display: none;
    z-index: 1;
}

#loginreg_background{
    position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;
    background-color: #404030; opacity: 0.5;
}

#loginreg_container {
    position: absolute;
    width: 300px; height: 200px;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    
    background: #f4f4e0;
    background: -moz-linear-gradient(top, #f4f4e0, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4e0), to(#ffffff));
}

#loginreg_separator {
    position: absolute;
    width: 1px; height: 280px; top: 10px; left: 299px;
    background: #b4b4a0;
}

#reg_container {
    position: absolute;
    left: 10px; top: 10px; width: 275px; height: 280px;
}

#login_container {
    position: absolute;
    right: 10px; top: 10px; width: 280px; height: 150px;
}