{% extends "course_base.html" %}
{% block title %}Quizzes | {{common_page_data.course.title}}{% endblock %}
{% load url from future %}
{% block problemsets_link_class %}class="active"{% endblock problemsets_link_class %}

{% block course_page_title %}Quizzes(<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>){% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% include "draft/item_checkbox_functions.html" %}
    {% include "problemsets/draft/problem_set_management_section.html" %}

    {% for section_structure in section_structures %}
    <div class="well">
        {% include "content_sections/draft/section.html" %}
    </div>
    {% empty %}
        <p style='margin: 20px;'>No quizzes have been added to this section.</p>
    {% endfor %}
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap-datepicker.js"></script>
    <script type="text/javascript">$(".datepicker").datepicker();</script>
    {% include "controls/tinymce.html" %}
{% endblock addl_scripts %}