.simple-button:focus {outline: 2px double #39f;}
#top-header, #footer {display:none;}
#outer-wrapper, #page-container {background:#fff;}

#page-container-inner {background:none;}
article { border-top: 0; }
article.exercises-content div.exercises-header .section-headline div.topic-exercise-badge {display:none;}

/* playerdiv's display will be set to block in JS */
#playerdiv { display: none; }

#questions-stack {/*display: none;*/ position:absolute; font-size: 150%; top: 30px; left: -60px; z-index:5}
#questions-stack ol { list-style: none; margin: 0; }
#questions-stack li { background-color: #fff; border: 2px solid #ccc; border-radius: 3px; color: #999; cursor: pointer; margin-top: -.3em; padding: 3px .5em; } 

/* #questions-to-do {display: none; font-size: 150%; top: 30px; left: -60px; z-index:5} */
#questions-stack #questions-to-do ol li { /* -webkit-transform:rotate(-17deg); -ms-transform:rotate(-17deg); -moz-transform:rotate(-17deg); -o-transform:rotate(-17deg)*/ }
/* #questions-stack #questions-to-do ol li:hover{border-color: #000; color:#000;} */
        
/*#questions-done {display: none; font-size: 150%; top: 30px; right: -60px; z-index:5}*/
#questions-stack #questions-done {display: none; /* font-size: 150%; */ z-index:5}
#questions-stack #questions-done ol li { /* -webkit-transform:rotate(17deg); -ms-transform:rotate(17deg); -moz-transform:rotate(17deg); -o-transform:rotate(17deg)*/ }
/* #questions-stack #questions-done ol li:hover{border-color: #000; color:#000;} */

#questions-stack li.current-question { border-color: #cc6200; position: relative; left: .5em; z-index: 2; }
#questions-stack li.correctly-answered { background-color: #afdcaf; color: #070; position: relative; }
#questions-stack li.correctly-answered .icon-ok-sign { position: absolute; right: -10px; top: -5px; }
.survey #questions-stack li.correctly-answered { background-color: #ddd; border-color: #777; color: #777; position: relative; }
.survey #questions-stack li.correctly-answered .icon-ok-sign { position: absolute; right: -10px; top: -5px; }
#questions-stack li.survey-answered { background-color: #ddd; border-color: #777; color: #777; position: relative; }
#questions-stack li.survey-answered .icon-ok-sign { position: absolute; right: -10px; top: -5px; }

.loading {background-color: #ffc; border: 2px solid #b75; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; font-weight: bold; opacity: .5; padding: .3em 1em; -ms-filter: “alpha(opacity=50)”; filter: alpha(opacity=50); -khtml-opacity: .5; -moz-opacity: .5; }

/* summative exercises styles */
#penalty-pct { font-weight: bold; }
strong.attempts-so-far { color: #cc6200; }
.assessive #solutionarea p { margin: 12px 0; }

/* survey exercises styles */
.survey #examples-show {display: none;}
#survey-checkbox-list input { float: left; margin-right: 5px; }
