<!DOCTYPE html>
<html data-require="word-problems">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Multiple Choice Template - No Gradiance, Multiple Problems</title>
    <script src="../khan-exercise.js"></script>
</head>

<body>
    <div class="exercise">
        <div class="problems">
            <div>
                <div class="question">
                    <p>What color is the sky?</p>
                </div>
                
                <div class="solution">Blue</div>
                <ul class="choices">
                    <li>Green</li>
                    <li>Red</li>
                    <li>Yellow</li>
                </ul>
            </div>
            
            <div>
                <div class="question">
                    <p>Which of the following is NOT a fruit?</p>
                </div>
                
                <div class="solution">Bear</div>
                <ul class="choices">
                    <li>Peach</li>
                    <li>Apple</li>
                    <li>Orange</li>
                </ul>
            </div>
            
            <div>
                <div class="question">
                    <p>How many bits are in a byte?</p>
                </div>
                
                <div class="solution">8</div>
                <ul class="choices">
                    <li>4</li>
                    <li>10</li>
                    <li>5</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
