<!-- section -->
<script type="text/javascript">
    function record_download(video_id, user_id, course_id, format) {
        $.ajax({type:"POST", 
                url: "/videos/record_download/", 
                async:false, 
                data: {video_id: video_id, 
                       user_id: user_id, 
                       course_id: course_id, 
                       format: format, 
                       csrfmiddlewaretoken: '{{ csrf_token }}'
                       }
               });
    }
</script>
<h3>{{section_structure.section.title}}</h3>
<div class="course-section">
<ul class="unstyled course-list">
{% for item in section_structure.items %}
    {% ifequal item.type 'additional_page' %}
            {% include "additional_pages/ready/additional_page_list_item.html" %}
    {% endifequal %}
    {% ifequal item.type 'problem_set' %}
            {% include "problemsets/ready/problemset_list_item.html" %}
    {% endifequal %}
    {% ifequal item.type 'video' %}
            {% include "videos/ready/video_list_item.html" %}
    {% endifequal %}
    {% ifequal item.type 'file' %}
            {% include "files/ready/file_list_item.html" %}
    {% endifequal %}
    {% ifequal item.type 'exam' %}
            {% include "exams/ready/exam_list_item.html" %}
    {% endifequal %}
{% empty %}
    <li class="course-list-item">
        <p style='margin: 20px;'>No items have been added to this section</p>
    </li>
{% endfor %}
</ul>
</div>
