{% extends "base.html" %}
{% load url from future %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    {% if user.is_authenticated %}
        <h2>Edit Profile</h2>
        <h4>Please fill out the information completely</h4>
        <form name="edit profile" action="{% url 'accounts.views.save_edits' %}" method="POST">
            {% csrf_token %}
            First Name: <input type="text" name="first_name" /><br>
            Last Name: <input type="text" name="last_name" /><br>
            Email: <input type="text" name="email" /><br>
            <input type="submit" value="Submit" />
        </form>
    {% else %}
        <h2> Please log in to see profile information </h2>
    {% endif %}
</div>
{% endblock m_column_content %}
