<h3>{{section_structure.section.title}}</h3>
<ul style="list-style-type:none;">
    {% for item in section_structure.items %}
        <li style="padding: 3px;">
            {% ifequal item.type 'problem_set' %}
                {% include "problemsets/staging/problemset_list_item.html" %}
                <input type="hidden" name="order_problemset_{{item.problem_set.id}}" value="{{forloop.counter0}}" />
            {% endifequal %}
            {% ifequal item.type 'video' %}
                {% include "videos/staging/video_list_item.html" %}
                <input type="hidden" name="order_video_{{item.problem_set.id}}" value="{{forloop.counter0}}" />
            {% endifequal %}
        </li>
    {% empty %}
        <p style='margin: 20px;'>No items have been added to this section</p>
    {% endfor %}
</ul>