{% extends "course_base.html" %}
{% block title %}Course Materials | {{common_page_data.course.title}}{% endblock %}
{% load url from future %}
{% block course_materials_link_class %} active{% endblock course_materials_link_class %}

{% block course_page_title %}Course Materials (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>){% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if user.is_authenticated %}
        {% for section_structure in section_structures %}
            {% include "content_sections/ready/section.html" %}
        {% empty %}
            <p style='margin: 20px;'>No content to display.</p>
        {% endfor %}
        {% if section_structures|length == 1 %}
            {% if prev_section %}<a href="{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix prev_section.id %}" class="btn pull-left">&larr; {{ prev_section.title }}</a>{% endif %}
            {% if next_section %}<a href="{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix next_section.id %}" class="btn pull-right">{{ next_section.title }} &rarr;</a>{% endif %}
        {% endif %}
    {% else %} {# This is technically unreachable due to admin decorator, but doing this just to be complete #}
    <h4>Please {% with login_course=common_page_data.course login_link_id="login_link" link_text="log in" %}
                  {% include "registration/login_link.html" %}
               {% endwith %}
      to see course materials.</h4>
    {% endif %}
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
<!-- included in course_materials.html; see also video list.html -->
<script type="text/javascript">
    function record_video_download(video_id, user_id, course_id, format) {
        $.ajax({type:"POST", 
                url: "/videos/record_download/", 
                async:false, 
                data: {video_id: video_id, 
                       user_id: user_id, 
                       course_id: course_id, 
                       format: format, 
                       csrfmiddlewaretoken: '{{ csrf_token }}'
                       }
               });
    }
</script>
{% endblock addl_scripts%}
