{% load i18n %}
<form name="delete_file_form" action="{% url 'courses.files.actions.delete_file' %}" method="POST">
    <input type="hidden" name="file_id" id="delete_file_id" />
    <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
    <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
    {% csrf_token %}
</form>
<script type="text/javascript">
    function DeleteFile(id) {
        if (confirm("{% trans 'Are you sure you want to delete the file' %} '" + $("#file_"+id+"_title").html() + "'?")) {
            $("#delete_file_id").val(id);
            document.forms.delete_file_form.submit();
        }
    }
</script>
