<div class="announcement">
    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'staging' %}
        <table style="width: 100%;margin-top: 5px;">
            <tr>
                <td style="width: 30%;vertical-align: top;padding-top: 5px;">
                    <small class="date" style="display:inline;"> {{announcement.last_updated}}</small>
                </td>
                <td style="width: 40%;font-size: 9pt;">
                    {% if announcement.is_synced %}
                    <div class="alert alert-success" style="padding: 2px;">
                        <i class="icon-ok" style="font-size:17px"></i> <strong>Published!</strong>
                    </div>
                    {% else %}
                    <div class="alert" style="padding: 2px;">
                        <i class="icon-random" style="font-size:17px"></i> Draft has unpublished changes
                    </div>
                    {% endif %}
                </td>
                <td style="width: 30%; vertical-align: top;padding-top: 5px;">
                    <div style="display:inline;float:right;">
                        <a style="margin-right: 20px;" href="{% url 'courses.announcements.views.edit' common_page_data.course_prefix common_page_data.course_suffix announcement.id %}">Edit</a>
                        <a href="javascript:DeleteAnnouncement('{{announcement.id}}')">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
    {% else %}
        <small class="date" style="display:inline;"> {{announcement.last_updated}}</small>
    {% endif %}
    <h4>{{announcement.title}}</h4>
    {% autoescape off %}{{announcement.description}}{% endautoescape %}
</div>