{% extends "course_base.html" %}
{% load url from future %}

{% block course_page_title %}Announcements (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>){% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'staging' %}
    <div>
        <button class="btn" onclick="document.getElementById('new_announcement_div').style.display='block';">New announcement</button>
        <!--a class="btn" href="{% url 'courses.announcements.views.admin' common_page_data.course_prefix common_page_data.course_suffix %}">Manage Announcements</a-->
    </div>
    <form name="delete_announcement_form" action="{% url 'courses.announcements.actions.delete_announcement' %}" method="POST">
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        <input type="hidden" name="announcement_id" id="announcement_id" />
        {% csrf_token %}
    </form>
    <script type="text/javascript">
        function DeleteAnnouncement(id) {
            if (confirm('Are you sure you want to delete this announcement?')) {
                $('#announcement_id').val(id);
                document.forms.delete_announcement_form.submit();
            }
        }
    </script>
    {% endif %}
    
    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'staging' %}
        {% include "announcements/new_announcement.html" %}
    {% endif %}
    
    {% for announcement in announcements %}
        {% include "announcements/announcement.html" %}
    {% empty %}
        <p style="margin:20px;">No announcements to display.</p>
	{% endfor %}

</div>
{% endblock m_column_content %}

{% if common_page_data.is_course_admin  and common_page_data.course_mode == 'staging' %}
    {% block addl_scripts %}
    {% include "controls/tinymce.html" %}
    {% endblock addl_scripts %}
{% endif %}