{% load i18n %}

<div class="announcement">
    <div class="announcement-actions pull-right">
        {% if common_page_data.is_course_admin and common_page_data.course_mode == 'draft' %}
            <a style="margin-right: 20px;" href="{% url 'courses.announcements.views.edit' common_page_data.course_prefix common_page_data.course_suffix announcement.id %}"><em class="icon-edit icon-large"></em> {% trans 'Edit' %}</a>
            <a href="javascript:DeleteAnnouncement('{{announcement.id}}')"><em class="icon-trash icon-large"></em> {% trans 'Delete' %}</a>
        {% else %}
            <a class="announcement-collapse">Show</a>
        {% endif %}
    </div>
    <h4 class="pull-left">{{announcement.title}}</h4>
    <small class="date"> {{announcement.last_updated}}</small>
    <div {% if common_page_data.course_mode != 'draft' %}class="announcement-content"{% endif %}>
        {% autoescape off %}{{announcement.description}}{% endautoescape %}
    </div>

    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'draft' %}
        {% if announcement.is_synced %}
        <span class="badge badge-success">
            <em class="icon-ok icon-large"></em> <strong>{% trans 'Published!' %}</strong>
        </span>
        {% else %}
        <span class="badge badge-warning">
            <em class="icon-random icon-large"></em> {% trans 'Draft has unpublished changes' %}
        </span>
        {% endif %}
    {% endif %}
</div>