<div class="announcement">
    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'draft' %}
    <small class="date"> {{announcement.last_updated}}</small>
    <div class="announcement-actions">
        <a style="margin-right: 20px;" href="{% url 'courses.announcements.views.edit' common_page_data.course_prefix common_page_data.course_suffix announcement.id %}"><i class="icon-edit icon-large"></i> Edit</a>
        <a href="javascript:DeleteAnnouncement('{{announcement.id}}')"><i class="icon-trash icon-large"></i> Delete</a>
    </div>
    {% else %}
        <small class="date"> {{announcement.last_updated}}</small>
    {% endif %}
    <h4>{{announcement.title}}</h4>
    {% autoescape off %}<p>{{announcement.description}}</p>{% endautoescape %}

    {% if common_page_data.is_course_admin and common_page_data.course_mode == 'draft' %}
        {% if announcement.is_synced %}
        <span class="badge badge-success">
            <i class="icon-ok icon-large"></i> <strong>Published!</strong>
        </span>
        {% else %}
        <span class="badge badge-warning">
            <i class="icon-random icon-large"></i> Draft has unpublished changes
        </span>
        {% endif %}
    {% endif %}
</div>