{% extends "course_base.html" %}
{% load i18n %}
{% load url from future %}

{% block course_page_title %}{% trans 'Edit Announcement' %}{% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span6">
    {% if announcement.is_synced %}
    <div class="alert alert-success">
        <em class="icon-ok icon-large"></em> <strong>{% trans 'Published!' %}</strong> {% trans 'This draft is published.' %}
    </div>
    {% else %}
    <div class="alert">
        <em class="icon-random icon-large"></em> {% trans 'Draft contains saved changes that have not yet been published.' %}
    </div>
    {% endif %}
    <!--table style="width: 100%;">
        <tr>
            <td style="width: 60%;">
                
            </td>
            <td style="width: 40%;">
                <div style="display:inline;float:right;">
                    <a style="margin-right: 20px;" href="{% url 'courses.announcements.views.edit' common_page_data.course_prefix common_page_data.course_suffix announcement.id %}">Edit</a>
                    <a href="javascript:DeleteAnnouncement('{{announcement.id}}')">Delete</a>
                </div>
            </td>
        </tr>
    </table-->
    
    <form name="edit_announcement_form" action="{% url 'courses.announcements.actions.save_announcement' %}" method="POST" class="form-vertical">
        <div class="control-group">
            <label>{% trans 'Title' %}</label>
            <div class="controls">
                <input name="title" id="announcement_title" value="{{announcement.title}}" type="text" />
            </div>
        </div>
        <div class="control-group">
            <label>{% trans 'Description:' %}</label>
            <p><span style='text-decoration: italic; font-weight: bold;'>{% trans 'Note:' %}</span> {% trans 'To insert hyperlinks, please select the text that will be the link, then click the button that looks like a chain.' %} <span style='text-decoration: italic; font-weight: bold;'>{% trans 'Always use absolute URLs only' %} (http://.....)</span>.</p>
            <div class="controls">
                <textarea class="tinymce" name="description" id="announcement_description">{{announcement.description}}</textarea>
            </div>
        </div>
        <input type="hidden" name="announcement_id" value="{{ announcement.id }}" />
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        <input type="hidden" name="commit" id="commit" value="0" />
        <input type="hidden" name="revert" id="revert" value="0" />
        {% csrf_token %}
        
        <input type="button" class="btn btn-primary" value="{% trans 'Save and Make Ready' %}" onclick="SaveAnnouncement(1,0);" />
        <input type="button" class="btn" value="{% trans 'Save as Draft' %}" onclick="SaveAnnouncement(0,0);" />
        {% if announcement.image %}
            <input type="button" class="btn" value="{% trans 'Revert' %}" onclick="SaveAnnouncement(0,1);" />
        {% endif %}
        <a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}" class="btn">{% trans 'Cancel' %}</a>
    </form>
    <script type="text/javascript">
        function SaveAnnouncement(commit,revert) {
            $("#commit").val(commit);
            $("#revert").val(revert);
            document.forms.edit_announcement_form.submit();
        }
    </script>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
{% include "controls/tinymce.html" %}
{% endblock addl_scripts %}