{% load i18n %}

<div id="new_announcement_div" style='display: none;'>
    <form name="new_announcement_form" action="{% url 'courses.announcements.actions.add_announcement' %}" method="POST" class="form-vertical">
        <div class="control-group">
            <label>{% trans 'Title' %}</label>
            <div class="controls">
                <input name="title" id="announcement_title" type="text" />
            </div>
        </div>
        <div class="control-group">
            <label>{% trans 'Description:' %}</label>
            <p><span style='text-decoration: italic; font-weight: bold;'>{% trans 'Note:' %}</span> {% trans 'To insert hyperlinks, please select the text that will be the link, then click the button that looks like a chain.' %} <span style='text-decoration: italic; font-weight: bold;'>{% trans 'Always use absolute URLs only' %} (http://.....)</span>.</p>
            <div class="controls">
                <textarea class="tinymce" style="width:100%;" name="description" id="announcement_description"></textarea>
            </div>
        </div>
        <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
        <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
        <input type="hidden" name="commit" id="commit" value="0" />
        {% csrf_token %}

        <label>
	  <input type="checkbox" name="email" value="0" />
	  {% trans 'Email this announcement to the students' %}
	</label>
        <input type="button" class="btn btn-primary" value="{% trans 'Save and Set to Ready' %}" onclick="SaveAnnouncement('1');" />
        <!-- commenting out Save As Draft button, since it's published right away
        <input type="button" class="btn" value="Save as Draft" onclick="SaveAnnouncement('0');" />
        -->
        <input type="button" class="btn" value="{% trans 'Cancel' %}" onclick="CancelNewAnnouncement()"/>
    </form>
    <script type="text/javascript">
        function SaveAnnouncement(commit) {
            $("#commit").val(commit);
            document.forms.new_announcement_form.submit();
        }
        
        function CancelNewAnnouncement() {
            $('#announcement_title').val('');
            tinyMCE.get('announcement_description').setContent('');
            $('#new_announcement_div').hide();
        }
    </script>
</div>
