{% load i18n %}
<form name="delete_video_form" action="{% url 'courses.videos.actions.delete_video' %}" method="POST">
    <input type="hidden" name="video_id" id="delete_video_id" />
    <input type="hidden" name="course_prefix" value="{{ common_page_data.course_prefix }}" />
    <input type="hidden" name="course_suffix" value="{{ common_page_data.course_suffix }}" />
    {% csrf_token %}
</form>
<script type="text/javascript">
    function DeleteVideo(id) {
        if (confirm("{% trans 'Are you sure you want to delete the video' %} '" + $("#video_"+id+"_title").html() + "'?")) {
            $("#delete_video_id").val(id);
            document.forms.delete_video_form.submit();
        }
    }
</script>