{% extends "course_base.html" %}
{% load url from future %}
{% block course_page_title %}Exam Creation Form{% endblock course_page_title %}

{% block m_column_content %}

<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #container{
        position:relative;
        height:450px;
    }
    h2 {color: #444; font-family: Arial, Helvetica, sans-serif; margin-bottom: .2em;}
    #input-pane, #preview-pane {float: left; margin-right: 1em; width: 90%;}
    #preview-pane #staging-area {background-color: #eee; border: 1px solid #ddd; height: 420px; padding: 1em;}
    textarea, #staging-area {height: 400px; overflow: auto; width: 100%;}
    #preview-pane label {clear: both; display: block;}
    #preview-pane label input {float: left; margin-right: 1em;}
    #preview-pane #staging-area p {clear: both; display: block; padding: 0 0 1em;}
    .problem {border:1px solid #999; border-radius: 5px; margin: 1em 0; padding: 1em;}
    .picker {position:relative; z-index:10;}
    h3 {clear:both;}
    div.question, div.subquestion {float:left; width:95%;}
    div.problem, div.problem {float:left; width:95%;}
    .control-group {clear:both; padding:1em; zoom:1;}
    .control-group .atomic-unit {float:left; margin-right: 1em;}
    div#summative {display:none}
    div.ui-dialog div.ui-widget-header (background: #900;)
</style>

<div class="well create-exam-form">
    <h2>Create a new exam</h2>

    <div class="control-group">
        <div class="atomic-unit"><label for="exam_title" class="control-label">Exam Title:*</label><input id="exam_title" type="text" /></div>
        <div class="atomic-unit"><label for="exam_slug" class="control-label">Exam URL Identifier:*</label><input id="exam_slug" type="text" /></div>
        <div class="atomic-unit">
            <label class="control-label" for="due_date">Due Date:*</label>
            <input id="due_date" class="picker"  type="text" name="due_date" value="{{current_datetime}}" data-datetimepicker>
        </div>
        <div class="atomic-unit">
            <label class="control-label" for="due_date">Grace Period End:*</label>
            <input id="grace_period" class="picker"  type="text" name="grace_period" value="" data-datetimepicker>
        </div>
        <div class="atomic-unit">
            <label class="control-label" for="assess_type">Select Assessment Type:</label>
            <select name="assessment_type">
                <option value="formative">Formative Problem Set</option>
                <option value="summative">Summative Problem Set/Exam</option>
                <option value="exam">Survey</option>
            </select>
        </div>
        <div id="penalties" class="atomic-unit">
            <label class="control-label" for="late_penalty">Late Penalty:</label>
            <input id="late_penalty" type="text" />
            <div id="summative">
            <label class="control-label" for="no_subs_permitted">Number of Submissions Allowed:</label>
            <input id="no_subs_permitted" type="text" />
            <label class="control-label" for="resubmission_penalty">Penalty per incorrect submission:</label>
            <input id="resubmission_penalty" type="text" />
            </div>
        </div>
    </div>

    <div class="control-group">
        <input type="button" id="xml-entry-btn" class="btn" value="Enter XML" title="Click to expose text input" />
    </div>

    <div class="control-group">
        <textarea id="ace_proxy" style="display:none">
        <problemset>
            <problem>
                <p>
                A multiple choice problem presents radio buttons for student
                input. Students can only select a single option presented. Multiple Choice questions have been the subject of many areas of research due to the early invention and adoption of bubble sheets.</p>
                <p> One of the main elements that goes into a good multiple choice question is the existence of good distractors. That is, each of the alternate responses presented to the student should be the result of a plausible mistake that a student might make.
                </p>
                
                <p>What Apple device competed with the portable CD player?</p>
                <multiplechoiceresponse>
                    <choicegroup type="MultipleChoice">
                        <choice correct="false" name="ipad">The iPad</choice>
                        <choice correct="false" name="beatles">Napster</choice>
                        <choice correct="true" name="ipod">The iPod</choice>
                        <choice correct="false" name="peeler">The vegetable peeler</choice>
                        <choice correct="false" name="android">Android</choice>
                        <choice correct="false" name="beatles">The Beatles</choice>
                    </choicegroup>
                </multiplechoiceresponse>
                <solution>
                    <div class="detailed-solution">
                        <p>Explanation</p>
                        <p>The release of the iPod allowed consumers to carry their entire music library with them in a format that did not rely on fragile and enery-intensive spinning disks. </p>
                    </div>
                </solution>
            </problem>
            <problem>
                <p>
                A numerical response problem accepts a line of text input from the
                student, and evaluates the input for correctness based on its
                numerical value.
                </p>
                
                <p>
                The answer is correct if it is within a specified numerical tolerance
                of the expected answer.
                </p>
                <script type="loncapa/python">
                    computed_response = 502*9
                    </script>
                
                <p>Enter the numerical value of Pi:
                <numericalresponse answer="3.14159">
                    <responseparam type="tolerance" default=".02" />
                    <textline />
                </numericalresponse>
                </p>
                <p>Enter the approximate value of 502*9:
                <numericalresponse answer="$computed_response">
                    <responseparam type="tolerance" default="15%"/>
                    <textline />
                </numericalresponse>
                </p>
                
                <p>Enter the number of fingers on a human hand:
                <numericalresponse answer="5">
                    <textline />
                </numericalresponse>
                </p>
                <solution>
                    <div class="detailed-solution">
                        <p>Explanation</p>
                        <p>Pi, or the the ratio between a circle's circumference to its diameter, is an irrational number known to extreme precision. It is value is approximately equal to 3.14.</p>
                        <p>Although you can get an exact value by typing 502*9 into a calculator, the result will be close to 500*10, or 5,000. The grader accepts any response within 15% of the true value, 4518, so that you can use any estimation technique that you like.</p>
                        <p>If you look at your hand, you can count that you have five fingers.</p>
                    </div>
                </solution>
            </problem>
            <problem>
                <p>
                A numerical response problem accepts a line of text input from the
                student, and evaluates the input for correctness based on its
                numerical value.
                </p>
                
                <p>
                The answer is correct if it is within a specified numerical tolerance
                of the expected answer.
                </p>
                <script type="loncapa/python">
                    computed_response = 502*9
                    </script>
                
                <p>Enter the numerical value of Pi:
                <numericalresponse answer="3.14159">
                    <responseparam type="tolerance" default=".02" />
                    <textline />
                </numericalresponse>
                </p>
                <p>Enter the approximate value of 502*9:
                <numericalresponse answer="$computed_response">
                    <responseparam type="tolerance" default="15%"/>
                    <textline />
                </numericalresponse>
                </p>
                
                <p>Enter the number of fingers on a human hand:
                <numericalresponse answer="5">
                    <textline />
                </numericalresponse>
                </p>
                <solution>
                    <div class="detailed-solution">
                        <p>Explanation</p>
                        <p>Pi, or the the ratio between a circle's circumference to its diameter, is an irrational number known to extreme precision. It is value is approximately equal to 3.14.</p>
                        <p>Although you can get an exact value by typing 502*9 into a calculator, the result will be close to 500*10, or 5,000. The grader accepts any response within 15% of the true value, 4518, so that you can use any estimation technique that you like.</p>
                        <p>If you look at your hand, you can count that you have five fingers.</p>
                    </div>
                </solution>
            </problem>
        </problemset>
        </textarea>
        <div class="row-fluid">
            <div class="span6">
                <h4>Edit Exam HTML below:</h4>
                <div id="container">
                    <div id="editor"></div>
                </div>
            </div>
            <div class="span6">
                <div id="preview-pane">
                    <h4>Preview Exam HTML</h4>
                    <div id="staging-area"></div>
                </div>
            </div>
        </div>

    </div> <!-- end of "control-group" -->

    <div class="control-group">
        <a href="javascript:" class="btn toggle" data-toggle="button" id="wrap">Wrap</a>

        <input class="btn" type="button" id="preview-btn" value="Preview My Exam" />

        <input type="button" id="exercise_submit_and_close" class="btn" value="Save to Server &amp; Close" /> 
        <input type="button" id="exercise_submit" class="btn" value="Save to Server"/> 
        <a class="btn" href={{returnURL}}> Close </a>

    </div>

</div>

<div id="dialog-form" title="Paste Your XML">
    <form>
    <fieldset>
        <label for="name">XML</label>
        <textarea name="xml-entry" id="xml-entry" class="text ui-widget-content ui-corner-all"></textarea>
    </fieldset>
    </form>
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
<script src="{{STATIC_URL}}js/ace-min/ace.js"></script>
<script>
    $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 500,
        width: "90%",
        modal: true,
        buttons: {
            "Add XML": function() {
                var bValid = true;

                try {
                    var myDOM = $.parseXML($('#xml-entry').val());
                    console.log($(myDOM));
                    editor.setValue($(myDOM));
                } catch (e) {
                    alert('Your XML is invalid');
                    console.log(e.message);
                    return;
                }
                if ( bValid ) {
                    $( this ).dialog( "close" );
                }
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {
            //allFields.val( "" ).removeClass( "ui-state-error" );
        }
    });
    $('#xml-entry-btn').click(function() {
        $( "#dialog-form" ).dialog( "open" );
    });

    var editor = ace.edit("editor");
    editor.setValue($('#ace_proxy').val());
    editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/html");
    editor.getSession().setUseWrapMode(true);

    var questionIdx = 0;
      
    {% include "exams/renderPreview.js" %}

    $(function() {
        var saveExerciseContents = function(callback){return function(){
            var csrftoken = '{{csrf_token}}';
            var filename = '{{filename}}';
            c2gXMLParse.renderPreview();
      
            $.ajax("{% url 'courses.exams.views.save_exam_ajax' course.prefix course.suffix %}",{
               headers: {'X-CSRFToken': csrftoken},
               type: 'POST',
               contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
               data: { title:$('input#exam_title').val(),
                       slug:$('input#exam_slug').val(),
                       due_date:$('input#due_date').val(),
                       grace_period:$('input#grace_period').val(),
                       xmlContent:editor.getValue(),
                       htmlContent:$('#staging-area').html()
               },
               error: function(jqXHR, status, errorMsg) { alert(jqXHR.responseText);},
               success: function(data,textStatus,jqXHR) {
                   alert(jqXHR.responseText );
                   callback();
               },
            });
        };
    };
      
    var next=true;
      
    var toggleWrap = function () {
        editor.getSession().setUseWrapMode(next);
        if (next) { $('#wrap').text('Wrap');}
        else {$('#wrap').text('No Wrap');}
        next = !next;
    }
      
    $('#exercise_submit').click(saveExerciseContents(function(){}));
    $('#exercise_submit_and_close').click(saveExerciseContents(function(){ document.location="{{ returnURL }}"; }));
      
    $('#wrap').click(toggleWrap);
    $('#wrap').click();
      
      
    $('#preview-btn').click(c2gXMLParse.renderPreview);
      
      });
    </script>

{% endblock addl_scripts %}
