{% extends "course_base.html" %}
{% load url from future %}

{% block title %}
    {% if "surveys" in request.path %}
        Surveys | {{common_page_data.course.title}}
    {% elif "exams" in request.path %}
        Exams | {{common_page_data.course.title}}
    {% elif "problemsets" in request.path %}
        Quizzes | {{common_page_data.course.title}}
    {% else %}
        Interactive Exercises | {{common_page_data.course.title}}
    {% endif %}
{% endblock title %}
{% block exams_link_class %}class="active"{% endblock exams_link_class %}

{% block course_page_title %}
    {% if "surveys" in request.path %}
        Surveys (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>)
    {% elif "exams" in request.path %}
        Exams (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>)
    {% elif "problemsets" in request.path %}
        Quizzes (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>)
    {% else %}
        Interactive Exercises (<a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">{{common_page_data.course.title}}</a>)
    {% endif %}
{% endblock course_page_title %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span12">
    {% if user.is_authenticated %}
    <ul>
    {% for exam,score in exams_and_scores %}
    <li class="course-list-item">
        <div class="pull-left">
            <em class="icon-pencil"></em>
        </div>
        <div class="course-list-content">
            {% if common_page_data.course.mode == "ready" and exam.past_due %}
                <h4>{{exam.title}}</h4>
            {% else %}
            
                   <h4><a href="{% url exam.show_view common_page_data.course_prefix common_page_data.course_suffix exam.slug %}">{{exam.title}}</a></h4>
            {% endif %}
            <p>{{exam.description}}</p>
            
            {% if common_page_data.course_mode == "draft" %}
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Download CSV
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'courses.exams.views.view_submissions_to_grade' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}">Student Submissions</a></li>
                        <li><a href="{% url 'courses.exams.views.view_csv_grades' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}">Student Grades</a></li>
                    </ul>
                </div>
                
                <a href="#myModal{{exam.slug}}" role="button" class="btn" data-toggle="modal">Upload CSV</a>
            </div>
            
            <div id="myModal{{exam.slug}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{exam.slug}}" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="ModalLabel{{exam.slug}}">Select a CSV File with Student Grades</h3>
                </div>
                <div class="modal-body">
                    <form id="csv_upload{{exam.slug}}" enctype="multipart/form-data" method="POST" action="{% url 'courses.exams.views.post_csv_grades' common_page_data.course.prefix common_page_data.course.suffix exam.slug%}">
                        {% csrf_token %}
                        <input style="line-height:0px" id="fileinput" type="file" name="file" />
                    </form>
                    <b>Note:</b>  for a file with a lot of records (~50k), this import will take up to 10 minutes, so please don't navigate away after you clicked import.
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <input class="btn btn-primary" type="submit" value="Import Grade CSV" onclick="$('#csv_upload{{exam.slug}}').submit()" />
                </div>
            </div>

            {% endif %}
            {% if score %}
            <b><a href="{% url exam.graded_view common_page_data.course.prefix common_page_data.course.suffix exam.slug %}">Score: {{score}}/{{exam.total_score}} </a></b>
            &nbsp;
            {% endif %}
            {% if exam.exam_type == "exam" %}
            <a href="{% url exam.my_submissions_view common_page_data.course.prefix common_page_data.course.suffix exam.slug %}">
            View Submissions</a>
            {% endif %}
            
            
            

            <p><strong>Deadline:</strong> {{exam.due_date}} PST<br /><br /></p>
            
        </div>
    </li>
    
    
    {% empty %}
    <p style='margin: 20px;'>No content to display.</p>
    {% endfor %}
    </ul>
    {% else %}
    <h4>Please <a href="{% url 'auth_login' %}">log in</a> to see course materials.</h4>
    {% endif %}
</div>

{% endblock m_column_content %}


