#demoplayer {
    height: 480px;
    width: 800px;
}
#slideIndex {
  display: block;
  height: 140px;
  /*width: 100%;*/
  width: 800px;
  border-top: 1px solid black;
  //border-bottom: 1px solid black;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#slideIndex #slideStrip {
    float:left;
    width:1270px;
}


div.divInIndex  {
    position: relative;
    display: inline-block;
    height: 110px;
    width: 170px;
    margin: 10px;
    border: 1px solid black;
}

div.divInIndex img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 160px;
    margin: 5px;
    display: inline-block;
    z-index: 1;
}

#slideIndex .unselected{
  background:white;
}

#slideIndex .selected{
  background:red;
}

.thumbnailTime {
  font-size: 10pt;
  position:absolute;
  top: 2px;
  right: 2px;
  border: 1px solid black;
  background: white;
  padding: 1px;
  z-index: 2;
}