{% extends "course_base.html" %}
{% load url from future %}
{% block course_page_title %}{{exam.title}}{% endblock course_page_title %}

{% block exam_link_class %}
{% if "exam" in exam.exam_type %}class="active"{% endif %}
{% endblock exam_link_class %}

{% block problemsets_link_class %}
{% if "problemset" in exam.exam_type %}class="active"{% endif %}
{% endblock problemsets_link_class %}

{% block survey_link_class %}
{% if "survey" in exam.exam_type %}class="active"{% endif %}
{% endblock survey_link_class %}

{% block interactive_exercise_link_class %}
{% if "interactive_exercise" in exam.exam_type %}class="active"{% endif %}
{% endblock interactive_exercise_link_class %}

{% block l_column_content %}
{% if videotest %}
    {% include "left_nav.html" %}
{% endif %}
{% endblock l_column_content %}

{% block addl_head_scripts %}
    {% if exam.load_mathjax %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                       tex2jax: {inlineMath: [['$$','$$']],
                                 displayMath: [['\\[','\\]']]}
                       });
    </script>
        {% if request.is_secure %}
            <script type="text/javascript"
                src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
                </script>
        {% else %}
            <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
                </script>

        {% endif %}
    {% endif %}
{% endblock addl_head_scripts %}

{% block m_column_content %}
{% if videotest %}<div id="c2g_layout_m_column" class="khan-template" style="margin-left: 25%">{% endif %}
<div class="alert alert-error" id="nojswarn">
You don't have Javascript enabled or jQuery was not loaded.  This page won't work!  Please re-enable Javascript.
</div>
{% autoescape off %}

{% if common_page_data.course.mode == "ready" and not exam.is_live %}

    This exam will go live on {{ exam.live_datetime }} PST.

    
{% else %}

    <style>
    #exam-pane label {clear: both; display: block;}
    #exam-pane label input {float: left; margin-right: 1em;}
    #exam-pane  p {clear: both; display: block; padding: 0 0 1em;}
    h3 {clear:both;}
    div.question, div.subquestion {float:left; width:95%;}
    div.problem, div.problem {float:left; width:95%;}
    #problemset-nav {float: left; padding: 0 0 1em 0; width: 97%;}
    #next-question {float: right;}
    #prev-question {float: left;}
    label pre {margin-left:30px;}

    .quick-check {clear: both; display: block; margin-top: 1em;}
    .explanation {background: #fff; border-radius: 3px; margin: 1em; border: 1px solid black; padding: 1em;}
    #exam-pane .explanation p {margin: 0; padding: 0 0 1em;}
    #exam-pane fieldset label {position: relative;}
    #exam-pane .inline-explanation {background-color: #ffc; border-radius: 3px; color: #900; font-size: 90%; margin-left: 10px; padding: 2px;}
    #exam-pane .correct {color: #090;}

    .correct {color: #090;}
    .incorrect {color: #900;}
    </style>

    {% if videotest %}

    <style>
    {% include 'exams/videotest.css' %}
    #exam-pane {float: left; position: relative; display: none; width: 800px;}
    {% if exam.exam_type == "survey" and exam.invideo and "/videos" in request.path%}
    #exam-pane .continue-video-btn, #exam-pane #survey-submit {position: absolute; bottom: 4.3em; right: 1.5em;}
    {% else %}
    #exam-pane .continue-video-btn, #exam-pane #survey-submit {position: absolute; bottom: 3em; right: 1.5em;}
    {% endif %}
    #problemset-nav {display: none;}
    </style>

    {% endif %}

    {% if common_page_data.course.mode == "ready" and exam.past_all_deadlines %}

       <h3>This exam was closed on {{ exam.partial_credit_deadline }} PST.  Submissions are disabled. </h3>
    
    
    {% elif too_many_attempts %}
    
        <h3>You've made too many attempts. Submissions are disabled.</h3>

    {% endif %}

    {% if score %}
    <h4><b style="color:red">Score: {{score}}/{{exam.total_score}}</b></h4>
    {% endif %}

    {% if raw_score %}
    <h4><b style="color:red">Raw Score (without late or resubmission penalites): {{raw_score}}</b></h4>
    {% endif %}


    <noscript>
    <div class="alert alert-error">Your browser does not have JavaScript enabled. Please enable it before taking this exam</div>
    </noscript>
    <div id="exam-pane">
        <form>
    {{ exam.html_content }}
        </form>

    {% if single_question %}
    <div id="problemset-nav">
        <input type="button" id="next-question" class="btn question-nav" value="Next Question" />
        <input type="button" id="prev-question" class="btn question-nav" value="Previous Question" />
    </div>
    {% endif %}

    {% if not videotest %} 
    <input class="btn" type="submit" value="Submit" />
    {% elif exam.exam_type == "survey" and exam.invideo %}
    <input class="btn" id="survey-submit" type="submit" value="Submit" />
    {% endif %}
    </div>
    {% if videotest %}
        <div id="demoplayer"></div>
        <div id="slideIndex"></div>
    {% endif %}

{% endif %}

{% endautoescape %}
{% if videotest %}</div>{% endif %}
{% endblock m_column_content %}

{% block addl_scripts %}
    {% if videotest %}
        <script src="http://cdn.popcornjs.org/code/dist/popcorn-complete.min.js"></script>
    {% endif %}
<script>
    var __exam_type = "{{exam.exam_type}}";
    var __autograde = {% if exam.autograde %}true{% else %}false{% endif %};

    
    $(document).ready(function () {

    {% if single_question %}
        $('.question').not(':first').hide();
        var localQuestionIdx = 0;

        var adjustQuestionIdx = function (newIdx) {
            // right now, just accept neg number as moving back 1,
            // pos number moving forward 1
            if (newIdx > 0) {
                localQuestionIdx += 1;
            } else if (newIdx < 0) {
                localQuestionIdx -= 1;
            }

            if (localQuestionIdx > ($('.question').length - 1)) {
                localQuestionIdx = 0;
            } else if (localQuestionIdx < 0) {
                localQuestionIdx = $('.question').length - 1;
            }

            return localQuestionIdx;
        }

        var showQuestion = function () {
            var newQIdx = localQuestionIdx;
            if ($(this).attr('id') == "next-question" || $(this).attr('value').indexOf('Next') != -1) {
                var newQIdx = adjustQuestionIdx(1);
            } else if ($(this).attr('id') == "prev-question") {
                var newQIdx = adjustQuestionIdx(-1);
            }
            $('.question').hide();
            $('.question').eq(newQIdx).show();
        };

        $('.question-nav').click(showQuestion);
        
        {% if exam.invideo or exam.exam_type == "interactive_exercise" %}
        var quickCheck = function () {

            var checkBtnID = $(this).attr('id');
            var assocQ = $(this).closest('.question');
            var assocQID = $(assocQ).attr('id');

            if ($(this).attr('value') == "Hide Answers") {
                $('#' + assocQID + '-expl').empty().remove();
                $('#' + assocQID).find('.inline-explanation').remove();
                $(this).attr('value', 'Check Answers');
                return;
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    var csrftoken = '{{ csrf_token }}';
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });

            var checkBtn = $(this);
            var collectUserAnswers = function () {
                //console.log('collectUserAnswers called');
                var userSelections = {};
                var inputCollection = $(checkBtn).closest('.question').find('input');
                //console.log($(checkBtn));
                //console.log($(checkBtn).closest('.question'));
                //console.log(inputCollection);
                $(inputCollection).each(function () {
                    if (($(this).attr('type') == 'checkbox' || $(this).attr('type') == 'radio') && $(this).get(0).checked == true) {
                        if (!userSelections[$(this).attr('name')]) {
                            userSelections[$(this).attr('name')] = [];
                        }
                        //console.log(userSelections);
                        var tmpObj = {};
                        tmpObj.value = $(this).attr('value');
                        tmpObj.associatedText = $(this).parent().text();
                        tmpObj.report = $(this).attr('data-report');
                        tmpObj.questionreport = $(this).closest('fieldset').attr('data-report');

                        userSelections[$(this).attr('name')].push(tmpObj);
                    } else if (($(this).attr('type') == 'text') && $(this).val() != "") {
                        userSelections[$(this).attr('name')] = $(this).val();
                    }
                });
                $('textarea').each(function () {
                    if ($(this).val() != "") {
                        userSelections[$(this).attr('name')] = $(this).val();
                    }
                });

                return userSelections;
            };

            var displayMetaData = function (data, userData) {
                //console.log('displayMetaData called');
                //console.log(arguments);
                //console.log(data);
                var myXML = $.parseXML(data);
                var examMD = $(myXML).find('exam_metadata');
                var questionMD = $(examMD).find('question_metadata#' + assocQID);
                var mySolution = $(questionMD).find('solution');
                var responses = $(questionMD).find('response');

                var createInlineExp = function (targetEl) {
                    var tmpInlineExpl = document.createElement('span');
                    $(tmpInlineExpl).addClass('inline-explanation');
                    $(tmpInlineExpl).attr('id', $(this).attr('id') + '-expl');
                    $(targetEl).append($(tmpInlineExpl));

                    return $(tmpInlineExpl);
                };

                responses.each(function () {
                    var responseType = $(this).attr('answertype');
                    if (responseType == "multiplechoiceresponse") {
                        var choices = $(this).find('choice');
                        choices.each(function () {
                            var choiceInput = $('#' + $(this).attr('id'));
                            //console.log(choiceInput.length);
                            var choiceLabel = $('#' + $(this).attr('id')).closest('label');
                            //console.log(choiceLabel.length);
                            //console.log($(choiceLabel).find('.inline-explanation').length);
                            var inlineExpl = $(choiceLabel).find('.inline-explanation');
                            if (inlineExpl.length == 0) { 
                                inlineExpl = createInlineExp($(choiceLabel));
                            }
                            //console.log(inlineExpl);
                            if ($(this).attr('correct') && $(this).attr('correct') == 'true') {
                                $(inlineExpl).addClass('correct');
                            }
                            $(inlineExpl).append($(this).find('explanation').text());
                        });
                    } else {
                        var inputName = $(this).attr('name');
                        var correctVal = $(this).text();
                        var inputEl = $('input[name|="' + inputName + '"]');
                        if (typeof userData[inputName] != "undefined" && ($.trim(userData[inputName]) == $.trim(String(correctVal)))) {
                            $(inputEl).after('<span class="inline-explanation correct">Correct</span>'); 
                        } else {
                            $(inputEl).after('<span class="inline-explanation incorrect">Incorrect</span>'); 
                        }
                    }
                });

                var explArea = $('#' + assocQID + '-expl');
                if (explArea.length == 0) {
                    explArea = document.createElement('div');
                    $(explArea).attr('id', assocQID + '-expl');
                    $(explArea).addClass('explanation');
                }
                $(explArea).empty();
                $('#' + assocQID + ' .quick-check').before($(explArea));
                $(mySolution).children().each(function () {
                    if ($(this).text() == 'Explanation') {
                        $(explArea).append('<h4>' + $(this).text() + '</h4>');
                    } else {
                        $(explArea).append($(this));
                    }
                });

                $('#' + checkBtnID).attr('value','Hide Answers');
            };

            var getAndClearExplArea = function () {
                var target = $('#' + assocQID + '-expl');
                if (target.length == 0) {
                    target = document.createElement('div');
                    $(target).attr('id', assocQID + '-expl');
                    $(target).addClass('explanation');
                }
                $(target).empty();
                $('#' + assocQID + ' .quick-check').before($(target));
                return target
            }

            var HTMLAnswerSuccess  = function (data, msg, xhr) {
                var explArea = getAndClearExplArea();
                var responseData = $.parseJSON(data);
                if (responseData == "ERROR") {
                    $(explArea).append("There was a data error with this question, contact the course staff for help.");
                    return;
                }
                $(explArea).append(responseData.feedback[0].explanation);
            };

            var HTMLAnswerError = function (jqXHR, textStatus, errorThrown) {
                var explArea = getAndClearExplArea();
                $(explArea).append("There was an error contacting the grader service, try again later.");
                if (textStatus != "null") {
                    $(explArea).append("   (" + textStatus + ")");
                }
                return;
            };

            if (__exam_type == "interactive_exercise") {
                feedback_url = "{% url 'courses.exams.views.interactive_exercise_feedback' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}" + "?id=" + assocQID;
                var postData = {
                    'grader_name':   $('#GraderName').text(),
                    'select_dict':   '',
                    'student_input': $('#' + assocQID).find('textarea').val(),
                    'params': {
                      'qnum': $('#' + assocQID).data('qnum')
                    }
                };
                $.ajax({
                    url: feedback_url,
                    type: "post",
                    data: postData,
                    success: HTMLAnswerSuccess,
                    error: HTMLAnswerError
                });
            } else {
                $.post("{% url 'courses.exams.views.show_quick_check' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}", 
                    {'user-answer-data': JSON.stringify(collectUserAnswers())}, 
                    function (data, message, xhr) {displayMetaData(data, collectUserAnswers());});
            }

        };
                      
        $('.question').each(function (idx, el) {
            var tmpBtn = document.createElement('input');
            $(tmpBtn).attr('type','button');
            $(tmpBtn).attr('id','quickCheck_' + idx);
            $(tmpBtn).addClass('btn').addClass('quick-check');
            $(tmpBtn).attr('value', 'Check Answers');
            $(this).append($(tmpBtn));
        });

        $('.quick-check').click(quickCheck);
        {% endif %}
    {% endif %}

    {% if exam.html_content != "" and "/videos" not in request.path %} {# not viewing in a video context #}
        {% if exam.exam_type == "survey" %}
            SUBMISSION_RETURN_URL="{% url exam.list_view common_page_data.course.prefix common_page_data.course.suffix %}";
        {% else %}
            {% if exam.autograde %}
            var SUBMISSION_RETURN_URL = "{% url exam.graded_view common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";
            {% else %}
            var SUBMISSION_RETURN_URL = "{% url exam.my_submissions_view common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";
            {% endif %}
        {% endif %}
    {% elif "/videos" in request.path %}{# viewing in a video context, return to Video list #}
        var SUBMISSION_RETURN_URL = "{% url 'courses.videos.views.list' common_page_data.course.prefix common_page_data.course.suffix %}";
    {% else %}
        var SUBMISSION_RETURN_URL = "";
    {% endif %}
                      

    {% if not exam.autograde and not exam.exam_type == "survey" %}
    // Add link that just takes you back to submission list without submitting form again
        var returnToListCont = document.createElement('p');
        $(returnToListCont).addClass('useful-info');

                    
        var returnToListLink = document.createElement('a');
        $(returnToListLink).attr('id', 'returnToListLink');
        $(returnToListLink).attr('href', SUBMISSION_RETURN_URL);
        $(returnToListLink).attr('title', 'Click to return to the submissions list without submitting this form');
        $(returnToListLink).text('View Previous Submissions (Without Submitting Form)');
        $(returnToListLink).mouseover(function (ev) {
            $(userNote).show();
        }).mouseout(function (ev) {
            $(userNote).hide();
        });

            
        var submitBtn = $('input[type|="submit"]').not('#login_button');
        submitBtn.after($(returnToListCont));
        $(returnToListCont).append($(returnToListLink));
        if (!submitBtn.hasClass('btn')) {
            submitBtn.addClass('btn btn-spaced');
        }

        var userNote = document.createElement('em');
        $(userNote).addClass('userNote');
        $(userNote).text('Note: Leaving this page without submitting form will cause you to lose changes');
        $(returnToListLink).after($(userNote));
        $(userNote).hide();
    {% endif %}
    $('#nojswarn').remove();
                      
    var allFieldsets = $('fieldset');
                      
    window.repopulateForm = function (jsonStr) {
        // first wipe all inputs
        $('input[type|="text"]').val('');
        //$('textarea').text('');
        $('input[type|="checkbox"]').removeAttr('checked');
        $('input[type|="radio"]').removeAttr('checked');

        // just wiped all data 
        if (!jsonStr) {
            return;
        }

        // all keys will be form input names as strings
        var dataObj = JSON.parse(jsonStr);

        // iterate through named form inputs
        for (member in dataObj) {
            
            if ($.type(dataObj[member]) == "object") {
                // it's a text input/textarea
                $('input[name|=' + member + ']').val(dataObj[member].value);
                $('textarea[name|=' + member + ']').val(dataObj[member].value);
                if (scores.hasOwnProperty(member)) {
                      //Label the input with the score
                      $('input[name|=' + member + ']').before("<b style='color:red'> " + scores[member]+" </b> ");
                };
                
            } else {
                if (scores.hasOwnProperty(member)) {
                      //Label the closet div enclosing the choices with the score (probably want fieldset instead)
                      $('input[name|=' + member + ']').first().closest('fieldset').before("<b style='color:red'> " + scores[member]+" </b> ");
                }
                // it's multiple choice, therefore an array
                $('input[name|=' + member + ']').removeAttr('checked');
                      
                var selectedValues = $.map(dataObj[member], function(val, idex) {
                                           return 'input[value="' + val.value + '"]';
                                           });
                      
                      //check all inputs
                var selector =  selectedValues.join(",");
                      
                      //console.log('input[name|=' + member + ']');
                      //console.log(selector);
                $('input[name|=' + member + ']').filter(selector).attr('checked','checked');

            } 

        }

        var enabled = ('{{editable}}' == 'True') ? true : false;
        if (!enabled) {
            // disable all inputs
            $('#main-content input').attr('disabled','disabled');
            $('#main-content textarea').attr('disabled','disabled');

            // hide submit button
            var submitBtn = $('input[type|="submit"]').not('#login_button');
            submitBtn.addClass('btn btn-spaced');
            submitBtn.hide();

            // Add a "re-enable inputs" button
            var reEnableBtn = document.createElement('input');
            $(reEnableBtn).attr('id', 'reEnableForm');
            $(reEnableBtn).attr('type', 'button');
            $(reEnableBtn).attr('title', 'Click to re-enable answers for re-submission of this exam');
            $(reEnableBtn).addClass('btn btn-spaced');
            $(reEnableBtn).val('Click to Re-Enable Answers');
            submitBtn.before($(reEnableBtn));
            $(reEnableBtn).click(function (ev) {
                $('input').removeAttr('disabled');
                $('textarea').removeAttr('disabled');
                submitBtn.show();
            });
        }
    };

    window.displayQuestionExplanation = function(questionMD){
        //This function takes a DOM object of the metadata and displays the question explanation after the
        //question with the corresponding id
        var mySolution = $(questionMD).find('solution');
        var assocQID = $(questionMD).attr('id');
        var explArea = $('#' + assocQID + '-expl');
        if (explArea.length == 0) {
            explArea = document.createElement('div');
            $(explArea).attr('id', assocQID + '-expl');
            $(explArea).addClass('explanation');
        }
        $(explArea).empty();
        $(explArea).append("<h4>Explanation</h4>");
        $(mySolution).contents().each(function(){
            //nodeName according to DOM spec:  http://www.w3.org/TR/REC-DOM-Level-1/level-one-core.html
            if (this.nodeName=="#cdata-section" || this.nodeName=="#text") {
                $(explArea).append($(this).text());
            }
            else { //for DOM nodes that are elements
                $(explArea).append($(this).clone());
            }
        });
        $('div.question#' + assocQID ).append($(explArea));
    };

    window.displayChoiceExplanations = function(questionMD) {
        //This function takes a DOM object of the metadata and displays the choice explanations
        //for question with the corresponding id, if that question is multiple choice
                      
        var createInlineExp = function (targetEl) {
            var tmpInlineExpl = document.createElement('span');
            $(tmpInlineExpl).addClass('inline-explanation');
            $(tmpInlineExpl).attr('id', $(this).attr('id') + '-expl');
            $(targetEl).append($(tmpInlineExpl));

            return $(tmpInlineExpl);
        };
                      
        var responses = $(questionMD).find('response');
        responses.each(function () {
            var responseType = $(this).attr('answertype');
            if (responseType == "multiplechoiceresponse") {
                var choices = $(this).find('choice');
                var response = this;
                choices.each(function () {
                    var choiceInput = $('input[name|="' + $(response).attr('name') + '"]')
                                      .filter('input[value|="' + $(this).attr('value') + '"]');
                    if(choiceInput.attr('checked')){
                        var choiceLabel = $(choiceInput).closest('label');
                        //console.log(choiceLabel.length);
                        //console.log($(choiceLabel).find('.inline-explanation').length);
                        var inlineExpl = $(choiceLabel).find('.inline-explanation');
                        if (inlineExpl.length == 0) {
                            inlineExpl = createInlineExp($(choiceLabel));
                        }
                        //console.log(inlineExpl);
                        if ($(this).attr('correct') && $(this).attr('correct') == 'true') {
                            $(inlineExpl).addClass('correct');
                        }
                        $(inlineExpl).append($(this).find('explanation').text());
                    }
                });
        }});
        
    };

    window.showCorrections = function (correxObj) {
        //This function marks the user answer correct or wrong and then
        //shows the question level explainations as well as relevant choice-level explanations
                      
        for (member in correxObj) {
            if (member != "__metadata__") {
                var has_choices=true;
                var formEl = $('input[name|="' + member + '"]');
                if (formEl.length == 0)
                    formEl = $('textarea[name|="' + member + '"]');

                if ($(formEl).attr('type') == 'checkbox' ||
                    $(formEl).attr('type') == 'radio') {
                    var curq = correxObj[member];
                    for (correctChoice in curq.correct_choices) {
                        $(formEl).filter('input[value|="' + correctChoice + '"]')
                                .after('<span class="correct"> Yes! </span>');
                    }
                    for (wrongChoice in curq.wrong_choices) {
                      //if (curq.wrong_choices[wrongChoice] == "fn")
                      //      $(formEl).filter('input[value|="' + wrongChoice + '"]')
                      //          .after('<span class="incorrect"> Should be selected. </span>');
                      //else
                        if (curq.wrong_choices[wrongChoice] == "fp")
                            $(formEl).filter('input[value|="' + wrongChoice + '"]')
                                .after('<span class="incorrect"> No. </span>');
                    }
                }
                else {
                    if (correxObj[member].correct == true) {
                        $(formEl).after('<span class="correct"> Yes! </span>');
                    } else {
                        $(formEl).after('<span class="incorrect"> No. </span>');
                    }
                }
            }
        }
                      
        var myXML = $.parseXML(correxObj["__metadata__"]);
        console.log(myXML);
        var examMD = $(myXML).find('exam_metadata');
        var questionMD = $(examMD).find('question_metadata');
        $(questionMD).each(function(){displayQuestionExplanation(this);
                         displayChoiceExplanations(this);});

    };

    {% if exam.exam_type == "survey" %}
    allFieldsets.each(function() {
        if ($(this).attr('shuffle')) {
            var tmpChoices = $(this).find('label');
            var tmpChoicesCopy = tmpChoices.slice(0); // make copy of jQuery array to manipulate
            $(this).empty();

            while (tmpChoicesCopy.length) {
            var randIdx = Math.floor(Math.random() * tmpChoicesCopy.length);
            var choice = tmpChoicesCopy.splice(randIdx, 1);
            $(this).append(choice);
            }
        }
    });
  {% endif %}
                      
    $('input[type=submit]').not('#login_button').click(function () {
        var userSelections = {};
        $('#exam-pane input').each(function () {
            var name = $(this).attr('name');
            var key = (name != undefined) ? name.trim() : "";
                    
            if (($(this).attr('type') == 'checkbox' || $(this).attr('type') == 'radio') && $(this).get(0).checked == true) {
                if (!userSelections[key]) {
                    userSelections[key] = [];
                }
                //console.log(userSelections);
                var tmpObj = {};
                tmpObj.value = $(this).attr('value');
                $(this).parent().find('span').remove();
                tmpObj.associatedText = $(this).parent().text();
                tmpObj.report = $(this).attr('data-report');
                tmpObj.questionreport = $(this).closest('fieldset').attr('data-report');

                userSelections[key].push(tmpObj);
            } else if (($(this).attr('type') == 'text') && $(this).val() != "") {
                var tmpObj = {};
                tmpObj.value = $(this).val();
                tmpObj.report = $(this).attr('data-report');
                tmpObj.questionreport = $(this).attr('data-report');
                        
                userSelections[key] = tmpObj;
            }
        });
        $('textarea').each(function () {
                           
            var name = $(this).attr('name');
            var key = (name != undefined) ? name.trim() : "";
                           
            if ($(this).val() != "") {
                var tmpObj = {};
                tmpObj.value = $(this).val();
                tmpObj.report = $(this).attr('data-report');
                tmpObj.questionreport = $(this).attr('data-report');
               
                userSelections[key] = tmpObj;
            }
        });

        window.myData = JSON.stringify(userSelections);

        var examXHR = $.post("{% url 'courses.exams.views.collect_data' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}",
               {   csrfmiddlewaretoken: "{{ csrf_token }}",
                   json_data:JSON.stringify(userSelections),
                   onpage:$(location).attr('href')
               }
        );

        function getDialog() {
            var dialogDiv = $('#dialog-message');
            if (dialogDiv.length == 0) {
                dialogDiv = document.createElement('div');
                $(dialogDiv).attr('id', 'dialog-message');
                $(dialogDiv).append('<p></p>');
                $(document).append($(dialogDiv));
            }
            return dialogDiv;
        }

        examXHR.success(function (evt, xhr, settings) {
            if (__autograde) {
                document.location = settings.responseText;
            }
            else {
                var dialogDiv = getDialog();
                var message = "";
                var confirmText = "OK";

                if (__exam_type == "exam")
                    { message = "Your submission has been saved.  \nPlease check back after {{exam.due_date|date:'D M d Y'}} for your score.";
                      confirmText = "See My Submissions"; }
                else if (__exam_type == "survey")
                    { message = "Thanks!"; }
                            
                $(dialogDiv).find('p').text(message);
                        
                var buttonObj = {};
                buttonObj[confirmText]=function() {
                            document.location = SUBMISSION_RETURN_URL;};

                $(dialogDiv).dialog({ modal: true,
                                    buttons: buttonObj});
                
            }
        });

        examXHR.error(function(xhr, status, msg) {
            var dialogDiv = getDialog();
            $(dialogDiv).find('p').text(msg+": "+xhr.responseText.substr(0,99));
            $(dialogDiv).dialog({modal: true});
        });

    });
                      
    // Make sure pre-pop is in a properly-escaped string 
    var prePopData = JSON.stringify({% autoescape off %}{{json_pre_pop}}{% endautoescape %});

    {% if json_pre_pop_correx %}
    var prePopCorrex = JSON.parse('{{json_pre_pop_correx|escapejs}}');
    {% endif %}
    //alert(prePopCorrex);
    var scores = JSON.parse('{{scores|escapejs}}');
                      
    if (prePopData != '') {
        window.repopulateForm(prePopData);
    }
                      
    {% if json_pre_pop_correx %}
    if (prePopCorrex && typeof prePopCorrex != "undefined" && prePopCorrex != "" && prePopCorrex != 'None' && prePopCorrex != null) {
        window.showCorrections(prePopCorrex);
    }
    {% endif %}


    {% if common_page_data.course.mode == "ready" and exam.past_all_deadlines or not allow_submit or too_many_attempts  %}{# 'not's > 'and's > 'or's #}
    $('input[type|="submit"]').not('#login_button').attr('disabled','disabled');
    $("#reEnableForm").remove();
    $('#main-content input').not('.question-nav').attr('disabled','disabled');
    $('#main-content textarea').attr('disabled','disabled');

                      
    {% endif %}
                      
    });
    
</script>
{% if videotest %}
<script>
        var videoURL = 'http://www.youtube.com/embed/{% if video.mode == 'draft' %}{{video.url}}{% else %}{{video.image.url}}{% endif %}?autoplay=0&wmode=transparent&fs=0&rel=0&modestbranding=1&showinfo=0&start=0&enablejsapi=1&disablekb=1&amp;';
        var thumbnailPath = "http://{{common_page_data.aws_storage_bucket_name}}.s3-website-us-west-2.amazonaws.com/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/videos/{% if video.mode == 'draft' %}{{video.id}}{% else %}{{video.image.id}}{% endif %}/jpegs/";

        // questionTimes from parsed XML metadata 
        var questionTimes = JSON.parse('{{question_times|escapejs}}');
{% include 'exams/videotest.js' %}
{% if not video.url %}
    $('#demoplayer').hide();
    $('.question').eq(0).show();
    $('#exam-pane').fadeTo("slow", 1.0);
{% endif %} 
</script>
{% endif %}
{% endblock addl_scripts %}
