{% extends "course_base.html" %}
{% load url from future %}
{% load listtest %}
{% block m_column_content %}
{% for sub in my_subs %}
<p>
<h4>{{sub.time_created}}</h4>
    {% for prob, data in sub.json_obj.iteritems %}
On question {{prob}}, you answered
         {% if data|islist %}{# Custom template tag to test if object is a list #}
             {% for i in data %}
                 {{i.associatedText}},
             {% endfor %}
         {% else %}
             {{ data }}
         {% endif %}
    <br />
    {% endfor %}
</p>
{% endfor %}

{% endblock m_column_content %}
