{% extends "course_base.html" %}
{% load url from future %}
{% load listtest %}
{% block course_page_title %}Submissions on {{exam.title}}{% endblock course_page_title %}

{% block exam_link_class %}
{% if "exam" in exam.exam_type and not videotest %}class="active"{% endif %}
{% endblock exam_link_class %}

{% block m_column_content %}
{% for sub in my_subs %}
<form method="post" action="snapshot" name="sub_{{sub.id}}">
{% if forloop.first %}
<div id="graded_sub" class="well well-small">
    <h3>Graded submission:  {% if score %} Score: {{score}} {% endif %}
    </h3>
{% else %}
<div class="muted">
{% endif %}
<p>
<h4>{{sub.time_created}} :</h4>
  {% if sub.json_obj == "__ERROR__" and sub.plain_json_obj == "__ERROR__" %}
    <div class="alert alert-error">We're sorry, there was an error decoding this submission. If this is the graded submission you'll need to retake the exam or restore from a previous submission. </div>
  {% else %}
    {% for prob, data in sub.json_obj %}
      {% if data|islist and data.0.questionTag4humans %}
        On question {{prob}} ({{data.0.questionTag4humans}}), you answered:
      {% else %}
        On question {{prob}} ({{data.questionTag4humans}}), you answered:
      {% endif %}
         {% if data|islist %}{# Custom template tag to test if object is a list #}
             {% for i in data %}
                 {{i.associatedText}},
             {% endfor %}
         {% else %}
             {{ data.value }}
         {% endif %}
    <span id="{{prob}}_score"></span>
    <br />
    {% endfor %}
  {% endif %}
  <div id="addl_scores"></div>
</p>
    
    
<input type="hidden" name="json-pre-pop" value="{{sub.plain_json_obj}}" />
<input type="hidden" name="json-pre-pop-correx" value="{{sub.json_score_data}}" />
{% if forloop.first %}
    <input type="hidden" name="latest" value="True" />
    <input type="hidden" name="scores" value="{{score_fields}}" />
{% endif %}
  {% if sub.json_obj != "__ERROR__" or sub.plain_json_obj != "__ERROR__" %}
     <input type="submit" name="pre-pop-submit" id="pre-pop-submit" value="See exam form with this submission" />
  {% endif %}
{% csrf_token %}
</div>
</form>
{% endfor %}
<a class="btn" href="{% url 'exam_list' common_page_data.course.prefix common_page_data.course.suffix %}">Back to exams</a>
{% endblock m_column_content %}

{% block addl_scripts %}

<script>
   var scores = JSON.parse('{{ score_fields|escapejs }}')
   $(function(){
     for (key in scores) {
         if ($('#graded_sub #'+key+'_score').length) {
            $('#graded_sub #'+key+'_score').append(" =>  <b style='color:red'>" + scores[key] + "</b>");
         }
         else {
            $('#graded_sub #addl_scores').append("Additional score_id " + key + " =>  <b style='color:red'>" + scores[key] + "</b>" + "<br />");
         }
     }
   });
</script>

{% endblock addl_scripts %}
