{% extends "course_base.html" %}
{% load url from future %}

{% block title %}{% if not videotest %}{{ exam.title }}{% else %}{{ video.title }}{% endif %} | Stanford Online{% endblock %}

{% block course_page_title %}{% if not videotest %}{{ exam.title }}{% else %}{{ video.title }}{% endif %}{% endblock course_page_title %}

{% block exam_link_class %}
{% if "exam" in exam.exam_type and not videotest %}class="active"{% endif %}
{% endblock exam_link_class %}

{% block problemsets_link_class %}
{% if "problemset" in exam.exam_type and not videotest %}class="active"{% endif %}
{% endblock problemsets_link_class %}

{% block survey_link_class %}
{% if "survey" in exam.exam_type and not videotest %}class="active"{% endif %}
{% endblock survey_link_class %}

{% block interactive_exercise_link_class %}
{% if "interactive_exercise" in exam.exam_type and not videotest %}class="active"{% endif %}
{% endblock interactive_exercise_link_class %}

{% block videos_link_class %}
{% if videotest %}class="active"{% endif %}
{% endblock videos_link_class %}

{% block l_column_content %}
 <div id="c2g_layout_l_column" class="span3">
     <!--Skeleton Div to be filled in by leftnav ajax -->
 </div>
{% endblock l_column_content %}

{% block addl_head_scripts %}
    {% if exam.load_mathjax %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                       tex2jax: {inlineMath: [['$$','$$']],
                                 displayMath: [['\\[','\\]']]}
                       });
    </script>
        {% if request.is_secure %}
            <script type="text/javascript"
                src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
                </script>
        {% else %}
            <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
                </script>

        {% endif %}
    {% endif %}
{% endblock addl_head_scripts %}

{% block m_column_content %}
<div id="c2g_layout_m_column" class="span9">
<div class="alert alert-error" id="nojswarn">
You don't have Javascript enabled or jQuery was not loaded.  This page won't work!  Please re-enable Javascript.
</div>
{% autoescape off %}

{% if common_page_data.course.mode == "ready" and not exam.is_live %}

    This exam will go live on {{ exam.live_datetime }} PST.

    <br />
    <a href="{% url exam.list_view common_page_data.course.prefix common_page_data.course.suffix %}">Return to {{exam.get_human_type}} list.</a>

{% elif too_recent %}
    
    <h3>You've completed this activity (or one of its variants) too recently ({{last_record.last_updated}}).
        There must be a {{exam.minutes_btw_attempts}} minute wait after that time.</h3>

    <br />
    <a href="{% url exam.list_view common_page_data.course.prefix common_page_data.course.suffix %}">Return to {{exam.get_human_type}} list.</a>

{% else %}

    <style>
    #exam-pane label {clear: both; display: block;}
    #exam-pane label input {float: left; margin-right: 1em;}
    #exam-pane  p {clear: both; display: block; padding: 0 0 1em;}
    h3 {clear:both;}
    div.question, div.subquestion {float:left; width:95%; position:relative;}
    div.problem, div.problem {float:left; width:95%; position:relative;}
    #problemset-nav {float: left; padding: 0 0 1em 0; }
    #next-question {float: right;}
    #prev-question {float: left;}
    label pre {margin-left:30px;}

    .explanation {background: #fff; border: 1px solid black; border-radius: 3px; clear: both; margin: 1em; padding: 1em;}
    .explanation .toggle-expl {cursor: pointer;}
    #exam-pane .explanation p {margin: 0; padding: 0 0 1em;}
    #exam-pane fieldset label {position: relative;}
    #exam-pane .inline-explanation {background-color: #ffc; border-radius: 3px; color: #900; font-size: 90%; margin-left: 10px; padding: 2px;}
    #exam-pane .correct {color: #090;}
    #saveWorkBtn {margin-right: .5em;}

    #exam-pane {float: left; position: relative; width: 100%;}
    #exam-pane .exam-navigation {padding: 2px 0; width: 100%;}
    #exam-pane .exam-navigation .btn {margin-right: .5em;}
    div.question textarea { width:70%; height:100px; }
    div.question .per-question-btns {border: 2px solid #ddcf99; border-radius: 4px; float: left; margin: 1em 0; padding: 5px; }
    div.question .per-question-btns input {float: left;}
    div.preamble {margin-bottom: 2em; }
    div.postamble {margin-top: 2em; }

    .questionNumLabelDiv {
        position: absolute;
        left: 0px;
        top: -10px;
        width: 97%;
        text-align: center;
    }
    .questionNumLabel {
        background: white;
        padding: 2px;
        border: 1px solid #DDCF99;
        font-size: 14px;
    }
        
    .correct {color: #090;}
    .incorrect {color: #900;}
    </style>

    {% if videotest %}

    <style>
    {% include 'exams/videotest.css' %}
    #exam-pane {float: left; position: relative; display: none; width: 800px;}
    /* #exam-pane .continue-video-btn, #exam-pane #submit-button {position: absolute; bottom: 3em; right: 1.5em;} */
    #exam-pane .continue-video-btn, #exam-pane #submit-button {float: right; margin-right: 2px;}
    #problemset-nav {display: none;}
    </style>

    {% endif %}

    {% if common_page_data.course.mode == "ready" and exam.past_all_deadlines %}

       <h3>This exam was closed on {{ exam.partial_credit_deadline }} PST.  Submissions are disabled. </h3>
    
    
    {% elif too_many_attempts %}
    
        <h3>You've made too many attempts. Submissions are disabled.</h3>

    {% endif %}

    {% if score %}
    <h4><b style="color:red">Score: {{score}}/{{exam.total_score}}</b></h4>
    {% endif %}

    {% if raw_score %}
    <h4><b style="color:red">Raw Score (without late or resubmission penalties): {{raw_score}}</b></h4>
    {% endif %}


    <noscript>
    <div class="alert alert-error">Your browser does not have JavaScript enabled. Please enable it before taking this exam</div>
    </noscript>

    <div id="exam-pane"{% if not single_question %} class="summative"{% endif %}>
        <form>
        {{ exam.html_content }}
        </form>

        <div class="exam-navigation">
            {% if single_question %}
            {% comment %} Only for formative/one-question-at-a-time {% endcomment %}
            <div id="problemset-nav">
                <input type="button" id="next-question" class="btn question-nav" value="Next Question" />
                <input type="button" id="prev-question" class="btn question-nav" value="Previous Question" />
            </div>
            {% endif %}

            {% comment %}
            {##% if not videotest %} 
                {##% comment %} Regular exam/problem set submit button, when no video is present {##% endcomment %}
                <input class="btn" type="submit" value="Submit" />
            {##% elif exam.exam_type == "survey" and exam.invideo %}
                {##% comment %} Only for in-video surveys, provide special-cased submit button {##% endcomment %}
                <input class="btn" id="survey-submit" type="submit" value="Submit" />
            {##% endif %}
            {% endcomment %}
            <input class="btn" id="submit-button" type="submit" value="Submit Answers" />
        </div>


    </div> <!-- END #exam-pane -->
    {% if videotest %}
        <div id="demoplayer"></div>
        <div id="slideIndex"></div>
        {% include "content_groups/video_additional_content_style.html" %}
    {% endif %}

{% endif %}

{% endautoescape %}
</div>
{% endblock m_column_content %}

{% block addl_scripts %}
    {% if videotest %}
     <script src="{{STATIC_URL}}js/popcorn/popcorn-ie8.min.js"></script>
    {% endif %}
<script>
    var __exam_type = "{{exam.exam_type}}";
    var __autograde = {% if exam.autograde %}true{% else %}false{% endif %};

    
    /* Do all the stuff below when page loads (~700 lines!) */
    $(document).ready(function () {
                      
        {% if videotest %}

        $("#c2g_layout_l_column").load("{% url 'courses.views.leftnav' common_page_data.course_prefix common_page_data.course_suffix  %}",
                function() {
                    c2g.installLeftNavChevron();
                    $("#sidebar-nav-heading-{{ ready_section.id }}").removeClass("collapsed").addClass("expanded");
                    $("#sidebar-nav-{{ ready_section.id }}").addClass("in");
                    $("#leftnav-li-video-{{ video.slug}}").addClass("current");
                }
        );
                      
        {% else %}
                      
        $("#c2g_layout_l_column").load("{% url 'courses.views.leftnav' common_page_data.course_prefix common_page_data.course_suffix  %}",
                 function() {
                    c2g.installLeftNavChevron();
                    $("#sidebar-nav-heading-{{ ready_section.id }}").removeClass("collapsed").addClass("expanded");
                    $("#sidebar-nav-{{ ready_section.id }}").addClass("in");
                    $("#leftnav-li-exam-{{ slug_for_leftnav }}").addClass("current");
                }
        );
        
        {% endif %}
                      
                      
        /********** Add ordinal numbering if it doesn't already exist *********/
        var addNumberToQuestionDiv = function(elem, num) {
            var numberingDiv = $(elem).find('h3.questionNumber');
            if (numberingDiv.length == 0){
              $(elem).prepend('<h3 class="questionNumber">Question ' + num +'</h3>');
            }
        };
        var addQuestionDivLabel = function(elem, num, total) {
            $(elem).prepend('<div class="questionNumLabelDiv"><span class="questionNumLabel">' +
                            num + ' of ' + total +
                            '</span></div>');
        };
        var psetQuestions = $('div.question');
        if (psetQuestions.length > 1) {
            var qQumx = 1;
            $(psetQuestions).each(function () {
                                       addNumberToQuestionDiv(this, qQumx);
                                       addQuestionDivLabel(this, qQumx, psetQuestions.length);
                                       qQumx = qQumx + 1;}
            );
        }
                      
        /************************** end ordinal *******************************/
                      

        window.collectUserAnswers = function (inputCollection) {
            var returnObj = {};
            var userSelections = {};
            var uniqueFormElements = {}; // object of named form elements
            var totalUniqueFormEls = 0;
            $(inputCollection).each(function () {
                var name = $(this).attr('name');
                var key = (name != undefined) ? name.trim() : "";
                // keep track of number of inputs with same name
                // for possible later use 
                if (key != "" && uniqueFormElements[key] == undefined) {
                    uniqueFormElements[key] = 1;
                    totalUniqueFormEls += 1;
                } else {
                    uniqueFormElements[key] += 1;
                }
                if (($(this).prop('type') == 'checkbox' || $(this).prop('type') == 'radio')
                     && $(this).get(0).checked == true) {
                    var tmpObj = {};
                    if (!userSelections[key]) {
                        userSelections[key] = [];
                    }
                    tmpObj.value = $(this).attr('value');
                    tmpObj.associatedText = $(this).parent().text().trim().substr(0,40);
                    tmpObj.report = $(this).attr('data-report');
                    if ($(this).closest('fieldset').length > 0) {
                        //inputs enclosed by a <fieldset>, use its data-report attr
                        tmpObj.questionreport = $(this).closest('fieldset').attr('data-report');
                    } else if ($(this).closest('tr').length > 0) {
                        //else if it's enclosed by a <tr>, check that elem for the data-report attr
                        tmpObj.questionreport = $(this).closest('tr').attr('data-report');
                    }
                    userSelections[key].push(tmpObj);
                } else if (($(this).prop('type') == 'text' || $(this).prop('type') == 'textarea')
                     && $(this).val() != "") {
                    var tmpObj = {};
                    tmpObj.value = $(this).val();
                    tmpObj.associatedText = $(this).parent().text().trim().substr(0,40);
                    tmpObj.report = $(this).attr('data-report');
                    tmpObj.questionreport = $(this).closest('.question').attr('data-report');
                    userSelections[key]=tmpObj;
                }
            });

            returnObj.userSelections = userSelections;
            returnObj.uniqueFormElements = uniqueFormElements;

            var userSelLength = 0;
            for (el in userSelections) {
                userSelLength += 1;
            }

            returnObj.userSelLength = userSelLength;
            returnObj.answeredAll = (userSelLength == totalUniqueFormEls);

            return returnObj;

        };

        // Need toggleExplanation in single question format and when summative exams are submitted
        // i.e. submission summary/record page needs to have toggle-able explanation
        var toggleExplanation = function () {
            var assocQ = $(this).closest('.question');

            $(assocQ).find('.explanation').toggle();
            
            if ($(this).attr('data-status') == 'Show' && $(assocQ).find('.explanation').css('display') == 'block') {
                $(this).attr('data-status', 'Hide');
                $(this).val('Hide Explanation');
            } else {
                $(this).attr('data-status', 'Show');
                $(this).val('Show Explanation');
            } 
    
        }; 
                      
    {% if single_question %}
        $('.question').not(':first').hide();
        $('#prev-question').attr('disabled', 'disabled');

        // Don't show Prev/Next question buttons when only one problem
        if ($('.question').length == 1) {
            $('#problemset-nav').hide();
        }

        var localQuestionIdx = 0;

        var adjustQuestionIdx = function (newIdx) {
            // right now, just accept neg number as moving back 1,
            // pos number moving forward 1 (i.e. no increments > 1 allowed)
            if (newIdx > 0) {
                localQuestionIdx += 1;
            } else if (newIdx < 0) {
                localQuestionIdx -= 1;
            }

            if (localQuestionIdx >= ($('.question').length - 1)) {
                // no longer cycle through; stop at last question
                $('#next-question').attr('disabled', 'disabled');
                localQuestionIdx = $('.question').length - 1;
            } else if (localQuestionIdx <= 0) {
                // no longer cycle through; stop at first question
                $('#prev-question').attr('disabled', 'disabled');
                localQuestionIdx = 0;
            } else {
                $('#next-question').removeAttr('disabled');
                $('#prev-question').removeAttr('disabled');
            }

            return localQuestionIdx;
        }

        var showQuestion = function () {
            var newQIdx = localQuestionIdx;
            if ($(this).attr('id') == "next-question" || $(this).attr('value').indexOf('Next') != -1) {
                var newQIdx = adjustQuestionIdx(1);
            } else if ($(this).attr('id') == "prev-question") {
                var newQIdx = adjustQuestionIdx(-1);
            }
            $('.question').hide();
            $('.inline-explanation').remove();
            $('.explanation').remove();
            $('.toggle-explanation').attr('disabled', 'disabled');
            $('.toggle-explanation').attr('data-status', 'Show');
            $('.toggle-explanation').val('Show Explanation');
            $('.question').eq(newQIdx).show();
        };

        $('.question-nav').click(showQuestion);
        

        {% if exam.invideo or exam.exam_type == "interactive_exercise" %}
        {% comment %} Immediate feedback only needed for in-video and interactive exercises {% endcomment %}

        var quickCheck = function () {
            if ($(this).hasClass('quick-check')) {
                $(this).val('Checking...');
            }

            var checkBtnID = $(this).attr('id');
            var assocQ = $(this).closest('.question');
            var assocQID = $(assocQ).attr('id');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    var csrftoken = '{{ csrf_token }}';
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });

            var checkBtn = $(this);
            var getAllUserAnswers = function () {
                var inputCollection = $(checkBtn).closest('.question').find('input,textarea');
                var userAnswersObj = window.collectUserAnswers(inputCollection);
                return userAnswersObj.userSelections;
            };

            var displayMetaData = function (data, userData) {
                //console.log('displayMetaData called');
                //console.log(arguments);
                //console.log(data);
                var myXML = $.parseXML(data);
                var examMD = $(myXML).find('exam_metadata');
                var questionMD = $(examMD).find('question_metadata#' + assocQID);
                var mySolution = $(questionMD).find('solution');
                var responses = $(questionMD).find('response');

                var createInlineExp = function (targetEl) {
                    var tmpInlineExpl = document.createElement('span');
                    $(tmpInlineExpl).addClass('inline-explanation');
                    $(tmpInlineExpl).attr('id', $(this).attr('id') + '-expl');
                    $(targetEl).append($(tmpInlineExpl));

                    return $(tmpInlineExpl);
                };

                responses.each(function () {
                    var responseType = $(this).attr('answertype');
                    if (responseType == "multiplechoiceresponse") {
                        var choices = $(this).find('choice');
                        choices.each(function () {
                            var choiceInput = $('#' + $(this).attr('id'));
                            //console.log(choiceInput.length);
                            var choiceLabel = $('#' + $(this).attr('id')).closest('label');
                            //console.log(choiceLabel.length);
                            //console.log($(choiceLabel).find('.inline-explanation').length);
                            var inlineExpl = $(choiceLabel).find('.inline-explanation');
                            if (inlineExpl.length == 0) { 
                                inlineExpl = createInlineExp($(choiceLabel));
                            }
                            //console.log(inlineExpl);
                            if ($(this).attr('correct') && $(this).attr('correct') == 'true') {
                                $(inlineExpl).addClass('correct');
                            }
                            $(inlineExpl).append($(this).find('explanation').text());
                        });
                    } else {
                        var inputName = $(this).attr('name');
                        var correctVal = $(this).text();
                        var inputEl = $('input[name|="' + inputName + '"]');
                        if (typeof userData[inputName] != "undefined" && ($.trim(userData[inputName]) == $.trim(String(correctVal)))) {
                            $(inputEl).after('<span class="inline-explanation correct">Correct</span>'); 
                        } else {
                            $(inputEl).after('<span class="inline-explanation incorrect">Incorrect</span>'); 
                        }
                    }
                });

                var explArea = $('#' + assocQID + '-expl');
                if (explArea.length == 0) {
                    explArea = document.createElement('div');
                    $(explArea).attr('id', assocQID + '-expl');
                    $(explArea).addClass('explanation');
                }
                $(explArea).empty();
                $('#' + assocQID + ' .quick-check').before($(explArea));
                $(mySolution).children().each(function () {
                    //if ($(this).text() == 'Explanation') {
                    //    $(explArea).append('<h4>' + $(this).text() + '</h4>');
                    //} else {
                        $(explArea).append($(this));
                    //}
                });

                $('#' + checkBtnID).attr('value','Hide Answers');
            };

            var getResultsArea = function () {
                var target = $('#' + assocQID + '-results');
                if (target.length == 0) {
                    target = document.createElement('div');
                    $(target).attr('id', assocQID + '-results');
                    $(target).addClass('interactive-results');
                }
                $(target).empty();
                $(target).show();
                $('#' + assocQID + ' .per-question-btns').before($(target));
                return target;
            }

            // for use in any "Check Answer" exercise
            var resetButtonText = function (buttonId) {
                return function (xhr, status) {
                    $('#' + buttonId).val('Check Answer');
                }
            }

            if (__exam_type == "interactive_exercise") {

                var HTMLAnswerSuccess  = function (data, msg, xhr) {
                    var resultsArea = getResultsArea();
                    var response = $.parseJSON(data);
                    for (var k in response) {
                        if (k != "__metadata__") {
                            $(resultsArea).append(response[k].feedback[0].explanation);
                        }
                    }
                };

                var HTMLAnswerError = function (jqXHR, textStatus, errorThrown) {
                    var resultsArea = getResultsArea();
                    $(resultsArea).append("There was an error contacting the grader service, try again later.");
                    if (textStatus != "null") {
                        $(resultsArea).append("   (" + textStatus + ")");
                    }
                    return;
                };

                feedback_url = "{% url 'courses.exams.views.exam_feedback' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";
                var postData = {'json_data': JSON.stringify(getAllUserAnswers())};
                $.ajax({
                    url: feedback_url,
                    type: "POST",
                    data: postData,
                    success: HTMLAnswerSuccess,
                    error: HTMLAnswerError,
                    complete: resetButtonText($(this).attr('id'))
                });

            } else {    // INVIDEO CASE
                var InvideoFeedbackSuccess = function (data, msg, xhr) {
                    var prePopCorrex = JSON.parse(data);
                    if (prePopCorrex && typeof prePopCorrex != "undefined" && prePopCorrex != "" 
                            && prePopCorrex != 'None' && prePopCorrex != null) {
                        window.showCorrections(prePopCorrex);
                    }
                };

                feedback_url = "{% url 'courses.exams.views.exam_feedback' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";
                var postData = {'json_data': JSON.stringify(getAllUserAnswers())};
                $.ajax({
                    url: feedback_url, 
                    type: "POST",
                    data: postData,
                    success: InvideoFeedbackSuccess,
                    complete: resetButtonText($(this).attr('id'))
                });
            }

            $(this).siblings('.toggle-explanation').removeAttr('disabled');

        };
                      
        $('.question').each(function (idx, el) {

            // append clearing div to question to "fix" weird Check/Hide
            // placement issues  
            var clearingDiv = document.createElement('div');
            $(clearingDiv).addClass('clearing-div');
            $(this).append($(clearingDiv));

            // create div to hold Check/Hide buttons
            var perQButtonDiv = document.createElement('div');
            $(perQButtonDiv).attr('id', 'btns-' + idx);
            $(perQButtonDiv).addClass('per-question-btns');
            $(this).append($(perQButtonDiv));

            // create Check Answers button
            var checkBtn = document.createElement('input');
            $(checkBtn).attr('type','button');
            $(checkBtn).attr('id','quickCheck_' + idx);
            $(checkBtn).addClass('btn').addClass('quick-check');
            if (__exam_type == "interactive_exercise") {
                $(checkBtn).attr('value', 'Check Answer');
            } else {
                $(checkBtn).attr('value', 'Check Answers');
            }
            $(perQButtonDiv).append($(checkBtn));

            // create Show/Hide Explanation button for non-interactive exams
            if (__exam_type != "interactive_exercise") {
                var toggleExplBtn = document.createElement('input');
                $(toggleExplBtn).attr('type','button');
                $(toggleExplBtn).attr('id','toggleExplanation_' + idx);
                $(toggleExplBtn).addClass('btn').addClass('toggle-explanation');
                $(toggleExplBtn).attr('data-status', 'Show');
                $(toggleExplBtn).attr('value', 'Show Explanation');
                $(toggleExplBtn).attr('disabled', 'disabled');
                $(perQButtonDiv).append($(toggleExplBtn));
            }

        });

        $('.quick-check').click(quickCheck);

        $('.toggle-explanation').click(toggleExplanation);
        {% endif %}
    {% endif %}

    {% comment %}
    SUBMISSION_RETURN_URL tells us where to go after user is done with the exam 
    (i.e. Nothing to do with exam rendering) 
    {% endcomment %}
    {% if exam.html_content != "" and "/videos" not in request.path %} {# not viewing in a video context #}
        {% if exam.exam_type == "survey" %}
            SUBMISSION_RETURN_URL="{% url exam.list_view common_page_data.course.prefix common_page_data.course.suffix %}";
        {% else %}
            {% if exam.autograde %}
            var SUBMISSION_RETURN_URL = "{% url exam.graded_view common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";
            {% else %}
            var SUBMISSION_RETURN_URL = "{% url exam.my_submissions_view common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";
            {% endif %}
        {% endif %}
    {% elif "/videos" in request.path %}{# viewing in a video context, return to Video list #}
        var SUBMISSION_RETURN_URL = "{% url 'courses.videos.views.list' common_page_data.course.prefix common_page_data.course.suffix %}";
    {% else %}
        var SUBMISSION_RETURN_URL = "";
    {% endif %}
                      

    {% if not exam.autograde and not exam.exam_type == "survey" %}
    // Add link that just takes you back to submission list without submitting form again
        var returnToListCont = document.createElement('p');
        $(returnToListCont).addClass('useful-info');

                    
        var returnToListLink = document.createElement('a');
        $(returnToListLink).attr('id', 'returnToListLink');
        $(returnToListLink).attr('href', SUBMISSION_RETURN_URL);
        $(returnToListLink).attr('title', 'Click to return to the submissions list without submitting this form');
        $(returnToListLink).text('View Previous Submissions (Without Submitting Form)');
        $(returnToListLink).mouseover(function (ev) {
            $(userNote).show();
        }).mouseout(function (ev) {
            $(userNote).hide();
        });

            
        var submitBtn = $('#submit-button');
        submitBtn.after($(returnToListCont));
        $(returnToListCont).append($(returnToListLink));
        if (!submitBtn.hasClass('btn')) {
            submitBtn.addClass('btn btn-spaced');
        }

        var userNote = document.createElement('em');
        $(userNote).addClass('userNote');
        $(userNote).text('Note: Leaving this page without submitting form will cause you to lose changes');
        $(returnToListLink).after($(userNote));
        $(userNote).hide();
    {% endif %}
                      
    $('#nojswarn').remove();
                      
    /********* Save Work Button (not submitting as complete) ********/
                      
    {% if not videotest and editable %}
    var saveWorkBtn = document.createElement('button');
    $(saveWorkBtn).text('Save Answers')
                  .addClass('btn')
                  .attr('id','saveWorkBtn');
    var submitBtn = $('#submit-button');
    submitBtn.after($(saveWorkBtn));

    $(saveWorkBtn).click(function () {
      var fieldCollection = $('#exam-pane').find('input,textarea');
      var userAnswerObj = window.collectUserAnswers(fieldCollection);
      var userSelections = userAnswerObj.userSelections; 

      window.myData = JSON.stringify(userSelections);

      var saveXHR = $.post("{% url 'courses.exams.views.student_save_progress' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}",
                       {   csrfmiddlewaretoken: "{{ csrf_token }}",
                           json_data:JSON.stringify(userSelections),
                           onpage:$(location).attr('href')
                       });
                       
      saveXHR.error(function(xhr, status, msg) {
                     var dialogDiv = window.getDialog('Error');
                     $(dialogDiv).find('p').text("Your answers could not be saved!  "
                                            + msg + ": "+xhr.responseText.substr(0,99));
                     $(dialogDiv).dialog({ modal: true,
                                           buttons: {'Close':function(){$(this).dialog("close");}}
                                         });
      });

    });


    {% endif %}

                      
    /***************** End Save Work ********************************/
                      
    var allFieldsets = $('fieldset');
                      
    window.repopulateForm = function (jsonStr) {
        // first wipe all inputs
        $('input[type|="text"]').val('');
        //$('textarea').text('');
        $('input[type|="checkbox"]').removeAttr('checked');
        $('input[type|="radio"]').removeAttr('checked');

        // calling repopulateForm without an arg just wipes all data and returns 
        if (!jsonStr) {
            return;
        }

        // all keys will be form input names as strings
        var dataObj = JSON.parse(jsonStr);

        // iterate through named form inputs
        for (member in dataObj) {
            
            if ($.type(dataObj[member]) == "object") {
                // it's a text input/textarea
                $('input[name|=' + member + ']').val(dataObj[member].value);
                $('textarea[name|=' + member + ']').val(dataObj[member].value);
                if (scores.hasOwnProperty(member)) {
                      //Label the input with the score
                      $('input[name|=' + member + ']').before("<b style='color:red'> " + scores[member]+" </b> ");
                };
                
            } else {
                if (scores.hasOwnProperty(member)) {
                      //Label the closet div enclosing the choices with the score (probably want fieldset instead)
                      $('input[name|=' + member + ']').first().closest('fieldset').before("<b style='color:red'> " + scores[member]+" </b> ");
                }
                // it's multiple choice, therefore an array
                $('input[name|=' + member + ']').removeAttr('checked');
                      
                var selectedValues = $.map(dataObj[member], function(val, idex) {
                                           return 'input[value="' + val.value + '"]';
                                           });
                      
                      //check all inputs
                var selector =  selectedValues.join(",");
                      
                      //console.log('input[name|=' + member + ']');
                      //console.log(selector);
                $('input[name|=' + member + ']').filter(selector).attr('checked','checked');

            } 

        }

        var enabled = ('{{editable}}' == 'True') ? true : false;
        if (!enabled) {
            // disable all inputs
            $('#main-content input').attr('disabled','disabled');
            $('#main-content textarea').attr('disabled','disabled');

            // hide submit button
            var submitBtn = $('#submit-button');
            submitBtn.addClass('btn btn-spaced');
            submitBtn.hide();

            // Add a "re-enable inputs" button
            var reEnableBtn = document.createElement('input');
            $(reEnableBtn).attr('id', 'reEnableForm');
            $(reEnableBtn).attr('type', 'button');
            $(reEnableBtn).attr('title', 'Click to re-enable answers for re-submission of this exam');
            $(reEnableBtn).addClass('btn btn-spaced');
            $(reEnableBtn).val('Click to Re-Enable Answers');
            submitBtn.before($(reEnableBtn));
            $(reEnableBtn).click(function (ev) {
                $('input').removeAttr('disabled');
                $('textarea').removeAttr('disabled');
                submitBtn.show();
            });
        }
    };

    window.displayQuestionExplanation = function(questionMD){
        //This function takes a DOM object of the metadata and displays the question explanation after the
        //question with the corresponding id
        var mySolution = $(questionMD).find('solution');
        var assocQID = $(questionMD).attr('id');
        var explArea = $('#' + assocQID + '-expl');
        if (explArea.length == 0) {
            explArea = document.createElement('div');
            $(explArea).attr('id', assocQID + '-expl');
            $(explArea).addClass('explanation');
        }
        $(explArea).empty();
        if ($('#' + assocQID + ' .toggle-explanation').length == 0) {
            var toggleExplBtn = document.createElement('input');
            $(toggleExplBtn).attr('type','button');
            //$(toggleExplBtn).attr('id','toggleExplanation_' + idx);
            $(toggleExplBtn).addClass('btn').addClass('toggle-explanation');
            $(toggleExplBtn).attr('data-status', 'Show');
            $(toggleExplBtn).attr('value', 'Show Explanation');
            $(toggleExplBtn).click(toggleExplanation);
        }
        $(explArea).hide();
        $('#' + assocQID + ' .toggle-explanation').attr('data-status', 'Show');
        $('#' + assocQID + ' .toggle-explanation').val("Show explanation");
        //$(explArea).append("<h4>Explanation</h4>");
        $(mySolution).contents().each(function(){
            //nodeName according to DOM spec:  http://www.w3.org/TR/REC-DOM-Level-1/level-one-core.html
            if (this.nodeName=="#cdata-section" || this.nodeName=="#text") {
                $(explArea).append($(this).text());
            }
            else { //for DOM nodes that are elements
                $(explArea).append($(this).clone());
            }
        });
        $('div.question#' + assocQID ).append($(explArea));
        $(explArea).before('<div class="clearing-div"></div>').before($(toggleExplBtn));
    };

    window.displayChoiceExplanations = function(questionMD) {
        //This function takes a DOM object of the metadata and displays the choice explanations
        //for question with the corresponding id, if that question is multiple choice
                      
        var createInlineExp = function (targetEl) {
            var tmpInlineExpl = document.createElement('span');
            $(tmpInlineExpl).addClass('inline-explanation');
            $(tmpInlineExpl).attr('id', $(targetEl).find('input:first').attr('id') + '-expl');
            $(targetEl).append($(tmpInlineExpl));

            return $(tmpInlineExpl);
        };
                      
        var responses = $(questionMD).find('response');
        responses.each(function () {
            var responseType = $(this).attr('answertype');
            if (responseType == "multiplechoiceresponse") {
                var choices = $(this).find('choice');
                var response = this;
                choices.each(function () {
                    var choiceInput = $('input[name|="' + $(response).attr('name') + '"]')
                                      .filter('input[value|="' + $(this).attr('value') + '"]');
                    if(choiceInput.attr('checked')){
                        var choiceLabel = $(choiceInput).closest('label');
                        //console.log(choiceLabel.length);
                        //console.log($(choiceLabel).find('.inline-explanation').length);
                        var inlineExpl = $(choiceLabel).find('.inline-explanation');
                        if (inlineExpl.length == 0) {
                            inlineExpl = createInlineExp($(choiceLabel));
                        }
                        //console.log(inlineExpl);
                        if ($(this).attr('correct') && $(this).attr('correct') == 'true') {
                            $(inlineExpl).addClass('correct');
                        }
                        $(inlineExpl).empty();
                        $(inlineExpl).append($(this).find('explanation').text());
                    }
                });
        }});
        
    };

    window.showCorrections = function (correxObj) {
        //This function marks the user answer correct or wrong and then
        //shows the question level explanations as well as relevant choice-level explanations
                      
        for (member in correxObj) {
            if (member != "__metadata__") {
                var has_choices=true;
                var formEl = $('input[name|="' + member + '"]');
                if (formEl.length == 0)
                    formEl = $('textarea[name|="' + member + '"]');

                if ($(formEl).attr('type') == 'checkbox' ||
                    $(formEl).attr('type') == 'radio') {
                    var curq = correxObj[member];
                    for (correctChoice in curq.correct_choices) {
                        var rightChoiceObj = $(formEl).filter('input[value|="' + correctChoice + '"]');
                        if (rightChoiceObj.siblings('span.feedback').length == 0) {
                            rightChoiceObj.after('<span class="feedback correct"> &#10004; </span>');
                        } else {
                            rightChoiceObj.siblings('span.feedback').html(' &#10004; ');
                        }
                    }
                    for (wrongChoice in curq.wrong_choices) {
                      //if (curq.wrong_choices[wrongChoice] == "fn")
                      //      $(formEl).filter('input[value|="' + wrongChoice + '"]')
                      //          .after('<span class="feedback incorrect"> Should be selected. </span>');
                      //else
                        if (curq.wrong_choices[wrongChoice] == "fp") {
                            var wrongChoiceObj = $(formEl).filter('input[value|="' + wrongChoice + '"]');
                            if (wrongChoiceObj.siblings('span.feedback').length == 0) {
                                wrongChoiceObj.after('<span class="feedback incorrect"> &#10006; </span>');
                            } else {
                                wrongChoiceObj.siblings('span.feedback').html(' &#10006; ');
                            }
                        }
                    }
                }
                else {
                    if (correxObj[member].correct == true) {
                        if ($(formEl).siblings('span.feedback').length == 0) {
                            $(formEl).after('<span class="feedback correct"> &#10004; </span>');
                        } else {
                            $(formEl).siblings('span.feedback:first').html(' &#10004; ');
                        }
                    } else {
                        if ($(formEl).siblings('span.feedback').length == 0) {
                            $(formEl).after('<span class="feedback incorrect"> &#10006; </span>');
                        } else {
                            $(formEl).siblings('span.feedback:first').html(' &#10006; ');
                        }
                    }
                }
            }
        }
                      
        var myXML = $.parseXML(correxObj["__metadata__"]);
        console.log(myXML);
        var examMD = $(myXML).find('exam_metadata');
        var questionMD = $(examMD).find('question_metadata');
        $(questionMD).each(function(){displayQuestionExplanation(this);
                         displayChoiceExplanations(this);});

    };

    {% if exam.exam_type == "survey" %}
    allFieldsets.each(function() {
        if ($(this).attr('shuffle')) {
            var tmpChoices = $(this).find('label');
            var tmpChoicesCopy = tmpChoices.slice(0); // make copy of jQuery array to manipulate
            $(this).empty();

            while (tmpChoicesCopy.length) {
            var randIdx = Math.floor(Math.random() * tmpChoicesCopy.length);
            var choice = tmpChoicesCopy.splice(randIdx, 1);
            $(this).append(choice);
            }
        }
    });
    {% endif %}
                      
    window.getDialog = function(title) {
        var dialogDiv = $('#dialog-message');
        if (dialogDiv.length == 0) {
            dialogDiv = document.createElement('div');
            $(dialogDiv).attr('id', 'dialog-message');
            $(dialogDiv).attr('title',title);
            $(dialogDiv).append('<p></p>');
            $(document).append($(dialogDiv));
        }
        return dialogDiv;
    };
                      
    $('#submit-button').click(function () {
        $('#submit-button').attr('disabled','disabled');
        var fieldCollection = $('#exam-pane').find('input,textarea');
        var userAnswerObj = window.collectUserAnswers(fieldCollection);

        if (__exam_type != "survey" && !userAnswerObj.answeredAll) {
            var userProceed = confirm("This will submit the entire {{ exam.get_human_type }} and you haven't answered all questions. Still submit?");
            if (!userProceed) {
                $('#submit-button').removeAttr('disabled');
                return;
            }
        } 

        var userSelections = userAnswerObj.userSelections; 

        window.myData = JSON.stringify(userSelections);

        var examXHR = $.post("{% url 'courses.exams.views.collect_data' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}",
               {   csrfmiddlewaretoken: "{{ csrf_token }}",
                   json_data:JSON.stringify(userSelections),
                   onpage:$(location).attr('href')
               }
        );

        examXHR.success(function (evt, xhr, settings) {
            $('#submit-button').removeAttr('disabled');
            if (__autograde) {
                document.location = settings.responseText;
            }
            else {
                var message = "";
                var confirmText = "OK";
                var title="";

                if (__exam_type == "exam")
                    { message = "Your submission has been saved.  \nPlease check back after {{exam.due_date|date:'D M d Y'}} for your score.";
                      confirmText = "See My Submissions"; 
                      title = "Submission complete.";}
                else if (__exam_type == "survey")
                    { message = "Thanks!";
                      title= "Survey complete.";}
                      
                var dialogDiv = window.getDialog(title);
                
                $(dialogDiv).find('p').text(message);
                        
                var buttonObj = {};
                buttonObj[confirmText] = function() {
                    if ($(location).attr('href').indexOf('/videos/') >= 0) {//In a video, so just dismiss and resume video
                        C2G.videoSetup.removeExamStage();
                        $(this).dialog("close");
                    }
                    else
                        document.location = SUBMISSION_RETURN_URL;
                };

                $(dialogDiv).dialog({ modal: true,
                                    buttons: buttonObj});
                
            }
        });

        examXHR.error(function(xhr, status, msg) {
            $('#submit-button').removeAttr('disabled');
            var dialogDiv = window.getDialog('');
            $(dialogDiv).find('p').text(msg+": "+xhr.responseText.substr(0,99));
            $(dialogDiv).dialog({modal: true});
        });

    });
                      
    // Make sure pre-pop is in a properly-escaped string 
    var prePopData = JSON.stringify({% autoescape off %}{{json_pre_pop}}{% endautoescape %});

    {% if json_pre_pop_correx %}
    var prePopCorrex = JSON.parse('{{json_pre_pop_correx|escapejs}}');
    {% endif %}
    //alert(prePopCorrex);
    var scores = JSON.parse('{{scores|escapejs}}');
                      
    if (prePopData != '') {
        window.repopulateForm(prePopData);
    }
                      
    {% if json_pre_pop_correx %}
    if (prePopCorrex && typeof prePopCorrex != "undefined" && prePopCorrex != "" && prePopCorrex != 'None' && prePopCorrex != null) {
        window.showCorrections(prePopCorrex);
    }
    {% endif %}


    {% if common_page_data.course.mode == "ready" and exam.past_all_deadlines or not allow_submit or too_many_attempts  %}{# 'not's > 'and's > 'or's #}
    $('#submit-button').attr('disabled','disabled');
    $('#reEnableForm').remove();
    $('#main-content input').not('.question-nav').not('.toggle-explanation').attr('disabled','disabled');
    $('#main-content textarea').attr('disabled','disabled');
                      
    {% endif %}
                      
    }); /* END document.ready function that executes when page loads */
    
</script>
{% if videotest %}
<script>
        var videoURL = 'http://www.youtube.com/embed/{% if video.mode == 'draft' %}{{video.url}}{% else %}{{video.image.url}}{% endif %}?autoplay=0&wmode=transparent&fs=0&rel=0&modestbranding=1&showinfo=0&start={% if video_rec %}{{video_rec.start_seconds}}{% else %}0{% endif %}&enablejsapi=1&disablekb=1&amp;';
        var thumbnailPath = "http://{{common_page_data.aws_storage_bucket_name}}.s3-website-us-west-2.amazonaws.com/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}/videos/{% if video.mode == 'draft' %}{{video.id}}{% else %}{{video.image.id}}{% endif %}/jpegs/";

        // questionTimes from parsed XML metadata 
        var questionTimes = JSON.parse('{{question_times|escapejs}}');

	var video_rec_id = {{ video_rec.id }}
	var csrf_token = '{{ csrf_token }}'
    {% include 'exams/videotest.js' %} 
{% if not video.url %}
    $('#demoplayer').hide();
    $('.question').eq(0).show();
    $('#exam-pane').fadeTo("slow", 1.0);
{% endif %} 
</script>
{% endif %}


{% endblock addl_scripts %}
