{% extends "course_base.html" %}
{% load url from future %}
{% block course_page_title %}{{exam.title}}{% endblock course_page_title %}

{% block m_column_content %}
<div class="alert alert-error" id="nojswarn">
You don't have Javascript enabled or jQuery was not loaded.  This page won't work!  Please re-enable Javascript.
</div>
{% autoescape off %}

{% if common_page_data.course.mode == "ready" and not exam.is_live %}

    This exam will go live on {{ exam.live_datetime }} PST.


{% else %}

    {% if common_page_data.course.mode == "ready" and exam.past_due %}

       <h3>This exam was closed on {{ exam.due_date }} PST.  Submissions are disabled. </h3>

    {% if score %}
    <h4><b style="color:red">Your grade: {{score}}/{{exam.total_score}}</b></h4>
    {% endif %}

    {% endif %}

    <noscript>
    <div class="alert alert-error">Your browser does not have JavaScript enabled. Please enable it before taking this exam</div>
    </noscript>
    {{ exam.html_content }}

{% endif %}

{% endautoescape %}
{% endblock m_column_content %}




{% block addl_scripts %}
<script>
    $(document).ready(function () {

    var SUBMISSION_LIST_URL = "{% url 'courses.exams.views.view_my_submissions' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}";

    // Add link that just takes you back to submission list without submitting form again
    var returnToListCont = document.createElement('p');
    $(returnToListCont).addClass('useful-info');

    var returnToListLink = document.createElement('a');
    $(returnToListLink).attr('id', 'returnToListLink');
    $(returnToListLink).attr('href', SUBMISSION_LIST_URL);
    $(returnToListLink).attr('title', 'Click to return to the submissions list without submitting this form');
    $(returnToListLink).text('View Previous Submissions (Without Submitting Form)');
    $(returnToListLink).mouseover(function (ev) {
        $(userNote).show();
    }).mouseout(function (ev) {
        $(userNote).hide();
    });

    var submitBtn = $('input[type|="submit"]').not('#login_button');
    submitBtn.after($(returnToListCont));
    $(returnToListCont).append($(returnToListLink));
    if (!submitBtn.hasClass('btn')) {
        submitBtn.addClass('btn btn-spaced');
    }

    var userNote = document.createElement('em');
    $(userNote).addClass('userNote');
    $(userNote).text('Note: Leaving this page without submitting form will cause you to lose changes');
    $(returnToListLink).after($(userNote));
    $(userNote).hide();
                      
    $('#nojswarn').remove();
                      
    var allFieldsets = $('fieldset');
                      
    window.repopulateForm = function (jsonStr) {
        // first wipe all inputs
        $('input[type|="text"]').val('');
        //$('textarea').text('');
        $('input[type|="checkbox"]').removeAttr('checked');
        $('input[type|="radio"]').removeAttr('checked');

        // just wiped all data 
        if (!jsonStr) {
            return;
        }

        // all keys will be form input names as strings
        var dataObj = JSON.parse(jsonStr);

        // iterate through named form inputs
        for (member in dataObj) {
            
            if (typeof dataObj[member] == "string") {
                // it's a text input/textarea
                $('input[name|=' + member + ']').val(dataObj[member]);
                $('textarea[name|=' + member + ']').val(dataObj[member]);
                if (scores.hasOwnProperty(member)) {
                      //Label the input with the score
                      $('input[name|=' + member + ']').before("<b style='color:red'>" + scores[member]+" </b> ");
                };
                
            } else {
                if (scores.hasOwnProperty(member)) {
                      //Label the closet div enclosing the choices with the score (probably want fieldset instead)
                      $('input[name|=' + member + ']').first().closest('div').children(':first').before("<b style='color:red'>" + scores[member]+" </b> ");
                }
                // it's multiple choice, therefore an array
                $('input[name|=' + member + ']').removeAttr('checked');
                // loop through each choice listed for this input
                for (var i = 0; i < dataObj[member].length; i += 1) {
    
                    var obj = dataObj[member][i];

                    for (key in obj) {

                        if (key == 'value') {
                      //console.log(key + ' is what we want');
                            $('#' + member + '_' + obj[key]).attr('checked', 'checked');

                        } else {
                      //console.log(key + ' is not a real value');
                        }

                        
                    }

                }
            } 

        }

        var enabled = ('{{editable}}' == 'True') ? true : false;
        if (!enabled) {
            // disable all inputs
            $('input').attr('disabled','disabled');
            $('textarea').attr('disabled','disabled');

            // hide submit button
            var submitBtn = $('input[type|="submit"]').not('#login_button');
            submitBtn.addClass('btn btn-spaced');
            submitBtn.hide();

            // Add a "re-enable inputs" button
            var reEnableBtn = document.createElement('input');
            $(reEnableBtn).attr('id', 'reEnableForm');
            $(reEnableBtn).attr('type', 'button');
            $(reEnableBtn).attr('title', 'Click to re-enable answers for re-submission of this exam');
            $(reEnableBtn).addClass('btn btn-spaced');
            $(reEnableBtn).val('Click to Re-Enable Answers');
            submitBtn.before($(reEnableBtn));
            $(reEnableBtn).click(function (ev) {
                $('input').removeAttr('disabled');
                $('textarea').removeAttr('disabled');
                submitBtn.show();
            });
        }
    };

    allFieldsets.each(function() {
        if (!$(this).attr('no-shuffle')) {
            var tmpChoices = $(this).find('label');
            var tmpChoicesCopy = tmpChoices.slice(0); // make copy of jQuery array to manipulate
            $(this).empty();

            while (tmpChoicesCopy.length) {
            var randIdx = Math.floor(Math.random() * tmpChoicesCopy.length);
            var choice = tmpChoicesCopy.splice(randIdx, 1);
            $(this).append(choice);
            }
        }
    });
                      
    $('input[type=submit]').not('#login_button').click(function () {
        var userSelections = {};
        $('input').each(function () {
            if (($(this).attr('type') == 'checkbox' || $(this).attr('type') == 'radio') && $(this).get(0).checked == true) {
                if (!userSelections[$(this).attr('name')]) {
                    userSelections[$(this).attr('name')] = [];
                }
                //console.log(userSelections);
                var tmpObj = {};
                tmpObj.value = $(this).attr('value');
                tmpObj.associatedText = $(this).parent().text();

                userSelections[$(this).attr('name')].push(tmpObj);
            } else if (($(this).attr('type') == 'text') && $(this).val() != "") {
                userSelections[$(this).attr('name')] = $(this).val();
            }
        });
        $('textarea').each(function () {
            if ($(this).val() != "") {
                userSelections[$(this).attr('name')] = $(this).val();
            }
        });

        window.myData = JSON.stringify(userSelections);

        var examXHR = $.post("{% url 'courses.exams.views.collect_data' common_page_data.course.prefix common_page_data.course.suffix exam.slug %}",
               {csrfmiddlewaretoken: "{{ csrf_token }}",
                   json_data:JSON.stringify(userSelections)
               }
        );
        function getDialog() {
            var dialogDiv = $('#dialog-message');
            if (dialogDiv.length == 0) {
                dialogDiv = document.createElement('div');
                $(dialogDiv).attr('id', 'dialog-message');
                $(dialogDiv).append('<p></p>');
                $(document).append($(dialogDiv));
            }
            return dialogDiv;
        }

        examXHR.success(function (evt, xhr, settings) {
            var dialogDiv = getDialog();
            var dueDateMessage = "\n Please check back after {{exam.due_date|date:'D M d Y'}} for your score."
            $(dialogDiv).find('p').text(settings.responseText + dueDateMessage);
            $(dialogDiv).dialog({ modal: true,
                                  buttons: {
                                    'See My Submissions': function() {
                                     document.location = SUBMISSION_LIST_URL;
                                }}});
        });

        examXHR.error(function(xhr, status, msg) {
            var dialogDiv = getDialog();
            $(dialogDiv).find('p').text(msg+": "+xhr.responseText.substr(0,99));
            $(dialogDiv).dialog({modal: true});
        });

    });
                      
    // Make sure pre-pop is in a properly-escaped string 
    var prePopData = JSON.stringify({% autoescape off %}{{json_pre_pop}}{% endautoescape %});
    var scores = JSON.parse('{{scores|escapejs}}');
                      
    if (prePopData != '') {
        window.repopulateForm(prePopData);
    }

    {% if common_page_data.course.mode == "ready" and exam.past_due %}
                      
    $('input[type|="submit"]').not('#login_button').attr('disabled','disabled');
    $("#reEnableForm").attr('disabled','disabled');
    $('#main-content input').attr('disabled','disabled');
                  
                      
    {% endif %}
                      
    });
 
 

    
</script>
{% endblock addl_scripts %}
