<!DOCTYPE html>
<html data-require="math">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Numeric Template - Multiple Problems</title>
    <script src="../khan-exercise.js"></script>
</head>

<body>
    <div class="exercise">
        <div class="vars">
            <var id="NUM1">randRange(1, 10)</var>
            <var id="NUM2">randRange(1, 10)</var>
        </div>
        <div class="problems">
            <div data-weight="3">
                <div class="question">
                    <p>What is <code><var>NUM1</var> + <var>NUM2</var></code>?</p>
                </div>
                
                <div class="solution">
                    <var>NUM1 + NUM2</var>
                </div>
            </div>
            
            <div data-weight="1">
                <div class="question">
                    <p>What is <code>5 * 9</code>?</p>
                </div>
                
                <div class="solution">
                    <var>45</var>
                </div>
            </div>
            
            <div data-weight="1">
                <div class="question">
                    <p>What is <code>120 / 30</code>?</p>
                </div>
                
                <div class="solution">
                    <var>4</var>
                </div>
            </div>
        </div>
    
    </div>

</body>
</html>