<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/responsive.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/divs.css" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/core/font-awesome-ie7.css">
    <![endif]-->
    {% block addl_stylesheets %}{% endblock addl_stylesheets %}
    <title>{% block title %}Class2Go{% endblock %}</title>
</head>

<body>
    <div id="viewport">
        <div id="global-header">
            <div class="stanford-logo">
                <a href="http://www.stanford.edu"><img src="{{ STATIC_URL }}graphics/core/header-stanford-logo.png" width="198" height="11" alt="Stanford University"></a>
            </div>
        </div>
        <div id="c2g_layout_topbar">
            <div class="row-fluid">
            <h1 class="pull-left">{% block course_page_title %}{{common_page_data.course.title}}{% endblock course_page_title %}</h1>
            {% if common_page_data.can_switch_mode or common_page_data.is_course_admin %}
                <div class="hidden-phone pull-right">
                    {% if common_page_data.can_switch_mode %}
                        <form class="toggle-views" name="course_mode_switch_form" action="{%url 'courses.actions.switch_mode' %}" method="POST">
                            <p>You are currently viewing:</p>
                            <div class="btn-group btn-views-toggle">
                                <button type="submit" name="to_mode" value="staging" class="btn btn-mini{% ifequal common_page_data.course_mode 'staging' %} active{% endifequal %}">Draft</button>
                                <button type="submit" name="to_mode" value="production" class="btn btn-mini{% ifequal common_page_data.course_mode 'production' %} active{% endifequal %}">Published</button>
                            </div>
                            <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}"/>
                            <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}"/>
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            </div>
            {% block navbar %}
            {% ifequal user.is_staff True %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <ul class="nav">
                            <li {% block new_course_link %}{% endblock new_course_link %}><a href="{% url 'courses.admin_views.new' %}">Create Course</a></li>
                        </ul>
                        <!--form class="navbar-search hidden-phone" action="">
                            <div class="input-append">
                                <input class="span2 search-query" placeholder="Search" id="appendedInputButton" size="16" type="text">
                                <button class="btn btn-inverse btn-search" type="button"><i class="icon-search"></i></button>
                            </div>
                        </form-->
                    </div>
                </div>
            </div>
            {% endifequal %}
            {% endblock navbar %}
            <div class="top-nav">
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'auth_logout' %}" method="POST">
                        <input type="submit" id="login_button" class="btn logout hidden-phone hidden-tablet" value="Logout" />
                        {% csrf_token %}
                    </form>
                </li>
                <li class="hidden-phone"><span>Welcome <b><a href="/accounts/profile">{{ user.username }}</a></b>!</span></li>
            {% else %}
                <li class="hidden-phone hidden-tablet"><a id="login_button" class="btn" data-toggle="modal" href="#login-modal">Login</a></li>
                <li class="hidden-phone hidden-tablet"><a href="{% url 'registration_register' %}" class="btn">Register</a></li>
            {% endif %}
                <li class="visible-phone visible-tablet"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-reorder"></i></a></li>
            </div>
        </div>
        
        
        {% block content %}
        <div class="container-fluid body-content">
            <div class="row-fluid">
                {% block l_column_content %}
                    {% for available_course in available_course_list %}
                	<h1>Current courses available for signup</h1>
                		{% ifequal available_course.3 'False' %}
                		    <form name="signup" action="{% url 'courses.actions.signup' %}" method="POST">
                                <input type="hidden" id="handle" name="handle" value={{available_course.1}} />
                                {{available_course.0}} ({{available_course.2}})<input type="button" value="Signup" class="btn btn-primary" style='width: 75px; margin-right: 10px;' onclick="signup_clicked('{{available_course.2}}')"/>
                                {% csrf_token %}
                            </form>
                        {% else %}
                            {{available_course.0}} ({{available_course.2}})<b>Already signed up</b>    
                        {% endifequal %}  
                	{% endfor %}
                {% endblock %}
                
                {% block m_column_content %}{% endblock %}
                
                {% block r_column_content %}{% endblock %}
            </div>
        </div>
        {% endblock content %}
        </div>
    </div>
    {% include "footer.html" %}

    <div id="login-modal" class="modal fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Login</h3>
        </div>
        <form action="{% url 'auth_login' %}" method="POST" class="form-horizontal">
        <div class="modal-body">
            <div class="alert alert-info">
                <i class="icon-info-sign"></i>New to Class2Go? <strong><a href="{% url 'registration_register' %}">Register here</a></strong>.
            </div>
            <fieldset>
                <div class="control-group">
                    <label for="login_username" class="control-label">Username:</label>
                    <div class="controls">
                        <input type="text" name="username" id="login_username" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="login_password" class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" name="password" id="login_password" />
                    </div>
                </div>
                {% csrf_token %}
            </fieldset>
        </div>
        <div class="modal-footer">
	    <input type="hidden" name="next" value="{{request.path}}" />
            <input type='submit' class="btn btn-primary" value="Login" />
        </div>
        </form>
    </div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/app.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33859275-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block addl_scripts %}
    {% endblock addl_scripts %}
</body>
</html>
