<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/responsive.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/divs.css" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/core/font-awesome-ie7.css">
    <![endif]-->
    {% block addl_stylesheets %}{% endblock addl_stylesheets %}
    <title>{% block title %}Class2Go{% endblock %}</title>
</head>

<body>
    <div id="viewport">
        <div id="c2g_layout_topbar">
            <h1><a href="{% url 'c2g.views.home' %}" class="logo">Class2Go by Stanford University</a></h1>
            <div class="top-nav">
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'auth_logout' %}" method="POST">
                        <input type="submit" id="login_button" class="btn logout hidden-phone hidden-tablet" value="Logout" />
                        {% csrf_token %}
                    </form>
                </li>
                <li class="hidden-phone"><span>Welcome <b><a href="/accounts/profile">{{ user.username }}</a></b>!</span></li>
            {% else %}
                <li class="hidden-phone hidden-tablet"><a id="login_button" class="btn" data-toggle="modal" href="#login-modal">Login</a></li>
                <li class="hidden-phone hidden-tablet"><a href="{% url 'registration_register' %}" class="btn">Register</a></li>
            {% endif %}
                <li class="visible-phone visible-tablet"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-reorder"></i></a></li>
            </div>
            {% block navbar %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        {% ifequal user.is_staff True %}
						<ul class="nav">
							<li {% block new_course_link %}{% endblock new_course_link %}><a href="{% url 'courses.admin_views.new' %}">Create Course</a></li>
						</ul>
						{% endifequal %}
                        <!--form class="navbar-search hidden-phone" action="">
                            <div class="input-append">
                                <input class="span2 search-query" placeholder="Search" id="appendedInputButton" size="16" type="text">
                                <button class="btn btn-inverse btn-search" type="button"><i class="icon-search"></i></button>
                            </div>
                        </form-->
                    </div>
                </div>
            </div>
            {% endblock navbar %}
        </div>
        
        
        {% block content %}
        <div class="container-fluid body-content">
            <div class="row-fluid">
                {% block l_column_content %}{% endblock %}
                
                {% block m_column_content %}{% endblock %}
                
                {% block r_column_content %}{% endblock %}
            </div>
            {% include "footer.html" %}
        </div>
        {% endblock content %}
        </div>
    </div>

    <div id="login-modal" class="modal fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Login</h3>
        </div>
        <form action="{% url 'auth_login' %}" method="POST" class="form-horizontal">
        <div class="modal-body">
            <div class="alert alert-info">
                <i class="icon-info-sign"></i>New to Class2Go? <strong><a href="{% url 'registration_register' %}">Register here</a></strong>.
            </div>
            <fieldset>
                <div class="control-group">
                    <label for="login_username" class="control-label">Username:</label>
                    <div class="controls">
                        <input type="text" name="username" id="login_username" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="login_password" class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" name="password" id="login_password" />
                    </div>
                </div>
                {% csrf_token %}
            </fieldset>
        </div>
        <div class="modal-footer">
	    <input type="hidden" name="next" value="{{request.path}}" />
            <input type='submit' class="btn btn-primary" value="Login" />
        </div>
        </form>
    </div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/app.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33859275-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block addl_scripts %}
    {% endblock addl_scripts %}
</body>
</html>
