{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core/responsive.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
    <!--[if IE 7]>
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/core/font-awesome-ie7.css">
	<![endif]-->
    <title>{% block title %}Class2Go{% endblock %}</title>
</head>

<body>
    <div id="viewport">
		<div id="c2g_layout_topbar">
			<h1><a href="{% url 'c2g.views.home' %}" class="logo">Class2Go by Stanford University</a></h1>
			<div class="top-nav">
			{% if request.user.id %}
				<li>
					<form action="{% url 'auth_logout' %}" method="POST">
						<input type="submit" id="login_button" class="btn" value="Logout" />
						{% csrf_token %}
					</form>
				</li>
				<li><span>Welcome <b>{{ user.username }}</b>!</span></li>
			{% else %}
				<li><a id="login_button" class="btn" data-toggle="modal" href="#login-modal">Login</a></li>
				<li><a href="{% url 'registration_register' %}" class="btn">Register</a></li>
			{% endif %}
			</div>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">Classes</a></li>
							<li><a href="#">Search</a></li>
						</ul>
						<form class="navbar-search hidden-phone" action="">
							<div class="input-append">
								<input class="span2 search-query" placeholder="Search" id="appendedInputButton" size="16" type="text">
								<button class="btn btn-inverse btn-search" type="button"><i class="icon-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		{% block navbar %}
			<div id='navbar'>
				
			</div>
		{% endblock navbar %}
		
		{% block content %}
		<div class="container-fluid body-content">
			<div class="row-fluid">
				<div id="c2g_layout_l_column" class="span3">
					{% block l_column_content %}
					<div class="well tight">
						<ul class="nav nav-list">
							<li class="nav-header">Videos</li>
	 						<li class="active"><a href="#">1.1 Course Intro</a></li>
	 						<li><a href="#">1.2 History of Field</a></li>
	 						<li><a href="#">1.3 Big Issues</a></li>
	 						<li><a href="#">1.4 Another nav item</a></li>
	 						<li><a href="#">1.5 Another nav item</a></li>
	 						<li class="nav-header">Problem Sets</li>
	 						<li><a href="#">Problem set 1</a></li>
	 						<li><a href="#">Problem set 2</a></li>
	 						<li><a href="#">Problem set 3</a></li>
	 						<li><a href="#">Problem set 4</a></li>
	 						<li class="divider"></li>
	 						<li><a href="#"><i class="icon-flag"></i>Help</a></li>
	 						<li><a href="#"><i class="icon-envelope-alt"></i>Contact</a></li>
						</ul>
					</div>
					{% endblock %}
				</div>
				<div id="c2g_layout_m_column" class="span6">
					{% block m_column_content %}
					<ul class="breadcrumb">
						<li>
							<a href="#">Home</a> <span class="divider">/</span>
						</li>
						<li>
							<a href="#">Classes</a> <span class="divider">/</span>
						</li>
						<li class="active">National Lagnuage Processing</li>
					</ul>
					<h1>Natural Language Processing (H1)</h1>
					<ul class="thumbnails">
						<li class="span10 selected">
							<a href="#" class="thumbnail">
								<iframe width="100%" height="315" src="http://www.youtube.com/embed/BJiVRIPVNxU" frameborder="0" allowfullscreen></iframe>
							</a>
						</li>
						<li class="span2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/160x120" alt="">
							</a>
						</li>
						<li class="span2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/160x120" alt="">
							</a>
						</li>
						<li class="span2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/160x120" alt="">
							</a>
						</li>
						<li class="span2">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/160x120" alt="">
							</a>
						</li>
					</ul>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
					<h2>Heading 2</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<ul>
						<li>Sed ut perspiciatis unde omnis iste natus error</li> 
						<li>Sed ut perspiciatis unde omnis iste natus error</li> 
						<li>Sed ut perspiciatis unde omnis iste natus error</li> 
					</ul>
					<h3>Heading 3</h3>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. <a href="#">This is a link</a> ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
					<h4>Heading 4</h4>
					<p>Nisi ut aliquid ex ea commodi consequatur? <a href="#">This is a link</a> reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
					{% endblock %}
				</div>
				<div id="c2g_layout_r_column" class="span3">
					{% block r_column_content %}
					<h3>Course Info</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p><a href="#" class="btn btn-primary"><i class="icon-download"></i>Download Syllabus</a></p>
					{% endblock %}
				</div>
			</div>
			{% include "footer.html" %}
		</div>
		{% endblock content %}
		</div>
    </div>

	<div id="login-modal" class="modal fade">
	    <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>Login</h3>
	    </div>
	    <form action="{% url 'auth_login' %}" method="POST" class="form-horizontal">
	    <div class="modal-body">
	    	<div class="alert alert-info">
				<i class="icon-info-sign"></i>New to Class2Go? <strong><a href="{% url 'registration_register' %}">Register here</a></strong>.
			</div>
	    	<fieldset>
		    	<div class="control-group">
		    		<label for="login_username" class="control-label">Username:</label>
		    		<div class="controls">
		    			<input type="text" name="username" id="login_username" />
		    		</div>
		    	</div>
		    	<div class="control-group">
		    		<label for="login_password" class="control-label">Password:</label>
		    		<div class="controls">
		    			<input type="password" name="password" id="login_password" />
		    		</div>
		    	</div>
				{% csrf_token %}
			</fieldset>
	    </div>
	    <div class="modal-footer">
		    <input type='submit' class="btn btn-primary" value="Login" />
	    </div>
	    </form>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
</body>
</html>
