{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<ul class="nav">
				<li class="active"><a href="{% url 'courses.assignments.views.list' course_prefix course_suffix %}">Home</a></li>
				<li><a href="{% url 'courses.assignments.views.list' course_prefix course_suffix %}">Problem Sets</a></li>
				<li><a href="{% url 'courses.videos.views.list' course_prefix course_suffix %}">Videos</a></li>
			</ul>
			<form class="navbar-search hidden-phone" action="">
				<div class="input-append">
					<input class="span2 search-query" placeholder="Search course" id="appendedInputButton" size="16" type="text">
					<button class="btn btn-inverse btn-search" type="button"><i class="icon-search"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock navbar %}