{% extends "base.html" %}

{% load url from future %}

{% block navbar %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <li {% block home_link_class %}{% endblock home_link_class %}>
                    <a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">Home</a>
                </li>
                <li {% block course_info_link_class %}class="dropdown"{% endblock course_info_link_class %}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Info<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for page in common_page_data.course_info_pages %}
                            <li><a href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix  page.slug %}">{{page.title}}</a></li>
                        {% endfor %}
                        {% if common_page_data.is_course_admin and common_page_data.course_mode == 'staging' %}
                            <li><a href="{% url 'courses.additional_pages.views.manage_nav_menu' common_page_data.course_prefix common_page_data.course_suffix %}">&nbsp;&nbsp; - Add/re-order pages ...</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li {% block course_materials_link_class %}{% endblock course_materials_link_class %}>
                    <a href="{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix %}">Course Materials</a>
                </li>
                <li {% block forums_link_class %}{% endblock forums_link_class %}>
                    <a href="{% url 'courses.forums.views.view' common_page_data.course_prefix common_page_data.course_suffix %}">Forum</a>
                </li>
                <li {% block problemsets_link_class %}{% endblock problemsets_link_class %}>
                    <a href="{% url 'problemsets.views.list' common_page_data.course_prefix common_page_data.course_suffix %}">Problem Sets</a>
                </li>
                <li {% block videos_link_class %}{% endblock videos_link_class %}>
                    <a href="{% url 'courses.videos.views.list' common_page_data.course_prefix common_page_data.course_suffix %}">Videos</a>
                </li>
            </ul>
            {% if common_page_data.can_switch_mode or common_page_data.is_course_admin %}
            <ul class="nav pull-right">
                {% if common_page_data.can_switch_mode %}
                <li>
                    <form style="position: relative;width: 264px;height: 1px;padding: 8px 10px 7px;color: #333;" name="course_mode_switch_form" action="{%url 'courses.actions.switch_mode' %}" method="POST">
                        View:
                        <select name="to_mode" style="position: absolute;top: 4px;left: 50px;height: 23px;" onchange="document.forms.course_mode_switch_form.submit();">
                            <option value="staging" {% ifequal common_page_data.course_mode 'staging' %}selected{% endifequal %}>Staging</option>
                            <option value="production" {% ifequal common_page_data.course_mode 'production' %}selected{% endifequal %}>Production</option>
                        </select>
                        <input type="hidden" name="handle" value="{{common_page_data.course_prefix}}-{{common_page_data.course_suffix}}"/>
                        {% csrf_token %}
                    </form>
                </li>
                {% endif %}
                
                {% if common_page_data.is_course_admin %}
                    <li {% block course_admin_link %}{% endblock course_admin_link %}><a href="{% url 'courses.admin_views.admin' common_page_data.course_prefix common_page_data.course_suffix %}" style="border-right:0;">Course Administration</a></li>
                {% endif %}
            </ul>
            {% endif %}
            <!--form class="navbar-search hidden-phone" action="">
                <div class="input-append">
                    <input class="span2 search-query" placeholder="Search course" id="appendedInputButton" size="16" type="text">
                    <button class="btn btn-inverse btn-search" type="button"><i class="icon-search"></i></button>
                </div>
            </form-->
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<div class="container-fluid body-content">
    <div class="row-fluid page-header">
        <div class="span12">
            <h2>{% block course_page_title %}{{common_page_data.course.title}}{% endblock course_page_title %}</h2>
        </div>
    </div>
    <div class="row-fluid">
        {% block l_column_content %}{% endblock %}
        
        {% block m_column_content %}{% endblock %}
        
        {% block r_column_content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div>
{% endblock content %}
