/* Bootstrap overrides
-------------------------------------------------- */

body {
    background-color: #fbfbf9;
    position: relative;
    width: 100%;
    min-height: 100%;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto !important;
}

h1,h2,h3,h4 {margin:0;}

h3 {margin-bottom:.5em;font-size:20px; line-height:1.2em;}
h4 {margin-bottom:.5em;font-size:16px;}

.attempts
{
    font-size:12;
    float:right;
}

.chevron
{
    padding-left:7px;
}

.rightmargin
{
    margin-right:50px;
}

.leftnav-subtitle {
    display:block;
    font-size:12px;
    color:#999999;
    margin-top:-5px;
}

.leftnav-title {
    display:block;
    color: #333;
}

#left-nav .accordion-group .nav-list.collapse {
    visibility: hidden;
}

#left-nav .accordion-group .nav-list.collapse.in {
    visibility: visible;
}

a {color:#E3170D;}
a:hover {color:#922222;}
.modal form {margin-bottom:0;}
.well {border-color:#bdb7a1;}
.well.tight {padding:10px 0;background:#e9e6df;}
.well.tight .nav-list li {clear:left;}
.well.tight .nav-list li a {
    padding:5px 15px;
    overflow:hidden;
}
.well.tight .nav-list li a em {
    float:left;
    width:20px;
    padding-top:2px;
}
.well.tight .nav-list li a span {
    width:80%;
    word-wrap:break-word;
    float:left;
    display:block;
}

.well.jobdesc {
    margin-right: 0;
    margin-left: 0;
}
.well.jobdesc h1.title {
    margin-bottom: 10px;
}

.upcoming {
  padding:10px 0px;
  background:#e9e6df;
}
.upcoming h4 {
  margin-left: 5px;
  text-align:center;
}
.upcoming table {

}
.upcoming table th {
  text-decoration:underline;
  text-align:left;
}
.upcoming table td, .upcoming table th {
  padding: 4px 6px;
  border:0px;
}
.complete {
  color:#090;
}

.btn {font-weight:bold;}
.btn-large {padding:8px 30px;}
.btn-spaced {margin-right:5px;}
.userNote {background-color: #ffd; font-size:90%; padding: 0 .2em; }
.useful-info {margin: .2em; padding: .3em; position: relative;}
.useful-info a, .useful-info em {float: left; margin-right: .5em;}

.modal-header {border-bottom:1px solid #ddcf99;}
.modal-body {border-top:1px solid white;}
.modal-footer {border-top:1px solid #ddcf99;background:#e3dfd5;}
.nav-list .divider {background-color: #aca68d;}

.btn-primary {
    background-color: #8f2618;
    *background-color: #8f2618;
    background-image: -ms-linear-gradient(top, #8f2618, #66190f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f2618), to(#66190f));
    background-image: -webkit-linear-gradient(top, #8f2618, #66190f);
    background-image: -o-linear-gradient(top, #8f2618, #66190f);
    background-image: -moz-linear-gradient(top, #8f2618, #66190f);
    background-image: linear-gradient(top, #8f2618, #66190f);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8f2618', endColorstr='#66190f', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #66190f;
    *background-color: #66190f;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #66190f \9;
}

.btn [class^="icon-"], .nav-tabs [class^="icon-"], .btn [class*=" icon-"], .nav-tabs [class*=" icon-"] {
    line-height: 18px;
    font-size: 1.1em;
}
a:hover [class^="icon-"] {
  text-decoration: none;
}

.modal {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    background: #f4f4e0;
    background: -moz-linear-gradient(top, #f4f4e0, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4e0), to(#ffffff));
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color:#820000;
}
.nav > li > a:hover {
    background-color:white;
    color:#333;
    cursor: pointer;
}
.nav > li, .nav > li.active {
/*    height: 34px;  */
}
.nav > li.active > a {
    border-bottom: 1px solid #999;
}

.nav-list > .current > a,
.nav-list > .current > a:hover {
  color: #820000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #C0C0C0;
}



a.thumbnail:hover {
    border-color:#8F2718;
}

.form-actions {
    border-top: 1px solid #ddcf99;
    background:#e3dfd5;
      -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.navbar .btn-search {
    margin-left:-4px;
}
.navbar-inner {
    min-height: 35px;
    height: 35px;
}

.navbar-search {
    position:absolute;
    right:15px;
    float:none;
    margin:0;
}
.page-header {
  margin-top:0;
  border-bottom: none;
}
.page-header h2 {
  font-weight: normal;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  display: block;
  border-top:0;
  background:#e6e4db;
  color:#333;
}
.caret {
    opacity:.4;
}
.navbar .nav > li > a {
    text-shadow: none !important;
}
.navbar .nav li.dropdown .dropdown-toggle .caret {
    border-top-color: #222;
    border-bottom-color: #222;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #dddbd0 url('../../graphics/core/bg-nav-selected.png') repeat-x bottom center;
    background: #dddbd0 none;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6c5bb), to(#f7f5e9)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #c6c5bb, #f7f5e9); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #c6c5bb, #f7f5e9); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #c6c5bb, #f7f5e9); /* IE 10 */
    background: -o-linear-gradient(top, #c6c5bb, #f7f5e9); /* Opera 11.10+ */
}

.navbar .nav li.dropdown.open a {
    color: white;
}
.navbar .nav li.dropdown.open ul.dropdown-menu a {
    color: #333;
}
.navbar .nav li.dropdown.open ul.dropdown-menu a:hover {
    color: #333;
}

.progress {
    margin-bottom:8px;
    background:#fff;
    border:1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.help-block {
    font-size:11px;
}
label.control-label {
    font-weight:bold;
}

.accordion-group {
  margin:0;
  border:0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}


/* Homepage
-------------------------------------------------- */
body.home {
    background:#fbfbf9;
}
.home #c2g_layout_topbar {
    display:none;
}
.home .hero-header {
    background: #fff url(/static/graphics/core/bg-hero-header-rpi.jpg) no-repeat top center;
}
.home .hero-header .hero {
    width:520px;
    margin-top: 55px;
    margin-bottom: 55px;
}
.home .hero-header .hero h1,
.home .hero-header .hero h2 {
    color:#fff;
    text-shadow:1px 1px 5px #333;
}
.home .hero-header .hero h1 {
    font-size:37px;
}
.home .hero-header .hero h2 {
    font-weight: normal;
    line-height:1em;
}
.home .container-fluid {
    padding:0;
}
.home h3 {
    font-weight: normal;
    font-size:30px;
    line-height:1em;
}
.home h4 {
    font-size:20px;
    margin-top:1em;
}
.home-unit {
    padding:30px 0;
}
.home-unit p {
    font-size:16px;
    margin-bottom:1em;
    margin-right: 20px;
}
.home-unit .span5 h3 {
    margin-bottom:0;
}
.home-unit a {
    font-weight:bold;
}

.home-examples img {
    border:3px solid #ccc;
    margin-bottom:10px;
}
.home-examples {
    background:#4b4b4b;
    margin-top:1em;
    margin-bottom:1em;
}
.home-examples p {
    color:#fff;
    font-size:20px;
    font-weight: normal;
    margin-bottom:0;
}
.databases {
    background:#fff url(/static/graphics/core/dbLogo.jpg) no-repeat top left;
    padding:20px 20px 20px 320px;
}
.computernetworking {
    background:#fff url(/static/graphics/core/computer-networking.jpg) no-repeat top left;
    padding:20px 20px 20px 320px;
}
.solarcells {
    background: #fff url(/static/graphics/core/solarcells.jpg) no-repeat top left;
    padding:20px 20px 20px 320px;
}
.home h3 a {
    font-weight: normal;
}
.home-primary .span5 {
    padding-left:20px;
    border-left:1px solid #fbf7f4;
    margin-left:20px;
}
.social-btn {
    margin-right:20px;
    float:left;
}

.hidden {
    visibility:none;
}

/* Common
-------------------------------------------------- */
.section-title {
    margin-bottom:1em;
}
small.date {
    font-size:12px;
    color:#999;
    font-style:italic;
    display:block;
    margin-bottom:.5em;
    clear: left;
}
#showHideAll {
    display: none;
}
.announcement {
    margin-bottom:1em;
    padding:15px;
    border:1px solid #e3dfd5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    position:relative;
    clear: both;
}
.announcement p {
    margin-bottom:0;
}
.announcement h4 {
    margin-bottom:0;
}
.fakelink {
    cursor:pointer;
}
.announcement .badge {
    display:inline-block;
    margin-top:7px;
}
.announcement .announcement-actions .announcement-collapse {
    display: none;
    cursor: pointer;
}
#new_announcement_div {
    clear:left;
}
.course-description iframe {
    width:100%;
}

/* Header
-------------------------------------------------- */
#global-header {
    background:#E3170D url(../../graphics/core/shadow-header-bg.png) bottom center no-repeat;
    width:100%;
}
.stanford-logo {
    /*
    background:transparent url(../../graphics/core/header-stanford-logo.png) no-repeat 20px 10px;
    background-size: 160px 19px;
    padding:9px 20px;
    width:160px;
    height:19px;
    */
    text-indent: -999px;
    display:block;
    overflow:hidden;
}
.stanford-logo a {
    display: block;
    padding:9px 20px;
    width:160px;
    height:19px;
}
.stanford-logo a img {
    display: block;
    margin-top: 1px;
}
#c2g_layout_topbar {
    position:relative;
    padding:0px;
    width:100%;
    z-index:10;
    display:inline-block;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
}
#c2g_layout_topbar.preview-page {
    width:auto;
}
#c2g_layout_topbar .page-title {
    margin:20px 0 0 20px;
}
#c2g_layout_topbar .page-title img {
    margin-bottom:25px;
    margin-top:10px;
}
#c2g_layout_topbar h2 {
  font-weight: normal;
  font-size:30px;
}
#c2g_layout_topbar .top-nav a {
  color:white;
}

.top-nav {
    position:absolute;
    top:-32px;
    right:20px;
    font-size: 1.15em;
}
.top-nav li {
    float:right;
    list-style-type:none;
    margin-left:10px;
}
.top-nav li .btn {
    padding-left: 10px;
    padding-right: 10px;
    background: #8E2323;
    color:white;
    border:0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
}
.top-nav li .btn:hover {
    background: rgb(80,0,0);
}
.top-nav li span {
    color: white;
    padding:4px 5px;
    display:block;
}

.top-nav #clock #clockHours {
    font-size: 20px;
}
.top-nav #clock #clock-bubble {
    display: none;
    position: absolute;
    font-size: 16px;
}

#c2g_layout_topbar .navbar {
    margin:0;
}

#c2g_layout_topbar .navbar .navbar-inner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    background: #eee6cb url('../../graphics/core/bg-nav.png') repeat-x bottom center;
    background: #eee6cb none;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee6cb), to(#aca68d)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #eee6cb, #aca68d); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #eee6cb, #aca68d); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #eee6cb, #aca68d); /* IE 10 */
    background: -o-linear-gradient(top, #eee6cb, #aca68d); /* Opera 11.10+ */

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-views {
    width: 265px;
    padding: 7px 7px 0;
    *padding: 7px;
    color: #333;
    text-align: right;
    background:#ffc;
    overflow:hidden;
    margin: 20px 20px 0 0;
}
.toggle-views p {
    font-weight:bold;
    float:left;
    margin-right:5px;
    margin-top:2px;
}
.btn-views-toggle .btn-mini {
    padding:3px 8px;
    font-weight:normal;
    color:#999;
}
.btn-views-toggle .active {
    font-weight:bold;
    color:black;
}


/* Body
-------------------------------------------------- */
.body-content {
    padding-top:20px !important;
    min-height:450px;
}

.score-area {
    margin: 0 0 15px 0;
}

#share_wrapper {
    position: relative;
    width: 100%;
    min-height: 40px;
}
#share_wrapper .show_hide_share {
    position: absolute;
    z-index: 100;
}
#share_wrapper .show_hide_share.share_hidden {
    right: 0;
    top: 0;
    left: 0;
}
#share_wrapper .show_hide_share.share_visible {
    right: 5px;
    top: 5px;
}
#share-result {
    z-index: 50;
    position: relative;
    float: right;
    clear: both;
    padding-top: 10px;
}
#share-result textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
#share-result .show_score {
    display: block;
    clear: both;
    padding-bottom: 10px;
}
#share-result ul {
    border-bottom: 1px solid #999 !important;
}
#share-result li a {
    font-size: 18px;
    background-color: transparent;
}
#share-result li.active a,
#share-result li.active a:hover {
    border: 1px solid #999;
    border-bottom: 1px solid #f5f5f5 !important;
    background-color: transparent;
}
#share-result li a:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid #999 !important;
}

#left-nav h3.expanded {
    /*background:url(../../graphics/core/icon-minus.png) no-repeat right 7px;*/
    background:url(../../graphics/core/arrow-open.png) no-repeat right 9px;
    cursor:pointer;
    padding-right:20px;
    display:block;
    margin-right:15px;
}
#left-nav h3 {
    /*background:url(../../graphics/core/icon-plus.png) no-repeat right 7px;*/
    background:url(../../graphics/core/arrow-close-alt.png) no-repeat right 8px;
    cursor:pointer;
    padding-right:20px;
    display:block;
    margin-right:15px;
    padding-bottom:0px;
}
#left-nav h3 a {
    color: #333;
}
#left-nav h3 a:hover {
    text-decoration: none;
}

/* Right Column
-------------------------------------------------- */
.right_nav_wrapper {
    position: relative;
    clear: both;
}

/* Twitter Feed */
#twitterWidget {
    position: relative;
    clear: both;
}
#twitterWidget .twtr-widget .twtr-doc {
    border: 1px solid #bdb7a1;
}
#twitterWidget .twtr-widget .twtr-tweets {
    padding: 0 5px;
}
#twitterWidget .twtr-widget .twtr-tweet {
    border-top: 1px dotted #aca68d;
    border-bottom: none !important;
}


/* Thumbnails
-------------------------------------------------- */
.thumbnails {
    margin-top:1em;
}
.thumbnails .selected .thumbnail:hover {
    border-color:#ddd;
}

/* Registration
-------------------------------------------------- */
.registration .well {
    margin:0 auto;
    background:#fcfaf5;
    padding:0;
}
.registration .well fieldset {
    margin:20px;
}
.registration .well form,.registration .well .form-actions {
    margin-bottom:0;
}
.registration .well label {
    text-align:left;
    width:150px;
}
.registration h1 {
    margin-bottom:1em;
    text-align:center;
}
.registration .well h2 {
    margin-top:15px;
    text-align:center;
    font-size:20px;
}
.registration .form-horizontal .form-actions {
    padding-left:20px;
}


/* Profile Info
-------------------------------------------------- */

.profile_page .body-content {
    padding-top:0 !important;
}

.profile_page .page-header {
    margin-bottom: 0;
}

.profile-info {
    margin-bottom: 15px;
}
.profile-info li {
    margin-bottom:15px;
}
.profile-info strong {
    width:135px;
    display:inline-block;
}


.profile-courses {

}
.profile-courses .course {
    position: relative;
    display: block;
    float: left;
    width: 408px;
    height: 200px;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #bdb7a1;
    border-radius: 10px;
    background-color: #f3efd9;
}
.profile-courses .course .image {
    position: relative;
    display: block;
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 10px;
}
.profile-courses .course .image .score_overlay {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
}
.profile-courses .course h3 {
    font-size: 18px;
    line-height: 1.5em;
}
.profile-courses .course .dates {
    font-size: 14px;
}
.profile-courses .course .score_overlay ul {
    font-size: 14px;
    margin-left: 18px;
}
.profile-courses .course .score_overlay ul li {
    line-height: 150%;
}
.profile-courses .course .profile-progress-wrapper {
    position: relative;
    float: right;
}
.profile-courses .course .profile-progress-wrapper .profile-progress-endticks {
    position: absolute;
    right: 0;
    width: 196px;
    height: 1px;
    padding: 2px 0;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}
.profile-courses .course .profile-progress-wrapper .profile-progress-endticks .profile-progress-line {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #333;
}
.profile-courses .course .profile-progress-wrapper .profile-progress-endticks .profile-progress-bar {
    position: absolute;
    height: 3px;
    left: 0;
    top: 1px;
    background-color: #820000;
}
.profile-courses .course .buttons {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.profile-courses .course .buttons .btn {
    padding: 5px 10px;
    font-size: 13px;
    float: right;
    clear: both;
    margin-top: 5px;
}
.profile-courses .course input.btn {
    width: 198px;
}
.profile-courses .course .btn {
    width: 176px;
}

/* Video - added by Kevin
-------------------------------------------------- */
.progress-bar {
    height: 15px;
    padding: 0;
    position: relative;
    border: 1px solid #BBB;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.progress-bar .fill {
  display: block;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

.progress-bar .fill.red {
  background-color: #820000;
}

.course-section {
    margin-bottom:30px;
}

ul.unstyled.course-list {
  /* border-bottom:1px solid #eee; */
  margin:0;
}

h3.course-section-heading {
    border-bottom:1px solid #eee;
}

.course-list-item {
  overflow:hidden;
  padding: 5px;
  border-bottom: 0;
  /* border-bottom: 1px solid #eee; */
}

.course-list-item.zebra_light {
    background-color: #FBFBF9;
}
.course-list-item.zebra_dark {
    background-color: #e9e6df;
}

.course-list-item .progress {
    height:14px;
    width:100px;
    margin-top:5px;
    float:left;
}
.course-list-item .icon-pencil,
.course-list-item .icon-book,
.course-list-item .icon-file,
.course-list-item .icon-check,
.course-list-item .icon-facetime-video {
    font-size:24px;
    color:#999;
    opacity:.3;
    padding-left:5px;
    padding-top:3px;
}
.course-list-item .icon-download-alt {
    margin-right: 0;
}
.course-list-item .pull-left.icon {
    margin-left:-10px;
    width:40px;
}
.course-list-item .course-list-content {
    overflow:hidden;
    margin-right:10px;
    margin-bottom: 0;
}
.course-list-item .course-list-content h4 {
    margin-top:3px;
    margin-right:1em;
    display:inline;
    float: left;
}
.course-list-item .course-list-content label {
    margin-bottom:10px;
}
.course-list-item .course-list-content span.label {
    float: left;
    margin-top: .3em;
    margin-right: .3em;
}
.course-list-item .course-list-content .deadlines {
    clear: both;
    font-size: 90%;
    margin-bottom:5px;
}

/* FAQs
-------------------------------------------------- */
.faq h4 {
    cursor: pointer;
}
.faq ol {
    margin-left:0;
}
.faq ol li {
    list-style-type:none;
    padding:10px 10px 0;
    border:1px solid #eee;
    margin-bottom:10px;
    background:#fcfaf5;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.faq ol li:hover {
    background:#eee;
}
.faq ol li ul li {
    background:none;
    margin-bottom:0;
    border:0;
    list-style-type:lower-alpha;
}
.faq ol li ul {
    margin-bottom:20px;
}

/* Forms
-------------------------------------------------- */
.errorlist {
  margin-bottom: 20px;
  color: red;
}

.fieldWrapper.errors label{
  color: red;
}

.fieldWrapper.errors input[type="text"] {
  border-color: red;
}

.fieldWrapper label {
  font-weight: bold;
}

.fieldWrapper select {
  width: auto;
}

.fieldWrapper input[type="file"] {
  height: auto;
  line-height: normal;
  margin-bottom: 9px;
}

fieldset label {
    padding: 0 2em !important;
    position: relative !important;
}
fieldset label input {
    position: absolute !important;
    float: none !important;
    left: 0 !important;
    margin-right: 0 !important;
}

/* for datetime fields */
input[data-datetimepicker] {
  width: auto;
}

input[type="checkbox"] {
  margin-top: 0;
}

/* Footer
-------------------------------------------------- */

#global-footer {
    background:#000000 url(../../graphics/core/shadow-footer-bg.png) top center no-repeat;
    width:100%;
}
#bottom-logo {
    margin-top:3px;
}

.footer {
    padding: 35px 0 36px;
}
.footer ul {
    overflow:hidden;
}
.footer ul a {
    color: #fff;
}
.footer ul li {
    float:left;
    margin: 0 1em 0 0;
    padding: 0 1em 0 0;
}
.footer .vcard {
    font-size: 11px;
    color:#fff;
    clear:left;
}
.class2go {
    position:relative;
    width:100%;
    padding:40px 0 0;
}
.class2go a {
    font-size:11px;
    background:#fcfaf5;
    padding:3px 10px;
    position:absolute;
    right:20px;
    bottom:0;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

/* Chat
-------------------------------------------------- */
#chat_wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
#chat_wrapper .chat_toggle {
    position: absolute;
    right: 0;
    top: -45px;
    height: 25px;
    width: 170px;
    padding: 10px 15px;
    background: #333;
    color: #fcfaf5;
    border-top-left-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#chat_wrapper .chat_toggle:hover {
    text-decoration: none;
}
#chat_wrapper .chat_toggle span.openChat {
    display: inline;
}
#chat_wrapper .chat_toggle span.closeChat {
    display: none;
}
#chat_wrapper .chat_toggle em {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 28px !important;
}
#chat_frame_wrapper {
    height: 0;
    width: auto;
    float: left;
    position: relative;
    float: left;
    margin: 0 !important;
    border: none !important;
    overflow: hidden;
}
#chat_block {
    position: relative;
    float: left;
    width: 600px;
    height: 400px !important;
    bottom: 0;
    right: 0;
    margin: 0 !important;
    border: none !important;
    display: none;
}

#chatPopout,
#chatPopin {
    display: none;
    bottom: 5px;
    right: 5px;
    font-size: 24px;
    height: 18px !important;
    width: 22px;
    color: #666;
}
#chatPopout {
    position: absolute;
}
#chatPopin {
    position: fixed;
}
#chatPopout:hover,
#chatPopin:hover {
    color: #333;
    text-decoration: none;
}

ul.exercise-list {
    margin:10px 0 !important;
}
ul.ui-sortable li {
    list-style-type:none;
    padding:5px;
    border:1px solid #ccc;
    margin-bottom:5px;
}
ul.ui-sortable li:hover {
    border-color:#000;
    cursor:move;
}
.ui-state-highlight {
    height:20px;
    border-style:dashed;
}

/* Create Problem Sets
-------------------------------------------------- */
.create-problemset h4 a {
    cursor:pointer;
}
.assessment-type {
    margin-bottom:18px;
}
.assessment-type ul {
    margin-left:0;
}
.assessment-type ul li {
    list-style-type:none;
}

.edit-button {
    float:right;
    color:green;
    margin:5px;
}

.delete-button {
    float:right;
    color:red;
    margin:5px;
}

.move-button {
    float:right;
    margin:2px;
}

/* jQuery UI
-------------------------------------------------- */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    opacity: 1;
    filter:Alpha(Opacity=100);
    font-weight: bold;
}

/* Localized */

hr {
    border-top: 0;
    border-bottom: 0;
    height: 1px;
    background: #bdb7a1 none;
    background: -webkit-gradient(linear, left top, right top, from(#bdb7a1), to(#fcfaf5)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(left, #bdb7a1, #fcfaf5); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(left, #bdb7a1, #fcfaf5); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #bdb7a1, #fcfaf5); /* IE 10 */
    background: -o-linear-gradient(left, #bdb7a1, #fcfaf5); /* Opera 11.10+ */
    margin: 0 0 25px 0;
}
