.shaded {
    margin: 10px;
    padding: 10px;
    
    background: #f4f4e0;
    background: -moz-linear-gradient(top, #f4f4e0, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4e0), to(#ffffff));
    
    border: #f4f4e0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
}

.framed {
    margin: 10px;
    padding: 10px;
    
    border:1px solid #646449;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
}

.div_registration_section {
    margin-bottom: 20px; padding: 0px;
    
    border: 2px solid #646449;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    
    overflow: hidden;
}

.div_registration_section_title {
    background: #646449;
    background: -moz-linear-gradient(top, #646449, #6d6d50);
    background: -webkit-gradient(linear, left top, left bottom, from(#646449), to(#6d6d50));
    
    padding: 10px;
    font-size: 13pt; font-weight: bold; color: white;
}

.div_topic_header {
    border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
    -khtml-border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px / 20px 20px 0px 0px;
    
    background: #c4c4a9;
    background: -moz-linear-gradient(top, #c4c4a9, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#c4c4a9), to(#ffffff));
    
    padding: 10px;
    font-size: 11pt; font-weight: bold; color: black;
}

.entity_description_search {
    font-size: 9pt; color: #606040;
}

.question, .subquestion {
    clear: both;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddcf99;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.question p { clear: both; }
.question label { clear: left; float: left; }
