#viewport {
    position: relative;
    margin: 0px; padding: 0px;
    overflow: auto;
}

#l_column {
    position: absolute; top: 60px;
}

#m_column {
    position: absolute; top: 60px;
}

#r_column {
    position: absolute; top: 60px;
}