a {text-decoration:none; color: rgb(150,0,0); cursor: Pointer;}
a:hover {color: red;}

a.cw_link_10_white {text-decoration:none; color: white; font-family:Arial; font-size: 10pt; font-weight: bold; cursor: Pointer;}
a.cw_link_10_white:hover {color: red;}
a.cw_link_10_white:active  {color: red;}

a.cw_link_12_dark_red {text-decoration:none; color: rgb(150,0,0); font-family:Arial; font-size: 12pt; font-weight: bold; cursor: Pointer;}
a.cw_link_12_dark_red:hover {color: red;}
a.cw_link_12_dark_red:active  {color: red;}