<html>
    <head>
        
        <link rel="stylesheet" href="/static/css/core/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/core/body.css" />

        <!--[if IE 7]>
         <link rel="stylesheet" href="/static/css/core/font-awesome-ie7.css">
         <![endif]-->
        
        <title>Stanford Class2Go</title>
        
    </head>
    <body>
        <div id="viewport">
            <div id="global-header">
                <div class="stanford-logo">
                    <a href="http://www.stanford.edu"><img src="/static/graphics/core/header-stanford-logo.png" width="198" height="11" alt="Stanford University"></a>
                </div>
            </div>
            
            <div class="container-fluid body-content">
                
                <h3>Something went wrong.  Sit tight, someone is working on it.</h3>
                
                <p>It seems that there is a a technical problem on our side. We've
                been notified and will get things fixed ASAP.</p>
                
                <p>Sorry about that!</p>
            </div>
            
            <div id="global-footer" class="footer hidden-phone">
                <div class="container">
                    <div class="row">
                        <div id="bottom-logo" class="span2"><a href="http://www.stanford.edu" style="border: none; "><img src="/static/graphics/core/footer-stanford-logo.png" alt="Stanford University">
                            </a></div>
                        <div id="bottom-text" class="span10">
                            <div id="bottom-menu">
                                <ul class="unstyled">
                                    <li><a href="http://www.stanford.edu">Stanford University Home</a></li>
                                    <li><a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a></li>
                                    <li><a href="http://www.stanford.edu/search/">Search Stanford</a></li>
                                    <li><a href="http://class.stanford.edu/tos">Terms of Use</a></li>
                                    <li><a href="http://class.stanford.edu/tos#copyright">Copyright Complaints</a></li>
                                </ul>
                            </div>
                            <p class="vcard">&copy; <span class="fn org">Stanford University</span>, <span class="adr"><span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>
