{% load i18n %}
{% trans 'Warning: you are using an unsupported browser\nand will be unable to save or submit work!\n\nWe suggest you use either Mozilla Firefox or\nGoogle Chrome.' as browser_warning %}
{% trans 'Login' as Login_trans %}
{% trans 'login' as login_trans %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='shortcut icon' type='image/x-icon' href='{{ STATIC_URL }}graphics/sites/{{ SITE_NAME_SHORT }}/favicon.ico' />
    {% block top_scripts %}
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{{ STATIC_URL }}css/common.scss" />
    {% endcompress %}

    <!--[if IE 7]>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css">
    <![endif]-->

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
    <!--[if lte IE 8]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/core/respond.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            {% blocktrans %}alert("{{ browser_warning }}");{% endblocktrans %}
            });
        </script>
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/tyv1luk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% endblock top_scripts %}
    {% block addl_stylesheets %}{% endblock addl_stylesheets %}
    {% block addl_head_scripts %}{% endblock addl_head_scripts %}
    <title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>
</head>

{% block bodytag %}
<body class="{% block body_class %}{% endblock body_class %}">
{% endblock bodytag %}

    <div id="viewport">

      {% if not request.session.headless %}
        
      {% endif %}
        {% block topbar %}<div id="c2g_layout_topbar">{% endblock topbar %}        
            {% if not request.session.headless %}
                {% block navbar %}
                    {% ifequal user.is_staff True %}
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container-fluid">
                                    <h2 id="main-nav-heading" class="hidden-accessible">{% trans 'Course Sections' %}</h2>
                                    <ul class="nav" role="navigation" aria-labelledby="main-nav-heading">
                                        <li {% block new_course_link %}{% endblock new_course_link %}><a href="{% url 'courses.admin_views.new' %}">{% trans 'Create Course' %}</a></li>
                                    </ul>
                                    <!--form class="navbar-search hidden-phone" action="">
                                        <div class="input-append">
                                            <input class="span2 search-query" placeholder="Search" id="appendedInputButton" size="16" type="text">
                                            <button class="btn btn-inverse btn-search" type="button"><em class="icon-search"></em></button>
                                        </div>
                                    </form-->
                                </div>
                            </div>
                        </div>
                    {% endifequal %}
                {% endblock navbar %}
            {% endif %}
            
            <div class="row-fluid" style="position:relative;">
                {% block page_title %}
                <div class="pull-left page-title">
                    {% if common_page_data.course.title %}
                        <h2>{% block course_page_title %}{{common_page_data.course.title}}{% endblock course_page_title %}</h2>
                    {% endif %}
                </div>
                {% endblock page_title %}
        
                {% block mode_switcher %}
                    {% if common_page_data.can_switch_mode or common_page_data.is_course_admin %}
                        <div class="hidden-phone" style="position:absolute;top:0;right:0;">
                            {% if common_page_data.can_switch_mode %}
                                <form data-c2g-tooltip class="toggle-views" name="course_mode_switch_form" action="{%url 'courses.actions.switch_mode' %}" method="POST" data-placement="left" title="{% trans 'Choosing EDIT mode lets you edit the course site. Choosing LIVE mode lets you view the site as students will.' %}">
                                    <p>{% trans 'You are currently viewing:' %}</p>
                                    <div class="btn-group btn-views-toggle">
                                        <button type="submit" name="to_mode" value="draft" class="btn btn-mini{% ifequal common_page_data.course_mode 'draft' %} active{% endifequal %}">{% trans 'Edit' %}</button>
                                        <button type="submit" name="to_mode" value="ready" class="btn btn-mini{% ifequal common_page_data.course_mode 'ready' %} active{% endifequal %}">{% trans 'Live' %}</button>
                                    </div>
                                    <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}"/>
                                    <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}"/>
                                    {% csrf_token %}
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endblock mode_switcher %}
            </div>
            

        {% if not request.session.headless %}
            <section class="cross-bar">
                <header id="global-header">

                    <div class="school-brand">
                        <a href="{% url 'courses.landing.views.landing' %}">{{ SITE_TITLE }}</a>
                    </div>
                    <div class="user-account">

                        {% if user.is_authenticated %}
                            <div id="logged-in">
                                <a href="/accounts/profile"> {% trans 'Welcome, '%} {{ user.first_name }} </a>
                                <form action="{% url 'auth_logout' %}?next=/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}" method="POST">
                                    <input type="submit" id="login_button" class="logout hidden-phone" value="{% trans 'Logout' %}" />
                                        {% csrf_token %}
                                </form>
                            </div>
                        {% else %}
                            {% if not common_page_data.ready_course.institution_only and not common_page_data.ready_course.preenroll_only %}
                                <div id="logged-out">
                                    <a href="{% url 'registration_register' %}?pre={{common_page_data.course_prefix}}&post={{common_page_data.course_suffix}}" >{% trans 'Register' %}</a>
                                    <a href="{% url 'default_login' %}?next={{ request.get_full_path }}" class="button">{% trans 'Sign In' %}</a>
                                </div>
                            {% endif %}
                        {% endif %}                        
                    </div>
                </header>
            </section>

            <!-- Administration bar for staff -->
            {% if user.is_authenticated and user.is_staff %}
                <div class="subpage-navbar-container">
                    <nav class="subpage-navbar">
                        <ul>
                            <span>Administration</span>
                            <li>
                                <a href="{% url 'courses.admin_views.new' %}">Create Course</a>                               
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}

            {% block topcontent %}
                <div id="top-content"></div>
            {% endblock topcontent %}
        {% endif %}

        {% block hero %}
        {% endblock hero %}

            
        </div>
        
        
        {% block content %}
                {% block l_column_content %}
                    {% for available_course in available_course_list %}
                	<h1>Current courses available for signup</h1>
                		{% ifequal available_course.3 'False' %}
                		    <form name="signup" action="{% url 'courses.actions.signup' %}" method="POST">
                                <input type="hidden" id="handle" name="handle" value={{available_course.1}} />
                                {{available_course.0}} ({{available_course.2}})<input type="button" value="{% trans 'Signup' %}" class="btn btn-primary" style='width: 75px; margin-right: 10px;' onclick="signup_clicked('{{available_course.2}}')"/>
                                {% csrf_token %}
                            </form>
                        {% else %}
                            {{available_course.0}} ({{available_course.2}})<strong>{% trans 'Already signed up' %}</strong>    
                        {% endifequal %}  
                	{% endfor %}
                {% endblock %}
                
                {% block m_column_content %}{% endblock %}

                {% block r_column_content %}{% endblock %}
        {% endblock content %}
        
    </div>

    {% include  "footer.html"  %}

    {% block jabber_block %}{% endblock %}

    {% block bottom_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/foundation-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/app.js"></script>

    {% endblock bottom_scripts %}

    <!-- Need to re-add Google Analytics script -->

    
    {% block addl_scripts %}
    {% endblock addl_scripts %}
</body>
</html>
