<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% block top_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/responsive.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/{{ SITE_NAME_SHORT }}-styles.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/body.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core/divs.css" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css">
    <![endif]-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/core/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
    {% endblock top_scripts %}
    {% block addl_stylesheets %}{% endblock addl_stylesheets %}
    {% block addl_head_scripts %}{% endblock addl_head_scripts %}
    <title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>
</head>

{% block bodytag %}<body>{% endblock bodytag %}
    <div id="viewport">
      {% if not request.session.headless %}
        <div id="global-header">
            <h1 class="stanford-logo">
            	{% if SITE_NAME_SHORT == 'Stanford' %}
                <a href="http://www.stanford.edu">Stanford University</a>
                {% else %}
                <a href="http://www.uwa.edu.au">{{ SITE_NAME_LONG }}</a>
                {% endif %}
            </h1>
            <p id="skip-nav"><a href="#main-content" class="hidden-accessible">Jump to content</a></p>
        </div>
        {% block topcontent %}<div id="top-content"></div>{% endblock topcontent %}
      {% endif %}
        {% block topbar %}<div id="c2g_layout_topbar">{% endblock topbar %}
          {% if not request.session.headless %}
            {% block navbar %}
            {% ifequal user.is_staff True %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <h2 id="main-nav-heading" class="hidden-accessible">Course Sections</h2>
                        <ul class="nav" role="navigation" aria-labelledby="main-nav-heading">
                            <li {% block new_course_link %}{% endblock new_course_link %}><a href="{% url 'courses.admin_views.new' %}">Create Course</a></li>
                        </ul>
                        <!--form class="navbar-search hidden-phone" action="">
                            <div class="input-append">
                                <input class="span2 search-query" placeholder="Search" id="appendedInputButton" size="16" type="text">
                                <button class="btn btn-inverse btn-search" type="button"><em class="icon-search"></em></button>
                            </div>
                        </form-->
                    </div>
                </div>
            </div>
            {% endifequal %}
            {% endblock navbar %}
          {% endif %}
            <div class="row-fluid" style="position:relative;">
            {% block page_title %}
            <div class="pull-left page-title">
                {% if SITE_NAME_SHORT == 'Stanford' %}
                <img src="{{ STATIC_URL }}graphics/core/top-banner-Stanford.png" alt="Stanford Online">
                {% endif %}
                <h2>{% block course_page_title %}{{common_page_data.course.title}}{% endblock course_page_title %}</h2>
            </div>
            {% endblock page_title %}
            {% block mode_switcher %}
            {% if common_page_data.can_switch_mode or common_page_data.is_course_admin %}
                <div class="hidden-phone" style="position:absolute;top:0;right:0;">
                    {% if common_page_data.can_switch_mode %}
                        <form data-c2g-tooltip class="toggle-views" name="course_mode_switch_form" action="{%url 'courses.actions.switch_mode' %}" method="POST" data-placement="left" title="Choosing EDIT mode lets you edit the course site. Choosing LIVE mode lets you view the site as students will.">
                            <p>You are currently viewing:</p>
                            <div class="btn-group btn-views-toggle">
                                <button type="submit" name="to_mode" value="draft" class="btn btn-mini{% ifequal common_page_data.course_mode 'draft' %} active{% endifequal %}">Edit</button>
                                <button type="submit" name="to_mode" value="ready" class="btn btn-mini{% ifequal common_page_data.course_mode 'ready' %} active{% endifequal %}">Live</button>
                            </div>
                            <input type="hidden" name="course_prefix" value="{{common_page_data.course_prefix}}"/>
                            <input type="hidden" name="course_suffix" value="{{common_page_data.course_suffix}}"/>
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            {% endblock mode_switcher %}
            </div>
            {% block topnav %}
            <div class="top-nav">
                <ul class="unstyled">
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'auth_logout' %}?next=/{{common_page_data.course_prefix}}/{{common_page_data.course_suffix}}" method="POST">
                        <input type="submit" id="login_button" class="btn logout hidden-phone" value="Logout" />
                        {% csrf_token %}
                    </form>
                </li>
                <li class="hidden-phone"><span>Welcome <strong><a href="/accounts/profile">{{ user.first_name }} {{ user.last_name }}</a></strong>!</span></li>
            {% else %}
                <li class="hidden-phone">
                	{% if SITE_NAME_SHORT == 'Stanford' %}
                        {% with login_course=common_page_data.ready_course login_link_id="login_button" login_link_class="btn" link_text="Login" %}
                            {% include "registration/login_link.html" %}
                        {% endwith %}
                    {% else %}
                    <a id="login_button" class="btn" href="{% url 'default_login' %}?next={{ request.get_full_path }}">Login</a>
                	{% endif %}

                </li>
                {% if not common_page_data.ready_course.institution_only %}
                <li class="hidden-phone"><a href="{% url 'registration_register' %}?pre={{common_page_data.course_prefix}}&post={{common_page_data.course_suffix}}" class="btn">Register</a></li>
                {% endif %}
            {% endif %}
                <li class="visible-phone"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><em class="icon-reorder"></em></a></li>
                </ul>
            </div>
            {% endblock topnav %}
        </div>
        
        
        {% block content %}
        <div id="main-content" class="container-fluid body-content" role="main">
            <div class="row-fluid">
                {% block l_column_content %}
                    {% for available_course in available_course_list %}
                	<h1>Current courses available for signup</h1>
                		{% ifequal available_course.3 'False' %}
                		    <form name="signup" action="{% url 'courses.actions.signup' %}" method="POST">
                                <input type="hidden" id="handle" name="handle" value={{available_course.1}} />
                                {{available_course.0}} ({{available_course.2}})<input type="button" value="Signup" class="btn btn-primary" style='width: 75px; margin-right: 10px;' onclick="signup_clicked('{{available_course.2}}')"/>
                                {% csrf_token %}
                            </form>
                        {% else %}
                            {{available_course.0}} ({{available_course.2}})<strong>Already signed up</strong>    
                        {% endifequal %}  
                	{% endfor %}
                {% endblock %}
                
                {% block m_column_content %}{% endblock %}
                
                {% block r_column_content %}{% endblock %}
            </div>
        </div>
        {% endblock content %}
        
    </div>

    {% with "sites/"|add:SITE_NAME_SHORT|add:"/footer.html" as footer_include %}
    {% include  footer_include  %}
    {% endwith %}

    {% block bottom_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/app.js"></script>
    {% endblock bottom_scripts %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33859275-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block addl_scripts %}
    {% endblock addl_scripts %}
</body>
</html>
