{% extends "base.html" %}
{% load url from future %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>How to reach Stanford Online</h2>
        <p></p>
        <p>For general information email us at <a href="mailto:placeholder@stanford.edu">placeholder@stanford.edu</a></p>
        <p>For copyright concerns email us at <a href="mailto:placeholder@stanford.edu">placeholder@stanford.edu</a></p>
        <p>For bug reports email us at <a href="mailto:placeholder@stanford.edu">placeholder@stanford.edu</a></p>
    </div>
</div>
{% endblock m_column_content %}