{% extends "base.html" %}
{% load url from future %}
{% block title %}Contact Us | Stanford Online{% endblock title %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <center><h2>How to reach Stanford Online</h2></center>
        <p></p>
        <h3>For most issues, we recommend posting on the discussion forum rather than sending email.  </h3><p></p>
        
        {% if staffmail %}
        <p>For {{course.title}} course staff email <a href="mailto:{{staffmail}}">{{staffmail}}</a> Course staff may not be able to respond to all queries individually - please consider posting on the discussion forum.</p>
        {% endif %}
        <p>For general information email us at <a href="mailto:c2g-contact@class.stanford.edu">c2g-contact@class.stanford.edu</a></p>
        <p>For copyright concerns email us at <a href="mailto:c2g-copyright@class.stanford.edu">c2g-copyright@class.stanford.edu</a></p>
        <p>For bug reports email us at <a href="mailto:c2g-bugs@class.stanford.edu">c2g-bugs@class.stanford.edu</a></p>
        <p>For suggestions email us at <a href="mailto:c2g-suggestions@class.stanford.edu">c2g-suggestions@class.stanford.edu</a></p>
        <p>For technical support email us at <a href="mailto:c2g-techsupport@class.stanford.edu">c2g-techsupport@class.stanford.edu</a></p>
        <p>For disability-related questions email us at <a href="mailto:c2g-accessibility@class.stanford.edu">c2g-accessibility@class.stanford.edu</a></p>
        <p>For questions about privacy-related issues email us at <a href="mailto:c2g-privacy@class.stanford.edu">c2g-privacy@class.stanford.edu</a></p>
   </div>
</div>
{% endblock m_column_content %}
