{% extends "base.html" %}
{% load url from future %}
{% block title %} Stanford Online | Contact Us {% endblock title %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>How to reach Stanford Online</h2>
        <p></p>
        {% if staffmail %}
        <p>For {{course.title}} course staff email <a href="mailto:{{staffmail}}">{{staffmail}}</a></p>
        {% endif %}
        <p>For general information email us at <a href="mailto:class2go-contact@cs.stanford.edu">class2go-contact@cs.stanford.edu</a></p>
        <p>For copyright concerns email us at <a href="mailto:class2go-copyright@cs.stanford.edu">class2go-copyright@cs.stanford.edu</a></p>
        <p>For bug reports email us at <a href="mailto:class2go-bugs@cs.stanford.edu">class2go-bugs@cs.stanford.edu</a></p>
        <p>For suggestions email us at <a href="mailto:class2go-suggestions@cs.stanford.edu">class2go-suggestions@cs.stanford.edu</a></p>
        <p>For technical support email us at <a href="mailto:class2go-techsupport@cs.stanford.edu">class2go-techsupport@cs.stanford.edu</a></p>
        <p>For disability-related questions email us at <a href="mailto:class2go-accessibility@cs.stanford.edu">class2go-accessibility@cs.stanford.edu</a></p>
        <p>For questions about privacy-related issues email us at <a href="mailto:class2go-privacy@cs.stanford.edu">class2go-privacy@cs.stanford.edu</a></p>
   </div>
</div>
{% endblock m_column_content %}
