{% extends "base.html" %}
{% block title %}{{common_page_data.course.title}} | Stanford Online{% endblock %}
{% load url from future %}

{% block page_title %}
<div class="pull-left page-title">
    <h2>{% block course_page_title %}{{common_page_data.course.title}}{% endblock course_page_title %}</h2>
</div>
{% endblock page_title %}

{% block navbar %}
<div class="navbar">
    <div class="navbar-inner nav-collapse collapse">
        <div class="container-fluid">
            <h2 id="main-nav-heading" class="hidden-accessible">Course Sections</h2>
            <ul class="nav" role="navigation" aria-labelledby="main-nav-heading">
                <li {% block home_link_class %}{% endblock home_link_class %}>
                    <a href="{% url 'courses.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">Home</a>
                </li>
                {% if common_page_data.course_mode == 'draft' or common_page_data.course_info_pages|length > 0 %}
                <li class="dropdown{% block course_info_link_class %}{% endblock course_info_link_class %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Info<em class="caret"></em></a>
                    <ul class="dropdown-menu">
                        {% for page in common_page_data.course_info_pages %}
                            <li><a href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix  page.slug %}">{{page.title}}</a></li>
                        {% endfor %}
                        {% if common_page_data.is_course_admin and common_page_data.course_mode == 'draft' %}
                            <li><a href="{% url 'courses.additional_pages.views.manage_nav_menu' common_page_data.course_prefix common_page_data.course_suffix %}">&nbsp;&nbsp; - Manage pages ...</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
		{% if common_page_data.course_mode = 'draft' or common_page_data.content_sections|length > 0 %}
		<li {% if common_page_data.course_mode = 'ready' %}class="dropdown{% endif %}{% block course_materials_link_class %}{% endblock course_materials_link_class %}{% if common_page_data.course_mode = 'ready' %}"{% endif %}>
		    <a href={% if common_page_data.course_mode = 'draft' %}"{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix %}"{% else %}"#" class="dropdown-toggle" data-toggle="dropdown"{% endif %}>Course Materials{% if common_page_data.course_mode = 'ready' %}<em class="caret"></em>{% endif %}</a>
		    {% if common_page_data.course_mode = 'ready' %}
		    <ul class="dropdown-menu">
		      {% for section in common_page_data.content_sections %}
		      <li><a href="{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix section.id %}">{{section.title}}</a></li>
		      {% endfor %}
		      <li><a href="{% url 'courses.views.course_materials' common_page_data.course_prefix common_page_data.course_suffix %}">Show all</a></li>
		    </ul>
		    {% endif %}
                </li>
		{% endif %}
                <li {% block forums_link_class %}{% endblock forums_link_class %}>
                    <a href="{% url 'courses.forums.views.view' common_page_data.course_prefix common_page_data.course_suffix %}">Forum</a>
                </li>
                {% if common_page_data.course.has_problem_sets %}
                <li {% block problemsets_link_class %}{% endblock problemsets_link_class %}>
                    <a href=" {% url 'problemset_list' common_page_data.course_prefix common_page_data.course_suffix %}">Quizzes</a>
                </li>
                {% endif %}
                {% if common_page_data.course.has_videos %}
                <li {% block videos_link_class %}{% endblock videos_link_class %}>
                    <a href="{% url 'courses.videos.views.list' common_page_data.course_prefix common_page_data.course_suffix %}">Videos</a>
                </li>
                {% endif %}
                {% if common_page_data.course.has_exams %}
                <li {% block exam_link_class %}{% endblock exam_link_class %}>
                    <a href="{% url 'exam_list' common_page_data.course_prefix common_page_data.course_suffix %}">Exams</a>
                </li>
                {% endif %}
                {% if common_page_data.course.has_surveys %}
                <li {% block survey_link_class %}{% endblock survey_link_class %}>
                    <a href="{% url 'survey_list' common_page_data.course_prefix common_page_data.course_suffix %}">Surveys</a>
                </li>
                {% endif %}
                {% if common_page_data.course.has_interactive_exercises %}
                <li {% block interactive_exercise_link_class %}{% endblock interactive_exercise_link_class %}>
                    <a href="{% url 'interactive_exercise_list' common_page_data.course_prefix common_page_data.course_suffix %}">Interactive Exercises</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="visible-phone">
                    <a href="/accounts/profile">My Account</a>
                </li>
                <li class="visible-phone">
                    <a href="{% url 'auth_logout' %}">Logout</a>
                </li>
                {% else %}
                    <li class="visible-phone"><a id="login_button" data-toggle="modal" href="{% url 'shib_login' %}?next={{ request.get_full_path }}">Login</a></li>
                    <li class="visible-phone"><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
                {% if common_page_data.can_switch_mode or common_page_data.is_course_admin %}
                    {% if common_page_data.course_mode == 'draft' %}
                        <li class="dropdown"{% block course_admin_link %}{% endblock course_admin_link %}>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Administration<em class="caret"></em></a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'courses.email_members.views.email_members' common_page_data.course_prefix common_page_data.course_suffix %}">Email Course Members</a></li>
                              <li><a href="{% url 'courses.reports.views.main' common_page_data.course_prefix common_page_data.course_suffix %}">Reports</a></li>
                                {% if common_page_data.course.share_to.exists %}
                              <li><a href="{% url 'courses.content_sections.views.copy_content_form' common_page_data.course_prefix common_page_data.course_suffix %}">Copy Content To Other Course</a></li>
                                {% endif %}
                              <!-- <li><a href="{% url 'courses.admin_views.admin' common_page_data.course_prefix common_page_data.course_suffix %}">Coming Soon!</a></li> -->
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
{% block messages %}
{% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
         <div class="alert alert-success"><em class="icon-ok"></em><button class="close" data-dismiss="alert">×</button>{{ message }}</div>
        {% endif %}
        {% if 'error' in message.tags %}
        <div class="alert alert-error"><em class="icon-fire"></em><button class="close" data-dismiss="alert">×</button>{{ message }}</div>
        {% endif %}
        {% if 'warning' in message.tags %}
        <div class="alert alert-warning"><em class="icon-warning-sign"></em><button class="close" data-dismiss="alert">×</button>{{ message }}</div>
        {% endif %}
        {% if 'info' in message.tags %}
        <div class="alert alert-info"><em class="icon-info-sign"></em><button class="close" data-dismiss="alert">×</button>{{ message }}</div>
        {% endif %}

    {% endfor %}

{% endif %}
{% endblock messages %}
{% block course_notification %}{% endblock course_notification %}

<div id="main-content" class="container-fluid body-content" role="main">
    <div class="row-fluid">
        {% block l_column_content %}{% endblock %}
        
        {% block m_column_content %}{% endblock %}
        
        {% block r_column_content %}{% endblock %}
    </div>
</div>
{% endblock content %}
