{% extends "base.html" %}
{% load url from future %}
{% block title%} Stanford Online | Help / FAQ{% endblock title %}
{% block navbar %} {% endblock navbar %}



{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>Help / FAQ </h2>
        <p></p>
        <h3>Questions</h3>
        <ol>
            <li> <a href="#chrome">I'm having trouble viewing content on the site!</a>
            <li> <a href="#profile">How do you I change my password or other personal info? </a>
            <li> <a href="#speed">How do I watch the videos sped up or slowed down?</a>
            <li> <a href="#more">I've got ideas for more items to add to this page!</a>
        
        </ol>
        <p></p>
        <h3>Answers</h3>
        <ol>
            <li><a name="chrome"></a>If you're having any difficulties viewing content on the site, try using Chrome or Firefox as your browser.</li>
            <li><a name="profile"></a>If you want to change your password, or any of your profile information, click on your name in the top navigation bar.</li>
            <li><a name="speed"></a>If you disable Flash in your browser, you should get the HTML5 YouTube player when you view a video, and if you click on "Settings" (the cog near the bottom right of your video player), you'll find options to change the speed.
            <li><a name="more"></a>Send suggestions</a> for useful help items to <a href="mailto:c2g-suggestions@class.stanford.edu">c2g-suggestions@class.stanford.edu</li>
        
        </ol>
    </div>
</div>
{% endblock m_column_content %}
