{% extends "base.html" %}
{% load url from future %}
{% block title%} Stanford Online | Help / FAQ{% endblock title %}
{% block navbar %} {% endblock navbar %}



{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>Help / FAQ </h2>
        <p></p>
        <ol>
            <li> If you're having any difficulties viewing content on the site, try using Chrome or Firefox as your browser.
            <li> If you want to change your password, or any of your profile information, click on your name in the top navigation bar.
            <li> More help to come!  Send suggestions for useful help items to <a href="mailto:class2go-suggestions@cs.stanford.edu">class2go-suggestions@cs.stanford.edu</a>
        
        </ol>
    </div>
</div>
{% endblock m_column_content %}
