{% load url from future %}
{% load template_utils %}

<div id="c2g_layout_l_column" class="span3">
    <div id="left-nav" class="well tight nav" role="navigation" aria-labelledby="sidebar-nav-heading-0">
        {% for content_section in contentsection_list %}
            {% with contentsection_id=content_section.id %}
                <div class="accordion-group">
                    {% if page %}
                        {% ifequal contentsection_id page.section_id %}
                            <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header expanded" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                            <ul class="nav nav-list collapse in" id="sidebar-nav-{{ forloop.counter0 }}">
                        {% else %}
                            <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                            <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                        {% endifequal %}
                    {% elif video %}
                        {% ifequal contentsection_id video.section_id %}
                            <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header expanded" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                            <ul class="nav nav-list collapse in" id="sidebar-nav-{{ forloop.counter0 }}">
                        {% else %}
                            <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                            <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                        {% endifequal %}
                    {% elif pset %}
                        {% ifequal contentsection_id pset.section_id %}
                            <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header expanded" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                            <ul class="nav nav-list collapse in" id="sidebar-nav-{{ forloop.counter0 }}">
                        {% else %}
                            <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                            <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                        {% endifequal %}
                    {% else %}
                        <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                        <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                    {% endif %}

                    {% for item in full_index_list|byKey:contentsection_id %}
                        {% with item_type=item.type item_title=item.ref.title ref=item.ref %}
                            {% if item_type == 'video' %} 
                                {% if is_logged_in %}
                                    {% ifequal item_title video.title %} 
                                        <li class="current"><a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Video"><em class="icon-facetime-video"></em><span> {{item_title}}</span></a></li>
                                    {% else %}
                                        <li><a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Video"><em class="icon-facetime-video"></em> <span>{{item_title}}</span></a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li><em class="icon-facetime-video"></em> <span>{{item_title}}</span></li>
                                {% endif %}
                            {% elif item_type == 'pset' %}
                                {% if is_logged_in %}
                                    {% ifequal item_title pset.title %}
                                        <li class="current"><a href="{% url 'problemsets.views.show' common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Problem Set"><em class="icon-pencil"></em><span>{{item_title}}</span></a></li>
                                    {% else %}
                                        <li><a href="{% url 'problemsets.views.show' common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Problem Set"><em class="icon-pencil"></em> <span>{{item_title}}</span></a></li>    
                                    {% endifequal %}     
                                {% else %}
                                    <li><em class="icon-pencil"></em> <span>{{item_title}}</span></li>
                                {% endif %}
                            {% elif item_type == 'additional_page' %}
                                {% if is_logged_in %}
                                    {% ifequal item_title page.title %}
                                        <li class="current"><a href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Page"><em class="icon-book"></em><span>{{item_title}}</span></a></li>
                                    {% else %}
                                        <li><a href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Page"><em class="icon-book"></em> <span>{{item_title}}</span></a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li><em class="icon-book"></em> <span>{{item_title}}</span></li>
                                {% endif %}
                            {% elif item_type == 'exam' %}
                                {% if is_logged_in %}
                                    {% ifequal item_title exam.title %}
                                        <li class="current"><a href="{% url ref.show_view common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Exam"><em class="icon-pencil"></em><span>{{item_title}}</span></a></li>
                                    {% else %}
                                        <li><a href="{% url ref.show_view common_page_data.course_prefix common_page_data.course_suffix ref.slug %}" title="Exam"><em class="icon-pencil"></em> <span>{{item_title}}</span></a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li><em class="icon-book"></em> <span>{{item_title}}</span></li>
                                {% endif %}
                            {% elif item_type == 'file' %}
                                {% if is_logged_in %}
                                    <li><a href="{{ref.file.url}}"><em class="icon-{{item.icon}}"></em> <span>{{item_title}}</span></a></li>
                                {% else %}
                                    <li><em class="icon-{{item.icon}}"></em> <span>{{item_title}}</span><li>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endfor %}

                    </ul>
                    <ul class="nav nav-list">
                        <li class="divider"></li>
                    </ul>
                </div>
            {% endwith %}
        {% endfor %}
        <ul class="nav nav-list">
            <li><a href="{% url 'c2g.views.faq' %}">Help/FAQs</a></li>
            <li><a href="{% url 'c2g.views.contactus' %}?pre={{common_page_data.course_prefix}}&post={{common_page_data.course_suffix}}">Contact</a></li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile">My profile</a></li>
            {% endif %}
        </ul>
    </div>
</div>
