{% load url from future %}

<div id="c2g_layout_l_column" class="span3">
    <div id="left-nav" class="well tight nav" role="navigation" aria-labelledby="sidebar-nav-heading-0">
        {% for content_section in contentsection_list %}
        <div class="accordion-group">
            {% if page %}
                {% ifequal content_section.id page.section_id %}
                    <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header expanded" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                    <ul class="nav nav-list collapse in" id="sidebar-nav-{{ forloop.counter0 }}">
                {% else %}
                    <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                    <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                {% endifequal %}
            {% elif video %}
                {% ifequal content_section.id video.section_id %}
                    <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header expanded" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                    <ul class="nav nav-list collapse in" id="sidebar-nav-{{ forloop.counter0 }}">
                {% else %}
                    <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                    <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                {% endifequal %}
            {% elif pset %}
                {% ifequal content_section.id pset.section_id %}
                    <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header expanded" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                    <ul class="nav nav-list collapse in" id="sidebar-nav-{{ forloop.counter0 }}">
                {% else %}
                    <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                    <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
                {% endifequal %}
            {% else %}
                <h3 id="sidebar-nav-heading-{{ forloop.counter0 }}" class="nav-header collapsed" data-toggle="collapse" data-target="#sidebar-nav-{{ forloop.counter0 }}" data-parent="#left-nav">{{content_section.title}}</h3>
                <ul class="nav nav-list collapse" id="sidebar-nav-{{ forloop.counter0 }}">
            {% endif %}
      		{% for list_item in full_index_list %}
      		    {% for item in list_item %}
                    {% ifequal content_section.id item.3 %}
                        {% ifequal item.0 'video' %} 
                            {% if is_logged_in %}
                                {% ifequal item.5 video.title %} 
                                    <li class="current"><a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Video"><em class="icon-facetime-video"></em><span> {{item.5}}</span></a></li>
                                {% else %}
                                    <li><a href="{% url 'courses.videos.views.view' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Video"><em class="icon-facetime-video"></em> <span>{{item.5}}</span></a></li>
                                {% endifequal %}
      		 		        {% else %}
                                <li><em class="icon-facetime-video"></em> <span>{{item.5}}</span></li>
                            {% endif %}
                        {% endifequal %}
                        {% ifequal item.0 'pset' %}
                            {% if is_logged_in %}
                                {% ifequal item.5 pset.title %}
                                    <li class="current"><a href="{% url 'problemsets.views.show' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Problem Set"><em class="icon-pencil"></em><span>{{item.5}}</span></a></li>
                                {% else %}
                                    <li><a href="{% url 'problemsets.views.show' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Problem Set"><em class="icon-pencil"></em> <span>{{item.5}}</span></a></li>    
                                {% endifequal %}     
      		 	            {% else %}
                                <li><em class="icon-pencil"></em> <span>{{item.5}}</span></li>
      		 	            {% endif %}
                        {% endifequal %}
                        {% ifequal item.0 'additional_page' %}
                            {% if is_logged_in %}
                                {% ifequal item.5 page.title %}
                                    <li class="current"><a href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Page"><em class="icon-book"></em><span>{{item.5}}</span></a></li>
                                {% else %}
                                    <li><a href="{% url 'courses.additional_pages.views.main' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Page"><em class="icon-book"></em> <span>{{item.5}}</span></a></li>
                                {% endifequal %}
      		 	            {% else %}
                                <li><em class="icon-book"></em> <span>{{item.5}}</span></li>
      		 	            {% endif %}
      		 	        {% endifequal %}
      		 	        
      		 	        {% ifequal item.0 'exam' %}
                            {% if is_logged_in %}
                                {% ifequal item.5 exam.title %}
                                    <li class="current"><a href="{% url 'courses.exams.views.show_exam' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Exam"><em class="icon-pencil"></em><span>{{item.5}}</span></a></li>
                                {% else %}
                                    <li><a href="{% url 'courses.exams.views.show_exam' common_page_data.course_prefix common_page_data.course_suffix item.4 %}" title="Exam"><em class="icon-pencil"></em> <span>{{item.5}}</span></a></li>
                                {% endifequal %}
      		 	            {% else %}
                                <li><em class="icon-book"></em> <span>{{item.5}}</span></li>
      		 	            {% endif %}
      		 	        {% endifequal %}
      		 	        
                        {% ifequal item.0 'file' %}
                            {% if is_logged_in %}
                                <li><a href="{{item.4}}"><em class="icon-{{item.6}}"></em> <span>{{item.5}}</span></a></li>
                            {% else %}
                                <li><em class="icon-{{item.6}}"></em> <span>{{item.5}}</span><li>
                            {% endif %}
                        {% endifequal %}
                    {% endifequal %}
                {% endfor %}	
            {% endfor %}
            </ul>
            <ul class="nav nav-list">
                <li class="divider"></li>
            </ul>
        </div>
        {% endfor %}
        <ul class="nav nav-list">
            <li><a href="{% url 'c2g.views.faq' %}">Help/FAQs</a></li>
            <li><a href="{% url 'c2g.views.contactus' %}?pre={{common_page_data.course_prefix}}&post={{common_page_data.course_suffix}}">Contact</a></li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile">My profile</a></li>
            {% endif %}
        </ul>
    </div>
</div>
