@import "core/foundation";
@import "datepicker";

/**** UTILITIES ****/
	/** Variables **/ 
		$serif-face: "kepler-std", Georgia, Times, serif;
		$sans-face: "ff-meta-web-pro", "Myriad Pro", Helvetica, Arial, sans-serif;

	/** Selectors **/
		$all-headings: "h1, h2, h3, h4, h5, h6";
		$all-paragraphs: "p, span, li, em";
		$all-text: $all-headings + ", " + $all-paragraphs + ", a, a:hover";

	/** Overrides **/
		.bold {font-weight: bold;}
		.light {font-weight: lighter;}
		.white {color: $light-color;}
		.black {color: $dark-color;}
		.serif {font-family: $serif-face;}
		.sans {font-family: $sans-face;}
		.italic {font-style: italic;}

/********************/

/*** TEMPLATES STYLES ***/
.main-column{
	h1, h2, h3{
		margin-top:.8em;
	}
}
section {
	width: 100%;
	padding: 2em 0;
}
.cross-bar {
	background-color: $brand-primary;
	padding: 1em 0;
}

#global-header {
	@include grid-row;
	ul{
		margin-bottom: 0px;
		font-size: 1.4em;
		@extend .serif;
		a{
			color:white;
		}
	}
	.user-account {
		text-align: right;
		a, span{
			letter-spacing: 1px;
			margin-bottom: 0;
			color: white;
			font-size: .8rem;
			margin-right: .5em;
			&.button {
				background-color: rgba(255, 255, 255, 0.2);
				border: none;
				box-shadow: none;
				border-radius:3px;
				font-weight: 600;
			}
			&:hover.button{
				background-color: rgba(255, 255, 255, 0.4);
			}
		}
	}
}

/**
	general link bar styles
**/
nav.top-bar{

	color: #fff;

	@include grid-row;

	header > span{
		text-shadow: 1px -1px #000;margin-right:15px;
	}

	a{
		display:inline-block;
		padding:0em 1em 0em 1em;
		color:#fff;
		&.active{
			color:#fff;pointer-events:none; cursor:default;
		}
	}
}

div.red-bar-container, nav.red-bar{
	background-color:#5B0000;
}
nav.red-bar{

	a{
		color:#ddd;

		&:hover{
			background-color: #761E1E;
		}

		&.active{
			border-bottom: 6px solid #666;background-color:#470000;
		}

	}
}
div.grey-bar-container, nav.grey-bar{
	background-color: #222;
}
nav.grey-bar{

	a{
		&:hover{
			background-color: #444;
		}
	}

}

#school-logo {
	color: white;
	font-size: 6em;
	line-height: 1.5rem;
	vertical-align: middle;
}

/*************** HERO **************/
.hero {
	position: relative;  // Necessary to position background image absolutely
	height: 20rem;
	overflow: hidden;
	padding: 5rem 0;
}
.hero-background {
	// Locking background image to be centered both axes in all cases, see http://codepen.io/shshaw/full/gEiDt
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: auto;
	width: 100%;
}
.hero-content {
	@include grid-row;
	position: relative;
	height: auto;
	vertical-align: middle;
	#{$all-headings} {color: $brand-secondary;}
	& > div {
		@include grid-column(9);
	}
	& > div[class*="--right"] {
		@include grid-column(9, $offset: 3, $last-column: true);		
		text-align: right;
	}
}

/*********** INTRO-BLOCK ***********/
// Use this block for exciting announcements,
// but not for security risks, urgent alerts, etc.

.intro-block {
	@include grid-row;
	background-color: $light-grey;
	margin-top: -0.7em; // TEMPORARY FIX UNTIL WE FIGURE OUT WHAT WE CAN AND CANNOT REMOVE FROM TEMPLATES
}
.intro-content {
	@include grid-column(6, $last-column: true, $center: true);
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	#{$all-text}{
		text-align: center;
		color: $brand-secondary;
	}
	.greeting {
		@extend .italic;
	}
	.description {
		opacity: 0.8;
	}
	#important-tag {
		margin-top: 1em;
		color: lighten($primary-color, 70%);
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 80%;
		letter-spacing: 2px;
		background-color: $primary-color;
		padding: 0.5em;
		border-radius: 5px;
		width: 50%;
		display: inline-block;
		margin-left: 25%;
		text-align: center;
	}
}

.section-information {
	@include grid-row;
	.section-title {
		@include grid-column(12);
		opacity: 0.4;
	}
}



.featured-courses {
	margin-top: 3em;
}
.course-grid {@include grid-row;}
.course-container {
	@include grid-column(4);
}
.course-name {
	font-weight: bold;
}
.course-instructor {
	@extend .subheader;
	@extend .italic;
	color: $brand-primary;
}
.course-technical {
	list-style: none;
	@include grid-row;
	background-color: $light-grey;
	li {
		@include grid-column(4);
		@extend .sans;
		color: $dark-grey;
		text-align: center;
	}
}

.about-class2go {
	background-color: #F2F5F7;
	margin-top: 3em;
}

.feature-grid {
	@include grid-row();
	& > div:nth-child(odd) {
		.feature-image {
			@include grid-column(7);
		}
		.feature-information {
			@include grid-column(5);
		}
	}
	& > div:nth-child(even) {
		.feature-image {
			@include grid-column(7, $push: 5);
		}
		.feature-information {
			@include grid-column(5, $pull: 7);
		}
	}
	.feature-container {
		@include grid-row($behavior: nested);
		margin-top: 1em;
		margin-bottom: 4em;
	}
}

/********** FOOTER *****/
.powered-by-class2go {
	background-color: $brand-primary;
	padding: 0.5em;
	a {display: inline-block}
	h6 {
		@include grid-column(12);
		color: white;
		@extend .light;
		font-size: .8rem;
		margin:0px;
	}
}

footer {

	background-color: $brand-secondary;
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 1em;

	.brand {
		@include grid-row();
	}
	.logo {
		@include grid-column(12);
		span {
			@extend .serif;
			@extend .italic;
			@extend .light;
		}
	}
	.school-info {
		@include grid-row();
	}
	.addr-card {
		@include grid-column(4);
		p.vcard{
			color: white;
			border: none;
			padding: 0;
		}
	}
	.important-links {
		@include grid-column(4);
		ul {list-style: none}
		li {@extend .sans;}
		a{
			color: #ccc;
			&:hover{
				color: #fff;
			}
		}
	}
}

#school-footer-logo {
	font-size: 10em;
	color: white;
	line-height: 0.4em;
	display: inline-block;
}

/******************* FORMS ****************/
@import "forms";