@import "core/foundation";

/**** UTILITIES ****/
	/** Variables **/ 
		$serif-face: "kepler-std", Georgia, Times, serif;
		$sans-face: "ff-meta-web-pro", "Myriad Pro", Helvetica, Arial, sans-serif;

	/** Selectors **/
		$all-headings: "h1, h2, h3, h4, h5, h6";
		$all-paragraphs: "p, span, li, em";
		$all-text: $all-headings + ", " + $all-paragraphs + ", a, a:hover";

	/** Overrides **/
		.bold {font-weight: bold;}
		.light {font-weight: lighter;}
		.white {color: $light-color;}
		.black {color: $dark-color;}
		.serif {font-family: $serif-face;}
		.sans {font-family: $sans-face;}
		.italic {font-style: italic;}

/********************/



/*** TEMPLATES STYLES ***/
section {
	width: 100%;
	padding: 2em 0;
}
.cross-bar {
	background-color: $brand-primary;
	padding: 1em 0;
}

#global-header {
	@include grid-row;
	.school-brand {
		@include grid-column(6);
	}
	.user-account {
		@include grid-column(6);
		text-align: right;
		a {
			letter-spacing: 1px;
			margin-bottom: 0;
			margin-left: 1em;
			font-size: 0.5rem;
			color: white;
			&.button {
				background-color: rgba(255, 255, 255, 0.2);
				border: none;
				box-shadow: none;
			}
		}
	}
}

#school-logo {
	color: white;
	font-size: 6em;
	line-height: 1.5rem;
	vertical-align: middle;
}


/*************** HERO **************/
.hero {
	position: relative;  // Necessary to position background image absolutely
	height: 20rem;
	overflow: hidden;
	padding: 5rem 0;
}
.hero-background {
	// Locking background image to be centered both axes in all cases, see http://codepen.io/shshaw/full/gEiDt
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: auto;
	width: 100%;
}
.hero-content {
	@include grid-row;
	position: relative;
	height: auto;
	vertical-align: middle;
	#{$all-headings} {color: $brand-secondary;}
	& > div {
		@include grid-column(9);
	}
	& > div[class*="--right"] {
		@include grid-column(9, $offset: 3, $last-column: true);		
		text-align: right;
	}
}

/*********** INTRO-BLOCK ***********/
// Use this block for exciting announcements,
// but not for security risks, urgent alerts, etc.

.intro-block {
	@include grid-row;
	background-color: $light-grey;
	margin-top: -0.7em; // TEMPORARY FIX UNTIL WE FIGURE OUT WHAT WE CAN AND CANNOT REMOVE FROM TEMPLATES
}
.intro-content {
	@include grid-column(6, $last-column: true, $center: true);
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	#{$all-text}{
		text-align: center;
		color: $brand-secondary;
	}
	.greeting {
		@extend .italic;
	}
	.description {
		opacity: 0.8;
	}
	#important-tag {
		margin-top: 1em;
		color: lighten($primary-color, 70%);
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 80%;
		letter-spacing: 2px;
		background-color: $primary-color;
		padding: 0.5em;
		border-radius: 5px;
		width: 50%;
		display: inline-block;
		margin-left: 25%;
		text-align: center;
	}
}

.section-information {
	@include grid-row;
	.section-title {
		@include grid-column(12);
		opacity: 0.4;
	}
}



.featured-courses {
	margin-top: 3em;
}
.course-grid {@include grid-row;}
.course-container {
	@include grid-column(4);
}
.course-name {
	font-weight: bold;
}
.course-instructor {
	@extend .subheader;
	@extend .italic;
	color: $brand-primary;
}
.course-technical {
	list-style: none;
	@include grid-row;
	background-color: $light-grey;
	li {
		@include grid-column(4);
		@extend .sans;
		color: $dark-grey;
		text-align: center;
	}
}

.about-class2go {
	background-color: #F2F5F7;
	margin-top: 3em;
}

.feature-grid {
	@include grid-row();
	& > div:nth-child(odd) {
		.feature-image {
			@include grid-column(7);
		}
		.feature-information {
			@include grid-column(5);
		}
	}
	& > div:nth-child(even) {
		.feature-image {
			@include grid-column(7, $push: 5);
		}
		.feature-information {
			@include grid-column(5, $pull: 7);
		}
	}
	.feature-container {
		@include grid-row($behavior: nested);
		margin-top: 1em;
		margin-bottom: 4em;
	}
}

/********** FOOTER *****/
.powered-by-class2go {
	background-color: $brand-primary;
	padding: 0.5em;
	a {display: inline-block}
	h6 {
		@include grid-column(12);
		color: white;
		@extend .light;
		font-size: 50%;
	}
}

footer {
	background-color: $brand-secondary;
	padding-top: 2em;
	padding-bottom: 2em;
	.brand {
		@include grid-row();
	}
	.logo {
		@include grid-column(12);
		span {
			@extend .serif;
			@extend .italic;
			@extend .light;
		}
	}
	.school-info {
		opacity: 0.5;
		@include grid-row();
		#{$all-text} {
			font-size: 0.8em;
			color: white;
		}
	}
	.addr-card {
		@include grid-column(4);
	}
	.important-links {
		@include grid-column(4);
		ul {list-style: none}
		li {@extend .sans;}
	}
}

#school-footer-logo {
	font-size: 10em;
	color: white;
	line-height: 0.4em;
	display: inline-block;
}

footer .vcard {
	border: none;
	padding: 0;
}







/******************* FORMS ****************/
.modal-form {
	// Use this layout for forms that are
	// required to proceed. Log-in, Registration
	// and User Acknowledgements. 
	// Should be a single-column form, though
	// related fields can be side-by-side.
	// See registration page for example.
	@include grid-row();
	padding-top: 3em;
	padding-bottom: 3em;
	.form-info {
		@include grid-column(7, $last-column: true, $center: true);
		h6 {@extend .subheader;}
		text-align: center;
	}
	.form-body {
		@include grid-column(6, $last-column: true, $center: true);
		margin-top: 2em;
	}
	.control-group {
		@include grid-column(12);
	}
	input {
		@include radius;		
	}
	fieldset {
		@include grid-row();
		@include radius;
	}
	.two-inputs .control-group {
			@include grid-column(6);
	}
	.req-check {
		@extend .button;
		@extend button.secondary;
		font-size: 0.5em;
		padding-top: 1.4em;
		padding-bottom: 1.4em;
		input {
			margin-right: 0.5em;
			margin-bottom: 0;
		}
	}
	#submit {
		border: none;
		@extend .button;
		@extend .button.success;
		width: 100%;
		padding: 1em;
		text-transform: uppercase;
		font-size: 0.7em;
		display: inline-block;
	}
	#alternative {
		border: 1px solid rgba(0, 0, 0, 0.2);
		@include radius;
		padding: 1em;
		display: inline-block;
		margin-top: 1em;
		font-size: 0.6em;
		font-weight: lighter;
	}
}